workflows/influencer/05-publicar-contenido.json
{
  "name": "Influencer - 05 Publicar Contenido",
  "nodes": [
    {
      "parameters": {},
      "id": "a5000001-0001-4000-8000-000000000001",
      "name": "Trigger Sub-Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-800, 240]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst captionIG = `${input.titulo_post}\\n\\n${input.gancho}\\n${input.cta}\\n\\n${input.hashtags} #pymescl #mitiendavirtual #marketingia #reels #emprendedoreschile`;\nconst captionTT = `${input.gancho}\\n\\n${input.cta}\\n\\n${input.hashtags} #pymescl #mitiendavirtual #marketingia`;\n\nreturn [{\n  json: {\n    video_url: input.video_url,\n    caption_instagram: captionIG,\n    caption_tiktok: captionTT,\n    titulo_post: input.titulo_post,\n    gancho: input.gancho,\n    cta: input.cta,\n    hashtags: input.hashtags\n  }\n}];"
      },
      "id": "a5000001-0001-4000-8000-000000000002",
      "name": "Preparar Captions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-560, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v25.0/{{ $json.ig_business_account_id || 'IG_ACCOUNT_ID' }}/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"media_type\": \"REELS\",\n  \"video_url\": {{ JSON.stringify($json.video_url) }},\n  \"caption\": {{ JSON.stringify($json.caption_instagram) }},\n  \"share_to_feed\": true,\n  \"access_token\": \"{{ $json.ig_access_token || 'IG_ACCESS_TOKEN' }}\"\n}",
        "options": { "timeout": 60000 }
      },
      "id": "a5000001-0001-4000-8000-000000000003",
      "name": "Instagram - Crear Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-240, 80]
    },
    {
      "parameters": { "amount": 30 },
      "id": "a5000001-0001-4000-8000-000000000004",
      "name": "Esperar IG",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [0, 80],
      "webhookId": "pub-wait-ig"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v25.0/{{ $('Preparar Captions').item.json.ig_business_account_id || 'IG_ACCOUNT_ID' }}/media_publish",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"creation_id\": \"{{ $('Instagram - Crear Container').first().json.id }}\",\n  \"access_token\": \"{{ $('Preparar Captions').item.json.ig_access_token || 'IG_ACCESS_TOKEN' }}\"\n}",
        "options": { "timeout": 30000 }
      },
      "id": "a5000001-0001-4000-8000-000000000005",
      "name": "Instagram - Publicar Reel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 80]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.tiktokapis.com/v2/post/publish/video/init/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post_info\": {\n    \"title\": {{ JSON.stringify($json.caption_tiktok) }},\n    \"privacy_level\": \"PUBLIC_TO_EVERYONE\",\n    \"disable_duet\": false,\n    \"disable_comment\": false,\n    \"disable_stitch\": false,\n    \"video_cover_timestamp_ms\": 1000\n  },\n  \"source_info\": {\n    \"source\": \"PULL_FROM_URL\",\n    \"video_url\": {{ JSON.stringify($json.video_url) }}\n  }\n}",
        "options": { "timeout": 60000 }
      },
      "id": "a5000001-0001-4000-8000-000000000006",
      "name": "TikTok - Publicar Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-240, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CONFIGURAR",
          "name": "TikTok Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const igResult = $('Instagram - Publicar Reel').first()?.json || { status: 'no ejecutado' };\nconst ttResult = $('TikTok - Publicar Video').first()?.json || { status: 'no ejecutado' };\n\nreturn [{\n  json: {\n    timestamp: new Date().toISOString(),\n    results: {\n      instagram: {\n        status: igResult.id ? 'publicado' : 'error',\n        media_id: igResult.id || null,\n        error: igResult.error || null\n      },\n      tiktok: {\n        status: ttResult.error?.code ? 'error' : 'publicado',\n        publish_id: ttResult.data?.publish_id || null,\n        error: ttResult.error || null\n      }\n    }\n  }\n}];"
      },
      "id": "a5000001-0001-4000-8000-000000000007",
      "name": "Log Resultados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 240]
    }
  ],
  "connections": {
    "Trigger Sub-Workflow": {
      "main": [[{ "node": "Preparar Captions", "type": "main", "index": 0 }]]
    },
    "Preparar Captions": {
      "main": [
        [
          { "node": "Instagram - Crear Container", "type": "main", "index": 0 },
          { "node": "TikTok - Publicar Video", "type": "main", "index": 0 }
        ]
      ]
    },
    "Instagram - Crear Container": {
      "main": [[{ "node": "Esperar IG", "type": "main", "index": 0 }]]
    },
    "Esperar IG": {
      "main": [[{ "node": "Instagram - Publicar Reel", "type": "main", "index": 0 }]]
    },
    "Instagram - Publicar Reel": {
      "main": [[{ "node": "Log Resultados", "type": "main", "index": 0 }]]
    },
    "TikTok - Publicar Video": {
      "main": [[{ "node": "Log Resultados", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false },
  "tags": [{ "name": "influencer-virtual" }]
}
