n8n/El Rescatista (Human _ Bot).json
{
  "name": "El Rescatista (Human > Bot)",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "chat_states",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "human"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        144,
        0
      ],
      "id": "59f7cd2d-2293-4b7c-9fcb-47e30a99883c",
      "name": "Buscar Conversaciones \"Humanas",
      "credentials": {
        "supabaseApi": {
          "id": "4hWqjffSDMk2pC8i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "f7179372-aef5-4486-af76-e072e0cce5c6",
              "leftValue": "={{ $json.updated_at ? $json.updated_at : $now }}",
              "rightValue": "={{ $now.minus(2, 'hours') }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "754ac3af-3c6b-44b3-8cd2-0a76fc4591c9",
      "name": "La Matemática del Tiempo (El Filtro)"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "chat_states",
        "filters": {
          "conditions": [
            {
              "keyName": "instagram_id",
              "condition": "eq",
              "keyValue": "={{ $('Buscar Conversaciones \"Humanas').item.json.instagram_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "bot"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        688,
        -80
      ],
      "id": "91b354df-437b-4450-8f19-43a0e8c2e0a4",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "4hWqjffSDMk2pC8i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -192,
        -128
      ],
      "id": "d35a2282-5bfa-41c5-ac63-12f20a9c2fd5",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Buscar Conversaciones \"Humanas": {
      "main": [
        [
          {
            "node": "La Matemática del Tiempo (El Filtro)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "La Matemática del Tiempo (El Filtro)": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Buscar Conversaciones \"Humanas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d0175049-7c7d-4121-b3aa-18779466a7cc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5516a2a9cf205e273f8d3d2fa2ee6e75611a482072bccca1b3d4b67e92eb589"
  },
  "id": "SxTXv37tLKBK7Pk-p6vfq",
  "tags": []
}