n8n/Google Calendar Sync.json
{
  "name": "Google Calendar Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "gcal-cron-trigger",
      "name": "Cada 15 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mitiendavirtual.cl/api/google-calendar?action=sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-gcal-sync-secret",
              "value": "={{ $env.GCAL_SYNC_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "gcal-sync-request",
      "name": "Sync Google Calendar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "gcal-check-errors",
              "leftValue": "={{ $json.errors }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "gcal-check-errors",
      "name": "¿Hubo errores?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const data = items[0].json;\nconsole.log(`[Google Calendar Sync] Synced: ${data.synced || 0}, Errors: ${data.errors || 0}, Users: ${data.users || 0}`);\nreturn items;"
      },
      "id": "gcal-log-success",
      "name": "Log OK",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "functionCode": "const data = items[0].json;\nconsole.error(`[Google Calendar Sync] ERROR - Synced: ${data.synced || 0}, Errors: ${data.errors || 0}`);\nreturn items;"
      },
      "id": "gcal-log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1120,
        200
      ]
    }
  ],
  "connections": {
    "Cada 15 minutos": {
      "main": [
        [
          {
            "node": "Sync Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Google Calendar": {
      "main": [
        [
          {
            "node": "¿Hubo errores?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hubo errores?": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {},
  "tags": []
}
