n8n/Instagram OAuth.json
{
  "name": "Instagram OAuth",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "instagram-auth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -880,
        -96
      ],
      "id": "1d485b0c-6642-4634-b1af-c810f80404b4",
      "name": "Webhook",
      "webhookId": "1f73eea1-f7d1-4d71-bdd1-2d6c1e08088a"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "https://www.mitiendavirtual.cl/dashboard?connected=true",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1264,
        -128
      ],
      "id": "2e54707f-ab03-4d72-ae9d-c434058b2b71",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v21.0/oauth/access_token",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "1397698478805069"
            },
            {
              "name": "client_secret",
              "value": "62c35d130a8b92a39bf72023dcfb13ff"
            },
            {
              "name": "redirect_uri",
              "value": "https://webhook.mitiendavirtual.cl/webhook/instagram-auth"
            },
            {
              "name": "code",
              "value": "={{ $json.query.code }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -224,
        -128
      ],
      "id": "ee5c9dff-2618-43e9-be25-18c93baf4f01",
      "name": "access_token"
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v21.0/me",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "me",
              "value": "fields"
            },
            {
              "name": "access_token",
              "value": "={{ $node[\"access_token\"].json[\"access_token\"] }}"
            },
            {
              "name": "fields",
              "value": "accounts{name,access_token,instagram_business_account}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        -128
      ],
      "id": "a041a842-7405-4d35-ac35-961cbefde063",
      "name": "me"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "instances",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.query.state }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "access_token",
              "fieldValue": "={{ $('me').item.json.accounts.data[0].access_token }}"
            },
            {
              "fieldId": "provider_id",
              "fieldValue": "={{ $('me').item.json.accounts.data[0].instagram_business_account.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        -128
      ],
      "id": "5e4485ea-69ea-41d3-b98d-3960ff289bb2",
      "name": "Update a access_token",
      "credentials": {
        "supabaseApi": {
          "id": "4hWqjffSDMk2pC8i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.query.state }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "full_name",
              "fieldValue": "={{ $('me').item.json.accounts.data[0].name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1008,
        -128
      ],
      "id": "f363ab9c-8071-4f0a-b80e-04a5dabdc1af",
      "name": "Update fullname",
      "credentials": {
        "supabaseApi": {
          "id": "4hWqjffSDMk2pC8i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "028b6f0b-b18c-4983-84b2-ed1b909e856a",
              "leftValue": "={{ $json.query.code }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -544,
        -112
      ],
      "id": "5518b4fb-8c46-4f19-8377-4a5e3adead78",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "https://www.mitiendavirtual.cl/dashboard?error=cancelled",
        "options": {
          "responseCode": 302
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -288,
        96
      ],
      "id": "2e6e90a2-9e52-40e5-9668-f132734109f6",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/me/subscribed_apps",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.accounts.data[0].access_token }}"
            },
            {
              "name": "subscribed_fields",
              "value": "messages, messaging_postbacks"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        256,
        -128
      ],
      "id": "6c850743-aa08-42fd-8cff-6d7b08c76294",
      "name": "Subscribed app"
    },
    {
      "parameters": {
        "content": "revisar el me de la subscripcion\n{{ $json.accounts.data[0].instagram_business_account.id }}",
        "width": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        -304
      ],
      "typeVersion": 1,
      "id": "4e01476a-3a4b-4f33-86af-4d93ccf68c21",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "access_token": {
      "main": [
        [
          {
            "node": "me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "me": {
      "main": [
        [
          {
            "node": "Subscribed app",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a access_token": {
      "main": [
        [
          {
            "node": "Update fullname",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update fullname": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "access_token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subscribed app": {
      "main": [
        [
          {
            "node": "Update a access_token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "52855745-e316-43ab-843f-63f2e2d3bc3e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5516a2a9cf205e273f8d3d2fa2ee6e75611a482072bccca1b3d4b67e92eb589"
  },
  "id": "RKk3hWLMtQznZe29BLdyP",
  "tags": []
}