n8n/notificacion mercado pago.json
{
  "name": "notificacion mercado pago",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payment-notification",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1312,
        32
      ],
      "id": "8e8c4b89-80de-4e5d-a8d0-4bd526f294dd",
      "name": "Webhook - Notificación MP",
      "webhookId": "b03beda9-4796-4444-8981-812e99ca1c78"
    },
    {
      "parameters": {
        "url": "={{ 'https://api.mercadopago.com/v1/payments/' + $json.body.data.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -864,
        16
      ],
      "id": "9fae481e-82a3-4834-b6e9-4f6e9cb3a776",
      "name": "Consultar Estado Pago",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Raq5ot35F9zaYSp4",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "approved"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -416,
        16
      ],
      "id": "62706fac-22cf-4d4d-b89b-43eb1e012360",
      "name": "Es Aprobado?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2966a885-b064-4f2e-80af-73caea93a5fd",
              "leftValue": "={{ $json.body.data.id }}",
              "rightValue": "={{ 'payment'}}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1088,
        32
      ],
      "id": "dc176a2c-76ac-409c-be66-edb50d80306c",
      "name": "filter-payments"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Consultar Estado Pago').item.json.additional_info.items[0].title }}",
                    "rightValue": "Básico",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4e155e2e-5b72-43d2-8db7-0d2019f01516"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c377bf89-79a6-43f5-8040-a31f2747e62b",
                    "leftValue": "={{ $('Consultar Estado Pago').item.json.additional_info.items[0].title }}",
                    "rightValue": "Pro",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b1a36259-7fc7-49e3-9535-b8ac4c1318c3",
                    "leftValue": "={{ $('Consultar Estado Pago').item.json.additional_info.items[0].title }}",
                    "rightValue": "Full",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -192,
        -16
      ],
      "id": "358e31ed-74c6-48df-9a16-7bf385e2d1b3",
      "name": "Switch"
    },
    {
      "parameters": {
        "tableId": "payment_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ JSON.parse($json.external_reference).user_id }}"
            },
            {
              "fieldId": "payment_id",
              "fieldValue": "={{ $json.id.toString() }}"
            },
            {
              "fieldId": "amount",
              "fieldValue": "={{ $json.transaction_amount }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "plan_name",
              "fieldValue": "={{ JSON.parse($json.external_reference).plan_code}}"
            },
            {
              "fieldId": "payment_date",
              "fieldValue": "={{ $json.date_approved }}"
            },
            {
              "fieldId": "authorization_code",
              "fieldValue": "={{ $json.authorization_code }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -640,
        16
      ],
      "id": "bf8d2380-5e86-443b-8812-03a6892e7da7",
      "name": "Guardar en Payment Logs",
      "credentials": {
        "supabaseApi": {
          "id": "4hWqjffSDMk2pC8i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "##falta el flujo de rechazo o sin saldo revisar"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        -176
      ],
      "typeVersion": 1,
      "id": "2f8c44e0-2635-4340-ba7d-a7e1e2e52098",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "plans",
        "filters": {
          "conditions": [
            {
              "keyName": "code",
              "keyValue": "={{ JSON.parse($('Consultar Estado Pago').item.json.external_reference).plan_code}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        32,
        -176
      ],
      "id": "get-plan-by-code",
      "name": "Get Plan By Code",
      "credentials": {
        "supabaseApi": {
          "id": "4hWqjffSDMk2pC8i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "plans",
        "filters": {
          "conditions": [
            {
              "keyName": "code",
              "keyValue": "={{ JSON.parse($('Consultar Estado Pago').item.json.external_reference).plan_code}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        32,
        16
      ],
      "id": "get-plan-pro",
      "name": "Get Plan Pro",
      "credentials": {
        "supabaseApi": {
          "id": "4hWqjffSDMk2pC8i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "plans",
        "filters": {
          "conditions": [
            {
              "keyName": "code",
              "keyValue": "={{ JSON.parse($('Consultar Estado Pago').item.json.external_reference).plan_code}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        32,
        208
      ],
      "id": "get-plan-full",
      "name": "Get Plan Full",
      "credentials": {
        "supabaseApi": {
          "id": "4hWqjffSDMk2pC8i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ JSON.parse($('Consultar Estado Pago').item.json.external_reference).user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "plan_type",
              "fieldValue": "={{ $json.code }}"
            },
            {
              "fieldId": "messages_used",
              "fieldValue": "0"
            },
            {
              "fieldId": "plan_expires_at",
              "fieldValue": "={{ $now.plus(($('Get Plan By Code').item.json.duration_days || 30), 'days') }}"
            },
            {
              "fieldId": "messages_used_tl",
              "fieldValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        256,
        -176
      ],
      "id": "39080fd3-ccc8-45c2-8232-e09cfcaa2b71",
      "name": "Activar Plan en Basico",
      "credentials": {
        "supabaseApi": {
          "id": "4hWqjffSDMk2pC8i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ JSON.parse($('Consultar Estado Pago').item.json.external_reference).user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "plan_type",
              "fieldValue": "={{ $json.code }}"
            },
            {
              "fieldId": "messages_used",
              "fieldValue": "0"
            },
            {
              "fieldId": "plan_expires_at",
              "fieldValue": "={{ $now.plus(($('Get Plan Pro').item.json.duration_days || 30), 'days') }}"
            },
            {
              "fieldId": "messages_used_tl",
              "fieldValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        256,
        16
      ],
      "id": "4a912315-84dc-4e4e-8fdd-3d011d591ec5",
      "name": "Activar Plan en Pro",
      "credentials": {
        "supabaseApi": {
          "id": "4hWqjffSDMk2pC8i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ JSON.parse($('Consultar Estado Pago').item.json.external_reference).user_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "plan_type",
              "fieldValue": "={{ $json.code }}"
            },
            {
              "fieldId": "messages_used",
              "fieldValue": "0"
            },
            {
              "fieldId": "plan_expires_at",
              "fieldValue": "={{ $now.plus(($('Get Plan Full').item.json.duration_days || 30), 'days') }}"
            },
            {
              "fieldId": "messages_used_tl",
              "fieldValue": "0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        256,
        208
      ],
      "id": "3676bcbf-fdea-4572-901b-b5efd5954b7f",
      "name": "Activar Plan en Full",
      "credentials": {
        "supabaseApi": {
          "id": "4hWqjffSDMk2pC8i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://iesmzunoepfwkxilvxdv.supabase.co/rest/v1/rpc/reactivate_all_products",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_user_id",
              "value": "={{ $('Guardar en Payment Logs').item.json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        544,
        -176
      ],
      "id": "3b513000-b5e3-44a7-a7fb-4cd9f9695dea",
      "name": "Reactivar Productos Basico",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bRPHwOivYfq5D2ib",
          "name": "supa base secret"
        }
      },
      "notes": "Al activar plan Básico, reactiva todos los productos del usuario (hasta 50 podrán subirse)."
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "instances",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ JSON.parse($('Consultar Estado Pago').item.json.external_reference).user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        544,
        -32
      ],
      "id": "downgrade-get-instance",
      "name": "Obtener Instancia (downgrade)",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "4hWqjffSDMk2pC8i",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://iesmzunoepfwkxilvxdv.supabase.co/rest/v1/rpc/get_decrypted_credential' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_user_id\": \"{{ JSON.parse($('Consultar Estado Pago').item.json.external_reference).user_id }}\",\n  \"p_instance_id\": \"{{ $('Obtener Instancia (downgrade)').item.json.id }}\",\n  \"p_provider\": \"telegram\",\n  \"p_credential_type\": \"bot_token\",\n  \"p_encrypt_key\": \"{{ $env.SUPABASE_ENCRYPT_KEY }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        768,
        -32
      ],
      "id": "downgrade-get-token",
      "name": "Obtener Bot Token (downgrade)"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json || {};\nconst decrypted = typeof payload.data === 'string' ? payload.data.trim() : '';\nconst hasToken = !!(decrypted && decrypted.includes(':'));\nreturn [{ json: { bot_token: decrypted, has_token: hasToken } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -32
      ],
      "id": "downgrade-descifrar",
      "name": "Descifrar Token (downgrade)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "downgrade-has-token-check",
              "leftValue": "={{ $json.has_token }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1216,
        -32
      ],
      "id": "downgrade-has-token",
      "name": "¿Tiene bot propio?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $json.bot_token }}/deleteWebhook",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"drop_pending_updates\": false}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1440,
        -96
      ],
      "id": "downgrade-delete-webhook",
      "name": "Delete Webhook Telegram (downgrade)"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://iesmzunoepfwkxilvxdv.supabase.co/rest/v1/instances?id=eq.{{ $('Obtener Instancia (downgrade)').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channels\": {\n    \"telegram\": {\n      \"bot_type\": \"platform\",\n      \"bot_id\": null,\n      \"bot_username\": null,\n      \"disconnected_at\": \"{{ $now.toISO() }}\",\n      \"downgrade_reason\": \"plan_basico\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1664,
        -96
      ],
      "id": "downgrade-clean-channels",
      "name": "Limpiar channels.telegram (downgrade)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://iesmzunoepfwkxilvxdv.supabase.co/rest/v1/rpc/reactivate_all_products",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_user_id",
              "value": "={{ $('Guardar en Payment Logs').item.json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        544,
        16
      ],
      "id": "f2c0b80b-ee60-4206-9912-2ee92abb80e8",
      "name": "Reactivar Productos Pro",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bRPHwOivYfq5D2ib",
          "name": "supa base secret"
        }
      },
      "notes": "Al activar plan Pro, reactiva todos los productos del usuario (hasta 500 podrán subirse)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://iesmzunoepfwkxilvxdv.supabase.co/rest/v1/rpc/reactivate_all_products",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_user_id",
              "value": "={{ $('Guardar en Payment Logs').item.json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        544,
        208
      ],
      "id": "19ed9266-b595-4d91-b3eb-36f1ee5934e5",
      "name": "Reactivar Productos Full",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bRPHwOivYfq5D2ib",
          "name": "supa base secret"
        }
      },
      "notes": "Al activar plan Full, reactiva todos los productos del usuario (sin límite)."
    }
  ],
  "pinData": {
    "Webhook - Notificación MP": [
      {
        "json": {
          "headers": {
            "host": "webhook.mitiendavirtual.cl",
            "user-agent": "MercadoPago WebHook v1.0 payment",
            "content-length": "188",
            "accept": "application/json",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "18.213.114.129",
            "cf-ipcountry": "US",
            "cf-ray": "9ff8ad567ff8e601-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-warp-tag-id": "25fb36c4-be2f-495a-ad47-f72146c5307a",
            "connection": "keep-alive",
            "content-type": "application/json",
            "referer": "https://mercadopago.com.ar",
            "traceparent": "00-0000000000000000b17b966c9a58f13d-6459c4190595700d-00",
            "x-b3-sampled": "0",
            "x-b3-spanid": "6459c4190595700d",
            "x-b3-traceid": "0000000000000000b17b966c9a58f13d",
            "x-forwarded-for": "18.213.114.129",
            "x-forwarded-proto": "https",
            "x-request-id": "4f209a7e-6538-431d-8a97-cb52baad00c7",
            "x-rest-pool-name": "pool_unknown",
            "x-signature": "ts=1779419943,v1=cc862edd0a7c5a1087e90b01229a45aecc8ffa2901a99bc1d3aa5ae9f39b46f8",
            "x-socket-timeout": "25000",
            "x-trace-digest-09": "6F7MBIFyM136q7wsnxhZbABHu045mcZ5P6MUZ+wTWEw/mQcWmhb3OjkRgkYCb2UV7t4t+2ZCRzuNCzfj6100YO6/Sj4yBI5oDVIPb/MJu/VsquBSuogDI48yLV6RU4zX"
          },
          "params": {},
          "query": {
            "data.id": "1346742825",
            "type": "payment"
          },
          "body": {
            "action": "payment.created",
            "api_version": "v1",
            "data": {
              "id": "1346742825"
            },
            "date_created": "2026-05-22T03:19:02Z",
            "id": 132348885523,
            "live_mode": false,
            "type": "payment",
            "user_id": "3153242687"
          },
          "webhookUrl": "http://localhost:5678/webhook/payment-notification",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook - Notificación MP": {
      "main": [
        [
          {
            "node": "filter-payments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Estado Pago": {
      "main": [
        [
          {
            "node": "Guardar en Payment Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Aprobado?": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter-payments": {
      "main": [
        [
          {
            "node": "Consultar Estado Pago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Plan By Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Plan Pro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Plan Full",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Plan By Code": {
      "main": [
        [
          {
            "node": "Activar Plan en Basico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Plan Pro": {
      "main": [
        [
          {
            "node": "Activar Plan en Pro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Plan Full": {
      "main": [
        [
          {
            "node": "Activar Plan en Full",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en Payment Logs": {
      "main": [
        [
          {
            "node": "Es Aprobado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activar Plan en Basico": {
      "main": [
        [
          {
            "node": "Reactivar Productos Basico",
            "type": "main",
            "index": 0
          },
          {
            "node": "Obtener Instancia (downgrade)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Instancia (downgrade)": {
      "main": [
        [
          {
            "node": "Obtener Bot Token (downgrade)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Bot Token (downgrade)": {
      "main": [
        [
          {
            "node": "Descifrar Token (downgrade)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descifrar Token (downgrade)": {
      "main": [
        [
          {
            "node": "¿Tiene bot propio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tiene bot propio?": {
      "main": [
        [
          {
            "node": "Delete Webhook Telegram (downgrade)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Delete Webhook Telegram (downgrade)": {
      "main": [
        [
          {
            "node": "Limpiar channels.telegram (downgrade)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activar Plan en Pro": {
      "main": [
        [
          {
            "node": "Reactivar Productos Pro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activar Plan en Full": {
      "main": [
        [
          {
            "node": "Reactivar Productos Full",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6e4cd1c6-8656-4336-821c-a6051476527e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5516a2a9cf205e273f8d3d2fa2ee6e75611a482072bccca1b3d4b67e92eb589"
  },
  "id": "jDT6Nivq7hYtuTW6UHCMR",
  "tags": []
}