n8n/Portero WhatsApp.json
{
  "name": "Portero WhatsApp",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        -64
      ],
      "id": "2a37764f-ffce-4745-8e6d-d3ca6a2cf5c3",
      "name": "Webhook",
      "webhookId": "2d712af3-e775-44ec-aa9a-f7753f1fcb5f"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query[\"hub.challenge\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        16,
        -272
      ],
      "id": "0af86cab-8b75-4c09-addc-8ed06ee20f2d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "functionCode": "const body = items[0].json.body || items[0].json || {};\nconst entry = (body.entry || [])[0] || {};\nconst change = (entry.changes || [])[0] || {};\nconst value = change.value || {};\nconst messages = value.messages || [];\nconst msg = messages[0] || {};\nconst text = (msg.text && msg.text.body) || (msg.button && msg.button.text) || (msg.interactive && msg.interactive.button_reply && msg.interactive.button_reply.title) || '';\nconst phoneNumberId = (value.metadata && value.metadata.phone_number_id) || '';\nitems[0].json = {\n  _phone_number_id: phoneNumberId,\n  _from: msg.from || '',\n  _message_text: text.trim(),\n  _message_id: msg.id || '',\n  _timestamp: msg.timestamp || '',\n  _waba_id: entry.id || '',\n  _raw: body\n};\nreturn items;"
      },
      "id": "6c5513ac-d276-4cc0-bbd8-1afd8401b6a7",
      "name": "Parsear mensaje",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -112,
        48
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "whatsapp_connections",
        "filters": {
          "conditions": [
            {
              "keyName": "phone_number_id",
              "keyValue": "={{ $json._raw.entry[0].changes[0].value.metadata.phone_number_id }}"
            },
            {
              "keyName": "active",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        128
      ],
      "id": "611c3d5c-a355-43ed-9532-393aad776dd1",
      "name": "Obtiene numero",
      "credentials": {
        "supabaseApi": {
          "id": "4hWqjffSDMk2pC8i",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.mitiendavirtual.cl",
            "user-agent": "curl/7.68.0",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "146.235.246.112",
            "cf-ipcountry": "CL",
            "cf-ray": "a028eee398f39506-GRU",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-warp-tag-id": "25fb36c4-be2f-495a-ad47-f72146c5307a",
            "connection": "keep-alive",
            "x-forwarded-for": "146.235.246.112",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {
            "hub.mode": "subscribe",
            "hub.challenge": "test123",
            "hub.verify_token": "cualquier_cosa"
          },
          "body": {},
          "webhookUrl": "http://localhost:5678/webhook/whatsapp-webhook",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parsear mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear mensaje": {
      "main": [
        [
          {
            "node": "Obtiene numero",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1d442ca4-181e-419a-8e76-bf8221618c5b",
  "meta": {
    "instanceId": "a5516a2a9cf205e273f8d3d2fa2ee6e75611a482072bccca1b3d4b67e92eb589"
  },
  "id": "rwLQswOuIhx3BbVCOjf97",
  "tags": []
}