n8n/Respaldo Automatico (El Cubridor).json
{
  "name": "Respaldo Automatico (El Cubridor)",
  "nodes": [
    {
      "parameters": {
        "filters": {
          "activeWorkflows": true
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "2866ec65-3658-47d5-a069-ced75b8a3b9f",
      "name": "buscar workflow",
      "credentials": {
        "n8nApi": {
          "id": "Ihz9gQaRa2bymW1F",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "263791c5-7697-483f-a83a-b47c19f60274",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "fgomeztreufo",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_mitiendavirtualcl",
          "mode": "name"
        },
        "filePath": "=workflows/{{$json.name.replace(/[^a-zA-Z0-9-_]/g, '')}}.json",
        "fileContent": "={{JSON.stringify($json, null, 2)}}",
        "commitMessage": "=Backup automático: {{$json.name}}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "2bb2e407-a6e0-4586-bed9-c5d32e5f11ba",
      "name": "Edit a file",
      "webhookId": "9923b131-cce6-41d1-9ca0-76376da7a3be",
      "credentials": {
        "githubApi": {
          "id": "KKE7UWO5uVyzonAY",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "buscar workflow": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "buscar workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "81b4a285-cb06-452d-879f-17598ea9f93d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5516a2a9cf205e273f8d3d2fa2ee6e75611a482072bccca1b3d4b67e92eb589"
  },
  "id": "9-GAAIS4ssRLkc_Rl7zsx",
  "tags": []
}