n8n/Tool - Agendador.json
{
  "name": "Tool - Agendador",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL.replace(/\\/$/, '') }}/rest/v1/services?user_id=eq.{{ $json.user_id }}&is_active=eq.true&select=id,name,description,duration_minutes,price&order=sort_order",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "78a47f23-5b47-4402-abc2-e3313bee698f",
      "name": "Fetch Services",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8800,
        8096
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "functionCode": "// 1. Extraemos y unificamos todos los datos sin importar cómo los entregue n8n\nlet arr = [];\n\nif (items.length === 1 && Array.isArray(items[0].json)) {\n  // Caso A: n8n metió todo el array dentro del primer item\n  arr = items[0].json;\n} else if (items.length === 1 && items[0].json.body && Array.isArray(items[0].json.body)) {\n  // Caso B: Viene envuelto en una propiedad 'body'\n  arr = items[0].json.body;\n} else {\n  // Caso C (El tuyo): n8n dividió los resultados en múltiples items\n  arr = items.map(item => item.json);\n}\n\n// 2. Filtramos para asegurarnos de que tengan un ID válido\nconst validServices = arr.filter(s => s && s.id);\n\nif (validServices.length === 0) {\n  return [{ json: { result: 'Este negocio no tiene servicios configurados aún.' } }];\n}\n\n// 3. Armamos la lista de texto\nconst lines = validServices.map((s, i) => {\n  let line = (i + 1) + '. ' + s.name + ' (ID:' + s.id + ') - ' + s.duration_minutes + ' min';\n  if (s.price) line += ' - $' + Number(s.price).toLocaleString('es-CL');\n  if (s.description) line += ' — ' + s.description;\n  return line;\n});\n\n// 4. Retornamos todo empacado en un solo item para que el Agente lo lea\nreturn [{ json: { result: 'Servicios disponibles:\\n' + lines.join('\\n') } }];"
      },
      "id": "a2bee200-aa5f-4c80-a90e-f0352716555a",
      "name": "Format Services",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        9024,
        8096
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.service_id ? $env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/staff_services?service_id=eq.' + $json.service_id + '&select=staff_id,staff_members(id,name,role)' : $env.SUPABASE_URL.replace(/\\/$/, '') + '/rest/v1/staff_members?user_id=eq.' + $json.user_id + '&is_active=eq.true&select=id,name,role&order=sort_order' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e124effa-580d-4b93-91de-917d02072241",
      "name": "Fetch Staff",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8800,
        8288
      ],
      "executeOnce": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "functionCode": "// 1. Recolectar TODOS los items que envía n8n, no solo el primero\nlet arr = [];\nif (items.length === 1 && Array.isArray(items[0].json)) {\n  arr = items[0].json;\n} else {\n  arr = items.map(item => item.json);\n}\n\n// 2. Extraer la información de los barberos\nconst staffList = arr.map(item => {\n  if (item.staff_members) return item.staff_members;\n  return item;\n}).filter(s => s && s.id);\n\n// 3. Validar si hay resultados\nif (!staffList.length) {\n  return [{ json: { result: 'No hay profesionales disponibles para este servicio.' } }];\n}\n\n// 4. Formatear la lista para el bot\nconst lines = staffList.map((s, i) => {\n  let line = (i + 1) + '. ' + s.name + ' (ID:' + s.id + ')';\n  if (s.role) line += ' - ' + s.role;\n  return line;\n});\n\n// 5. Entregar la respuesta final\nreturn [{ json: { result: 'Profesionales disponibles:\\n' + lines.join('\\n') } }];"
      },
      "id": "783365dd-4fcf-4422-a810-1076574ade71",
      "name": "Format Staff",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        9024,
        8288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL.replace(/\\/$/, '') }}/rest/v1/rpc/get_available_slots",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_user_id\": \"{{ $json.user_id }}\",\n  \"p_service_id\": \"{{ $json.service_id }}\",\n  \"p_staff_id\": \"{{ $json.staff_id }}\",\n  \"p_date\": \"{{ $json.date }}\",\n  \"p_timezone\": \"America/Santiago\"\n}",
        "options": {}
      },
      "id": "5444e7d4-2771-430b-81a8-a49be1276539",
      "name": "RPC get_available_slots",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8800,
        8480
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "functionCode": "const data = items[0].json;\nconst slots = Array.isArray(data) ? data : [data];\n\nif (!slots.length || (slots.length === 1 && !slots[0].slot_start)) {\n  return [{ json: { result: 'No hay horarios disponibles para esa fecha. Intenta con otro dia.' } }];\n}\n\nconst lines = slots.map(s => {\n  // Extraer hora local directamente del ISO string (ej: \"2026-06-21T18:00:00-04:00\" → \"18:00\")\n  const localTime = s.slot_start.substring(11, 16);\n  return localTime + ' (SLOT:' + s.slot_start + ')';\n});\n\nreturn [{ json: { result: 'Horarios disponibles:\\n' + lines.join(' | ') } }];"
      },
      "id": "a5d734a1-071d-41a3-8926-eccdac0a5e51",
      "name": "Format Slots",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        9024,
        8480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL.replace(/\\/$/, '') }}/rest/v1/rpc/create_appointment",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_user_id\": \"{{ $json.user_id }}\",\n  \"p_staff_id\": \"{{ $json.staff_id }}\",\n  \"p_service_id\": \"{{ $json.service_id }}\",\n  \"p_client_name\": \"{{ $json.client_name }}\",\n  \"p_client_phone\": \"{{ $json.client_phone }}\",\n  \"p_starts_at\": \"{{ $json.slot_start }}\",\n  \"p_source\": \"whatsapp\"\n}",
        "options": {}
      },
      "id": "50643139-14d6-445a-8f7a-4fd50ba8ce74",
      "name": "RPC create_appointment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8800,
        8672
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "functionCode": "const data = items[0].json;\n\nif (data.message && data.message.includes('SLOT_TAKEN')) {\n  return [{ json: { result: 'Ese horario ya fue reservado por otra persona. Por favor elige otro horario.' } }];\n}\n\nif (data.code || data.hint) {\n  return [{ json: { result: 'Error al crear la cita: ' + (data.message || 'Error desconocido') } }];\n}\n\nconst start = new Date(data.starts_at);\nconst dateStr = start.toLocaleDateString('es-CL', { weekday: 'long', day: 'numeric', month: 'long', timeZone: 'America/Santiago' });\nconst timeStr = start.toLocaleTimeString('es-CL', { hour: '2-digit', minute: '2-digit', timeZone: 'America/Santiago' });\n\nreturn [{ json: { result: `Cita confirmada para ${data.client_name}:\\nFecha: ${dateStr}\\nHora: ${timeStr}\\nTe enviaremos un recordatorio antes de tu cita. Si necesitas cancelar, solo escríbeme.`, appointment: data } }];"
      },
      "id": "14126532-daea-454b-ad63-9e900065bbc2",
      "name": "Format Booking",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        9024,
        8672
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL.replace(/\\/$/, '') }}/rest/v1/rpc/cancel_appointment",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_appointment_id\": \"{{ $json.appointment_id }}\",\n  \"p_reason\": \"Cancelado por el cliente via WhatsApp\"\n}",
        "options": {}
      },
      "id": "8a394f01-00dc-4aa6-9674-55e159312825",
      "name": "RPC cancel_appointment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8800,
        8864
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "functionCode": "const data = items[0].json;\n\nif (data.message && data.message.includes('NOT_FOUND')) {\n  return [{ json: { result: 'No se encontró esa cita o ya fue cancelada anteriormente.' } }];\n}\n\nif (data.code || data.hint) {\n  return [{ json: { result: 'Error al cancelar: ' + (data.message || 'Error desconocido') } }];\n}\n\nreturn [{ json: { result: 'Tu cita ha sido cancelada exitosamente.' } }];"
      },
      "id": "d0766980-7fe2-4c11-9b9d-50aed65d40f4",
      "name": "Format Cancel",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        9024,
        8864
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL.replace(/\\/$/, '') }}/rest/v1/appointments?user_id=eq.{{ $json.user_id }}&client_phone=eq.{{ $json.client_phone }}&status=in.(confirmed,pending)&starts_at=gt.{{ new Date().toISOString() }}&select=id,starts_at,ends_at,status,staff_members(name),services(name)&order=starts_at&limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d52d00ba-b2d8-4665-a1e1-39680c489fc4",
      "name": "Fetch My Bookings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8800,
        9056
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "functionCode": "const data = items[0].json;\nconst arr = Array.isArray(data) ? data : [data];\n\nif (!arr.length || (arr.length === 1 && !arr[0].id)) {\n  return [{ json: { result: 'No tienes citas próximas agendadas.' } }];\n}\n\nconst lines = arr.map((a, i) => {\n  const start = new Date(a.starts_at);\n  const dateStr = start.toLocaleDateString('es-CL', { weekday: 'short', day: 'numeric', month: 'short', timeZone: 'America/Santiago' });\n  const timeStr = start.toLocaleTimeString('es-CL', { hour: '2-digit', minute: '2-digit', timeZone: 'America/Santiago' });\n  const staffName = a.staff_members ? a.staff_members.name : '—';\n  const svcName = a.services ? a.services.name : '—';\n  return `${i + 1}. ${svcName} con ${staffName} - ${dateStr} ${timeStr} (ID: ${a.id.slice(0, 8)})`;\n});\n\nreturn [{ json: { result: 'Tus próximas citas:\\n' + lines.join('\\n'), bookings: arr } }];"
      },
      "id": "a5900704-9e60-4011-a864-e172f3c3bec2",
      "name": "Format My Bookings",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        9024,
        9056
      ]
    },
    {
      "parameters": {
        "functionCode": "// Nodo final - retorna el resultado al agente\nreturn items;"
      },
      "id": "1937a46c-f8ea-4333-9a0c-e13f579e7f52",
      "name": "Respuesta",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        9584,
        8464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1a12840b-4e43-43ef-94b1-1ad55851a463",
      "name": "Has error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7824,
        8112
      ]
    },
    {
      "parameters": {
        "functionCode": "// Retorna mensaje de error como respuesta\nreturn [{ json: { result: items[0].json.message || 'Error desconocido' } }];"
      },
      "id": "5d71f02a-534b-4abf-8477-c1f9fe59fc47",
      "name": "Format Error",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        9024,
        7904
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "user_id"
            },
            {
              "name": "plan"
            },
            {
              "name": "client_phone"
            },
            {
              "name": "instruccion"
            },
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        7088,
        8112
      ],
      "id": "28f42d64-5423-4bbb-8093-f6a37513e183",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "list_services",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "68909e31-77bc-4c34-90ee-f0e7ae03ff76"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7bae36fa-1575-4fca-bc09-67ad9e3e7fe5",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "list_staff",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "539335e5-2085-4313-8c2c-12b8de53a225",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "get_slots",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dc2107c1-eadf-4213-bed1-ef579f74f04d",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create_booking",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "12a94c38-8941-4c89-88b7-8f7ed551dd23",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "cancel_booking",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "96346e2a-e1c0-4c95-9a1c-94616f23e1db",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "my_bookings",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        8176,
        8288
      ],
      "id": "39e0dc16-1157-4666-b122-0b4c9a787bdd",
      "name": "Switch"
    },
    {
      "parameters": {
        "functionCode": "// === ROUTER REFACTORIZADO Y ANTIBALAS ===\nconst input = items[0].json;\n\nif (!input.user_id || input.user_id.trim() === '') {\n  items[0].json = { error: true, message: 'Error interno: user_id no proporcionado.' };\n  return items;\n}\n\nconst plan = (input.plan || '').toLowerCase();\nif (!plan.includes('full') && !plan.includes('complet')) {\n  items[0].json = { error: true, message: 'El agendamiento no esta disponible en tu plan actual. Actualiza al plan Full.' };\n  return items;\n}\n\nlet instr = {};\nlet raw = (input.instruccion || input.instruction || '').trim();\n\n// 🚨 LIMPIEZA CRÍTICA MÁXIMA (Evitamos RegExp con /.../ para que n8n no rompa el código)\nif (raw) {\n  // Usamos strings simples para que el copiado y pegado sea seguro\n  raw = raw.replaceAll('```json', '').replaceAll('```', '');\n  \n  // Quita signos = al principio y comillas sueltas (mantenemos RegExp seguras en una sola línea)\n  raw = raw.replace(/^=+/, '').replace(/^\"|\"$/g, '').trim();\n}\n\ntry {\n  if (raw) {\n    instr = JSON.parse(raw);\n  }\n} catch (e) {\n  // Si aun así falla el JSON completo, intentamos rescatar la acción si vino como texto plano\n  let fallbackAction = raw.toLowerCase().replace(/[^a-z_]/g, ''); \n  instr = { action: fallbackAction };\n}\n\nconst validActions = ['list_services', 'list_staff', 'get_slots', 'create_booking', 'cancel_booking', 'my_bookings'];\nconst action = (instr.action || '').trim().toLowerCase();\n\nif (!validActions.includes(action)) {\n  items[0].json = { error: true, message: 'Accion no valida: ' + action };\n  return items;\n}\n\n// Extraer y limpiar campos del JSON\nconst sid = (instr.service_id || '').trim();\nconst stid = (instr.staff_id || '').trim();\nconst dt = (instr.date || '').trim();\nconst ss = (instr.slot_start || '').trim();\nconst aid = (instr.appointment_id || '').trim();\n\n// Validar campos requeridos por accion\nif (action === 'get_slots' && (!sid || !stid || !dt)) {\n  items[0].json = { error: true, message: 'Para ver horarios necesito el servicio, profesional y fecha válida (YYYY-MM-DD).' };\n  return items;\n}\nif (action === 'create_booking' && (!sid || !stid || !ss)) {\n  items[0].json = { error: true, message: 'Para crear la cita necesito el servicio, profesional y horario.' };\n  return items;\n}\nif (action === 'cancel_booking' && !aid) {\n  items[0].json = { error: true, message: 'Para cancelar necesito el ID de la cita.' };\n  return items;\n}\n\nitems[0].json = {\n  error: false,\n  action: action,\n  user_id: input.user_id.trim(),\n  service_id: sid,\n  staff_id: stid,\n  date: dt,\n  slot_start: ss,\n  client_name: (instr.client_name || '').trim(),\n  client_phone: (input.client_phone || '').trim(),\n  appointment_id: aid\n};\n\nreturn items;"
      },
      "id": "a724ccd2-faf7-4963-8b5e-2f8559b8a0d6",
      "name": "Router",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        7456,
        8112
      ]
    },
    {
      "parameters": {
        "functionCode": "// === ROUTER REFACTORIZADO Y ANTIBALAS ===\nconst input = items[0].json;\n\nif (!input.user_id || input.user_id.trim() === '') {\n  items[0].json = { error: true, message: 'Error interno: user_id no proporcionado.' };\n  return items;\n}\n\nconst plan = (input.plan || '').toLowerCase();\nif (!plan.includes('full') && !plan.includes('complet')) {\n  items[0].json = { error: true, message: 'El agendamiento no esta disponible en tu plan actual. Actualiza al plan Full.' };\n  return items;\n}\n\nlet instr = {};\nlet raw = (input.instruccion || input.instruction || '').trim();\n\n// 🚨 LIMPIEZA CRÍTICA DE MARKDOWN (Elimina ```json y comillas que rompen el parseo)\nif (raw.includes('```')) {\n  raw = raw.replace(/```json/gi, '').replace(/```/g, '').trim();\n}\n\ntry {\n  if (raw) {\n    instr = JSON.parse(raw);\n  }\n} catch (e) {\n  // Si aun así falla el JSON completo, intentamos rescatar la acción si vino como texto plano\n  instr = { action: raw.toLowerCase() };\n}\n\nconst validActions = ['list_services', 'list_staff', 'get_slots', 'create_booking', 'cancel_booking', 'my_bookings'];\nconst action = (instr.action || '').trim().toLowerCase();\nif (!validActions.includes(action)) {\n  items[0].json = { error: true, message: 'Accion no valida: ' + action };\n  return items;\n}\n\n// Extraer y limpiar campos del JSON\nconst sid = (instr.service_id || '').trim();\nconst stid = (instr.staff_id || '').trim();\nconst dt = (instr.date || '').trim();\nconst ss = (instr.slot_start || '').trim();\nconst aid = (instr.appointment_id || '').trim();\n\n// Validar campos requeridos por accion\nif (action === 'get_slots' && (!sid || !stid || !dt)) {\n  items[0].json = { error: true, message: 'Para ver horarios necesito el servicio, profesional y fecha válida (YYYY-MM-DD).' };\n  return items;\n}\nif (action === 'create_booking' && (!sid || !stid || !ss)) {\n  items[0].json = { error: true, message: 'Para crear la cita necesito el servicio, profesional y horario.' };\n  return items;\n}\nif (action === 'cancel_booking' && !aid) {\n  items[0].json = { error: true, message: 'Para cancelar necesito el ID de la cita.' };\n  return items;\n}\n\nitems[0].json = {\n  error: false,\n  action: action,\n  user_id: input.user_id.trim(),\n  service_id: sid,\n  staff_id: stid,\n  date: dt,\n  slot_start: ss,\n  client_name: (instr.client_name || '').trim(),\n  client_phone: (input.client_phone || '').trim(),\n  appointment_id: aid\n};\n\nreturn items;"
      },
      "id": "db525759-7e75-4360-a725-b661129b7b45",
      "name": "Routerbkp",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        7376,
        8464
      ]
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "user_id": "dcbbe3e4-b3d9-4359-9cea-97446e86351b",
          "plan": "full",
          "client_phone": "56954080571",
          "instruccion": "={\"action\":\"list_staff\",\"service_id\":\"32771ec9-d09c-4fd8-93ca-392d6a793da5\"}",
          "query": "si que barberos estan disponibles?"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Fetch Services": {
      "main": [
        [
          {
            "node": "Format Services",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Staff": {
      "main": [
        [
          {
            "node": "Format Staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC get_available_slots": {
      "main": [
        [
          {
            "node": "Format Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC create_appointment": {
      "main": [
        [
          {
            "node": "Format Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPC cancel_appointment": {
      "main": [
        [
          {
            "node": "Format Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch My Bookings": {
      "main": [
        [
          {
            "node": "Format My Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Services": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Staff": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slots": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Booking": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Cancel": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format My Bookings": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has error?": {
      "main": [
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Fetch Services",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Staff",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RPC get_available_slots",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RPC create_appointment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RPC cancel_appointment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch My Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Routerbkp": {
      "main": [
        []
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "Has error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "2cf9d25f-07e5-4668-80a2-e69e9ae1e51c",
  "meta": {
    "instanceId": "a5516a2a9cf205e273f8d3d2fa2ee6e75611a482072bccca1b3d4b67e92eb589"
  },
  "id": "-pQhRrJKywqLtJwqBlzeE",
  "tags": []
}