n8n/WPP Link Start.json
{
  "name": "WPP Link Start",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wpp-link-start",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wpp-ls-wh-001",
      "name": "Webhook POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "wb-wpp-link-start-001"
    },
    {
      "parameters": {
        "functionCode": "const headers = items[0].json.headers || {};\nconst auth = headers.authorization || headers.Authorization || '';\nconst body = items[0].json.body || {};\nitems[0].json.user_token = auth.startsWith('Bearer ') ? auth.slice(7).trim() : auth.trim();\nitems[0].json.phone_number_id = (body.phone_number_id || body.phoneNumberId || '').trim();\nitems[0].json.waba_id = body.business_account_id || body.waba_id || null;\nitems[0].json.display_phone_number = body.display_phone_number || null;\nitems[0].json.access_token_meta = body.access_token || null;\nitems[0].json.active = body.active !== false;\nreturn items;"
      },
      "id": "wpp-ls-parse-001",
      "name": "Parsear body",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL.replace(/\\/$/, '') }}/auth/v1/user",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.user_token }}" },
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "wpp-ls-getuser-001",
      "name": "Validar usuario (Supabase)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "functionCode": "const user = items[0].json;\nconst parsed = $node['Parsear body'].json;\nconst userId = user.id || (user.user && user.user.id) || '';\nif (!userId) {\n  items[0].json = { error: 'unauthorized', ok: false };\n  return items;\n}\nitems[0].json = {\n  user_id: userId,\n  phone_number_id: parsed.phone_number_id,\n  waba_id: parsed.waba_id || null,\n  display_phone_number: parsed.display_phone_number || null,\n  access_token: parsed.access_token_meta || null,\n  active: parsed.active,\n  updated_at: new Date().toISOString()\n};\nreturn items;"
      },
      "id": "wpp-ls-payload-001",
      "name": "Construir payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL.replace(/\\/$/, '') }}/rest/v1/whatsapp_connections?on_conflict=phone_number_id",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "wpp-ls-upsert-001",
      "name": "Upsert conexion (Supabase)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "functionCode": "const resp = items[0].json;\nlet rows = [];\nif (Array.isArray(resp)) rows = resp;\nelse if (resp && Array.isArray(resp.body)) rows = resp.body;\nconst row = rows.length > 0 ? rows[0] : resp;\nitems[0].json = { ok: true, connection: row };\nreturn items;"
      },
      "id": "wpp-ls-format-001",
      "name": "Formatear respuesta",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "wpp-ls-resp-001",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Webhook POST": { "main": [[{ "node": "Parsear body", "type": "main", "index": 0 }]] },
    "Parsear body": { "main": [[{ "node": "Validar usuario (Supabase)", "type": "main", "index": 0 }]] },
    "Validar usuario (Supabase)": { "main": [[{ "node": "Construir payload", "type": "main", "index": 0 }]] },
    "Construir payload": { "main": [[{ "node": "Upsert conexion (Supabase)", "type": "main", "index": 0 }]] },
    "Upsert conexion (Supabase)": { "main": [[{ "node": "Formatear respuesta", "type": "main", "index": 0 }]] },
    "Formatear respuesta": { "main": [[{ "node": "Responder", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "wpp-link-start-1",
  "tags": []
}
