n8n/WPP Inbound Router.json
{
  "name": "WPP Inbound Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wpp-inbound-webhook-0001",
      "name": "Recibir Inbound WPP",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "wb-whatsapp-inbound-0001-id"
    },
    {
      "parameters": {
        "functionCode": "const body = items[0].json.body || items[0].json || {};\nconst entry = (body.entry || [])[0] || {};\nconst change = (entry.changes || [])[0] || {};\nconst value = change.value || {};\nconst messages = value.messages || [];\nconst msg = messages[0] || {};\nconst text = (msg.text && msg.text.body) || (msg.button && msg.button.text) || (msg.interactive && msg.interactive.button_reply && msg.interactive.button_reply.title) || '';\nconst phoneNumberId = (value.metadata && value.metadata.phone_number_id) || '';\nitems[0].json = {\n  _phone_number_id: phoneNumberId,\n  _from: msg.from || '',\n  _message_text: text.trim(),\n  _message_id: msg.id || '',\n  _timestamp: msg.timestamp || '',\n  _waba_id: entry.id || '',\n  _raw: body\n};\nreturn items;"
      },
      "id": "wpp-parse-0001",
      "name": "Parsear mensaje",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL.replace(/\\/$/, '')}}/rest/v1/whatsapp_connections?phone_number_id=eq.{{$json._phone_number_id}}&active=eq.true&select=id,user_id,instance_id,phone_number_id,waba_id,access_token&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "options": {}
      },
      "id": "wpp-lookup-0001",
      "name": "Buscar conexion (Supabase)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "functionCode": "const prev = $node['Parsear mensaje'].json;\nconst resp = items[0].json;\nlet rows = [];\nif (Array.isArray(resp)) rows = resp;\nelse if (resp && Array.isArray(resp.body)) rows = resp.body;\n\nif (!rows || rows.length === 0) {\n  items[0].json = { _routed: false, _reason: 'no_connection', ...prev };\n  return items;\n}\nconst conn = rows[0];\nitems[0].json = {\n  _routed: true,\n  _user_id: conn.user_id,\n  _instance_id: conn.instance_id,\n  _access_token: conn.access_token,\n  _phone_number_id: prev._phone_number_id,\n  _from: prev._from,\n  _message_text: prev._message_text,\n  _message_id: prev._message_id,\n  _waba_id: prev._waba_id,\n  _raw: prev._raw\n};\nreturn items;"
      },
      "id": "wpp-enrich-0001",
      "name": "Enriquecer contexto",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v17.0/{{$json._phone_number_id}}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$json._access_token}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\":\"whatsapp\",\"to\":\"{{$json._from}}\",\"text\":{\"body\":\"Hola! Soy el asistente de tu tienda. ¿En qué te puedo ayudar?\"}}"
      },
      "id": "wpp-portero-reply-0001",
      "name": "Portero: responder (GraphAPI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 260],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ status: 'ok', routed: $json._routed }"
      },
      "id": "wpp-respond-0001",
      "name": "Responder a Meta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Recibir Inbound WPP": { "main": [ [ { "node": "Parsear mensaje", "type": "main", "index": 0 } ] ] },
    "Parsear mensaje": { "main": [ [ { "node": "Buscar conexion (Supabase)", "type": "main", "index": 0 } ] ] },
    "Buscar conexion (Supabase)": { "main": [ [ { "node": "Enriquecer contexto", "type": "main", "index": 0 } ] ] },
    "Enriquecer contexto": { "main": [ [ { "node": "Portero: responder (GraphAPI)", "type": "main", "index": 0 }, { "node": "Responder a Meta", "type": "main", "index": 0 } ] ] },
    "Portero: responder (GraphAPI)": { "main": [ [ { "node": "Responder a Meta", "type": "main", "index": 0 } ] ] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "wpp-inbound-router-2",
  "tags": []
}
