n8n/WPP Discover.json
{
  "name": "WPP Discover",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "wpp-discover",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wpp-disc-wh-001",
      "name": "Webhook GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "wb-wpp-discover-001"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "telegram-central/wpp-discover",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wpp-disc-wh-002",
      "name": "Webhook GET (telegram-central)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 420],
      "webhookId": "wb-wpp-discover-002"
    },
    {
      "parameters": {
        "jsCode": "const headers = $input.item.json.headers || {};\nconst query = $input.item.json.query || $input.item.json.queryParameters || {};\nconst auth = headers.authorization || headers.Authorization || '';\nconst token = auth.startsWith('Bearer ') ? auth.slice(7).trim() : auth.trim();\nconst debug = query.debug == '1' || query.debug === 'true';\n\nif (!token && !debug) {\n  return [{ json: { error: 'Token requerido', numbers: [] } }];\n}\n\nconst GRAPH = 'https://graph.facebook.com/v25.0';\n\ntry {\n  let wabas = [];\n  const debug_info = { endpoints: [] };\n\n  // Try direct /me/whatsapp_business_accounts\n  try {\n    const wabaData = await this.helpers.request({\n      method: 'GET',\n      url: GRAPH + '/me/whatsapp_business_accounts',\n      qs: { fields: 'id,name', access_token: token },\n      json: true\n    });\n    debug_info.endpoints.push({ endpoint: 'me/whatsapp_business_accounts', ok: true, data_count: Array.isArray(wabaData.data) ? wabaData.data.length : (wabaData ? 1 : 0) });\n    if (wabaData && Array.isArray(wabaData.data) && wabaData.data.length) {\n      wabas = wabaData.data;\n    }\n  } catch (e) { debug_info.endpoints.push({ endpoint: 'me/whatsapp_business_accounts', ok: false, error: e.message }); }\n\n  // Fallback: list businesses and query each business for owned_whatsapp_business_accounts\n  if (wabas.length === 0) {\n    try {\n      const bizData = await this.helpers.request({\n        method: 'GET',\n        url: GRAPH + '/me/businesses',\n        qs: { access_token: token },\n        json: true\n      });\n      debug_info.endpoints.push({ endpoint: 'me/businesses', ok: true, data_count: Array.isArray(bizData.data) ? bizData.data.length : 0 });\n      if (bizData && Array.isArray(bizData.data)) {\n        for (const biz of bizData.data) {\n          try {\n            const owned = await this.helpers.request({\n              method: 'GET',\n              url: GRAPH + '/' + biz.id + '/owned_whatsapp_business_accounts',\n              qs: { fields: 'id,name', access_token: token },\n              json: true\n            });\n            debug_info.endpoints.push({ endpoint: biz.id + '/owned_whatsapp_business_accounts', ok: true, data_count: Array.isArray(owned.data) ? owned.data.length : 0 });\n            if (owned && Array.isArray(owned.data)) {\n              for (const o of owned.data) wabas.push(o);\n            }\n          } catch (e) { debug_info.endpoints.push({ endpoint: biz.id + '/owned_whatsapp_business_accounts', ok: false, error: e.message }); }\n        }\n      }\n    } catch (e) { debug_info.endpoints.push({ endpoint: 'me/businesses', ok: false, error: e.message }); }\n  }\n\n  const numbers = [];\n  for (const waba of wabas) {\n    try {\n      const pnData = await this.helpers.request({\n        method: 'GET',\n        url: GRAPH + '/' + waba.id + '/phone_numbers',\n        qs: { fields: 'id,display_phone_number,verified_name,quality_rating,platform_type', access_token: token },\n        json: true\n      });\n      debug_info.endpoints.push({ endpoint: waba.id + '/phone_numbers', ok: true, data_count: Array.isArray(pnData.data) ? pnData.data.length : 0 });\n      if (pnData && Array.isArray(pnData.data)) {\n        for (const pn of pnData.data) {\n          numbers.push({\n            phone_number_id: pn.id,\n            waba_id: waba.id,\n            waba_name: waba.name || '',\n            display_phone_number: pn.display_phone_number || '',\n            verified_name: pn.verified_name || '',\n            quality_rating: pn.quality_rating || '',\n            platform_type: pn.platform_type || ''\n          });\n        }\n      }\n    } catch (e) { debug_info.endpoints.push({ endpoint: waba.id + '/phone_numbers', ok: false, error: e.message }); }\n  }\n\n  if (debug) {\n    const tokenPreview = token ? (token.slice(0,6) + '...' + token.slice(-6)) : null;\n    const wabaIds = wabas.map(w => w.id).slice(0,10);\n    return [{ json: { debug: { auth_present: !!auth, token_preview: tokenPreview, wabas_count: wabas.length, waba_ids: wabaIds, numbers_count: numbers.length, endpoints: debug_info.endpoints }, numbers } }];\n  }\n\n  return [{ json: { numbers } }];\n} catch (err) {\n  return [{ json: { error: (err && err.message) ? err.message : 'Error Graph API', numbers: [] } }];\n}\n"
      },
      "id": "wpp-disc-code-001",
      "name": "Descubrir numeros (GraphAPI)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "wpp-disc-resp-001",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook GET": { "main": [[{ "node": "Descubrir numeros (GraphAPI)", "type": "main", "index": 0 }]] },
    "Descubrir numeros (GraphAPI)": { "main": [[{ "node": "Responder", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "wpp-discover-1",
  "tags": []
}
