n8n/WPP Link Start – MVP (Code Exchange + Discover + Upsert).json
{
  "name": "WPP Link Start – MVP (Code Exchange + Discover + Upsert)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Extraer code y user_id del body (Vercel ya validó el JWT e inyectó user_id)\nconst body = $input.item.json.body || {};\nconst code = body.code || '';\nconst userId = body.user_id || '';\n\nif (!code || !userId) {\n  return [{ json: { _error: true, message: 'Faltan code o user_id en el body.' } }];\n}\n\nreturn [{ json: { _error: false, code, user_id: userId } }];"
      },
      "id": "cfa5b09d-ef00-4322-a1e5-a42dc7ed01d4",
      "name": "Extraer code + user_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1872,
        1312
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "type": "mix"
          },
          "conditions": [
            {
              "id": "check-no-error",
              "leftValue": "={{ $json._error }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2659fa3f-aaee-4b84-ad57-e48c73eec9b0",
      "name": "Params OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1664,
        1312
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v25.0/oauth/access_token",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"{{ $env.META_APP_ID }}\",\n  \"client_secret\": \"{{ $env.META_APP_SECRET }}\",\n  \"code\": \"{{ $('Extraer code + user_id').item.json.code }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "3a296e44-b0c9-4cf6-b74d-def7821cba15",
      "name": "Intercambiar code → Token (Meta)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1440,
        1216
      ]
    },
    {
      "parameters": {
        "jsCode": "// Leer el access_token devuelto por Meta\nconst resp = $input.item.json;\nconst accessToken = resp.access_token || '';\nconst userId = $('Extraer code + user_id').item.json.user_id;\n\nif (!accessToken) {\n  return [{ json: { _error: true, message: 'Meta no devolvió access_token.', meta_response: resp } }];\n}\n\n// Descubrir WABAs del usuario\nconst GRAPH = 'https://graph.facebook.com/v25.0';\nlet wabas = [];\n\ntry {\n  const wabaRes = await this.helpers.request({\n    method: 'GET',\n    url: GRAPH + '/me/whatsapp_business_accounts',\n    qs: { fields: 'id,name', access_token: accessToken },\n    json: true\n  });\n  if (wabaRes && Array.isArray(wabaRes.data)) wabas = wabaRes.data;\n} catch (e) {\n  // fallback: buscar vía businesses\n  try {\n    const bizRes = await this.helpers.request({\n      method: 'GET',\n      url: GRAPH + '/me/businesses',\n      qs: { access_token: accessToken },\n      json: true\n    });\n    for (const biz of (bizRes.data || [])) {\n      try {\n        const owned = await this.helpers.request({\n          method: 'GET',\n          url: GRAPH + '/' + biz.id + '/owned_whatsapp_business_accounts',\n          qs: { fields: 'id,name', access_token: accessToken },\n          json: true\n        });\n        if (owned && Array.isArray(owned.data)) wabas.push(...owned.data);\n      } catch (innerErr) { /* skip */ }\n    }\n  } catch (bizErr) { /* skip */ }\n}\n\nif (wabas.length === 0) {\n  return [{ json: { _error: true, message: 'No se encontraron cuentas WhatsApp Business asociadas.' } }];\n}\n\n// Descubrir phone numbers del primer WABA\nconst waba = wabas[0];\nlet phones = [];\ntry {\n  const pnRes = await this.helpers.request({\n    method: 'GET',\n    url: GRAPH + '/' + waba.id + '/phone_numbers',\n    qs: { fields: 'id,display_phone_number,verified_name,quality_rating', access_token: accessToken },\n    json: true\n  });\n  if (pnRes && Array.isArray(pnRes.data)) phones = pnRes.data;\n} catch (e) { /* skip */ }\n\nif (phones.length === 0) {\n  return [{ json: { _error: true, message: 'WABA encontrada pero sin números telefónicos.' } }];\n}\n\nconst phone = phones[0];\nreturn [{ json: {\n  _error: false,\n  user_id: userId,\n  access_token: accessToken,\n  waba_id: waba.id,\n  waba_name: waba.name || '',\n  phone_number_id: phone.id,\n  display_phone_number: phone.display_phone_number || '',\n  verified_name: phone.verified_name || ''\n} }];"
      },
      "id": "8f78ce40-9305-4fee-9723-8d3459561a3c",
      "name": "Discover WABA + Phone (GraphAPI)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        1216
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "type": "mix"
          },
          "conditions": [
            {
              "id": "check-discover-ok",
              "leftValue": "={{ $json._error }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7dddf3b6-829a-4630-a904-da6433ec4f99",
      "name": "Discover OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1008,
        1216
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL.replace(/\\/$/, '') }}/rest/v1/whatsapp_connections",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"phone_number_id\": \"{{ $json.phone_number_id }}\",\n  \"waba_id\": \"{{ $json.waba_id }}\",\n  \"display_phone_number\": \"{{ $json.display_phone_number }}\",\n  \"access_token\": \"{{ $json.access_token }}\",\n  \"active\": true,\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "e45dbf97-c903-442c-99ad-6f7da808efd6",
      "name": "Upsert whatsapp_connections (Supabase)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -784,
        1104
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"{{ $json.message || 'Faltan parámetros requeridos.' }}\"\n}",
        "options": {}
      },
      "id": "1237c84f-1f19-4e9e-86ce-9b1bfa09ac5c",
      "name": "Respond 400 (params)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1440,
        1424
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"{{ $json.message || 'Error al descubrir cuenta de WhatsApp en Meta.' }}\"\n}",
        "options": {}
      },
      "id": "da9fb5e7-c53e-4cf9-9476-d11985676144",
      "name": "Respond 502 (discover)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -784,
        1344
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wpp-link-start",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b8c8f291-5203-4a1d-b598-e2ffd9cede18",
      "name": "Webhook POST1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2080,
        1312
      ],
      "webhookId": "3d2691ad-03c6-4e4a-beeb-14824eb51d27"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"success\": true,\n  \"connection\": {\n    \"phone_number_id\": \"{{ $('Discover WABA + Phone (GraphAPI)').item.json.phone_number_id }}\",\n    \"waba_id\": \"{{ $('Discover WABA + Phone (GraphAPI)').item.json.waba_id }}\",\n    \"display_phone_number\": \"{{ $('Discover WABA + Phone (GraphAPI)').item.json.display_phone_number }}\",\n    \"verified_name\": \"{{ $('Discover WABA + Phone (GraphAPI)').item.json.verified_name }}\",\n    \"active\": true\n  }\n}",
        "options": {}
      },
      "id": "5de4ed12-7c5e-4a00-a572-212e2792938d",
      "name": "Respond Success1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -560,
        1104
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Extraer code + user_id": {
      "main": [
        [
          {
            "node": "Params OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Params OK?": {
      "main": [
        [
          {
            "node": "Intercambiar code → Token (Meta)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 400 (params)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intercambiar code → Token (Meta)": {
      "main": [
        [
          {
            "node": "Discover WABA + Phone (GraphAPI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discover WABA + Phone (GraphAPI)": {
      "main": [
        [
          {
            "node": "Discover OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discover OK?": {
      "main": [
        [
          {
            "node": "Upsert whatsapp_connections (Supabase)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 502 (discover)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert whatsapp_connections (Supabase)": {
      "main": [
        [
          {
            "node": "Respond Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST1": {
      "main": [
        [
          {
            "node": "Extraer code + user_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2e09c25e-67f2-4155-8013-06428ab6c037",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5516a2a9cf205e273f8d3d2fa2ee6e75611a482072bccca1b3d4b67e92eb589"
  },
  "id": "AW5BVsIKkTygFD_Obq1AL",
  "tags": []
}