n8n/WPP Auto-Link Engine.json
{
  "name": "WPP Link Start - Auto Detect Mode",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wpp-link-start",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wpp-ls-wh-auto",
      "name": "Webhook POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL.replace(/\\/$/, '') }}/auth/v1/user",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Webhook POST').item.json.headers.authorization.replace('Bearer ', '').trim() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "wpp-ls-auth-supabase",
      "name": "Validar Usuario (Supabase)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, 300]
    },
    {
      "parameters": {
        "jsCode": "const META_TOKEN = 'TU_TOKEN_MAESTRO_DE_META_AQUI';\n\nconst rawTarget = $('Webhook POST').item.json.body.display_phone_number || '';\nconst targetPhone = rawTarget.replace(/\\D/g, '');\nconst userId = $('Validar Usuario (Supabase)').item.json.id || '';\n\nif (!targetPhone) {\n  return [{ json: { found: false, error: 'No se proporcionó un teléfono válido.' } }];\n}\n\ntry {\n  const wabaRes = await fetch('https://graph.facebook.com/v20.0/me/whatsapp_business_accounts', {\n    headers: { 'Authorization': `Bearer ${META_TOKEN}` }\n  });\n  const wabaData = await wabaRes.json();\n  const wabas = wabaData.data || [];\n\n  let matched = null;\n\n  for (const waba of wabas) {\n    const phoneRes = await fetch(`https://graph.facebook.com/v20.0/${waba.id}/phone_numbers`, {\n      headers: { 'Authorization': `Bearer ${META_TOKEN}` }\n    });\n    const phoneData = await phoneRes.json();\n    const phoneNumbers = phoneData.data || [];\n\n    for (const phone of phoneNumbers) {\n      if (!phone.display_phone_number) continue;\n      const cleanDisplay = phone.display_phone_number.replace(/\\D/g, '');\n\n      if (cleanDisplay.endsWith(targetPhone) || targetPhone.endsWith(cleanDisplay)) {\n        matched = {\n          user_id: userId,\n          phone_number_id: phone.id,\n          waba_id: waba.id,\n          display_phone_number: phone.display_phone_number,\n          active: true\n        };\n        break;\n      }\n    }\n    if (matched) break;\n  }\n\n  return [{ json: matched ? { found: true, ...matched } : { found: false } }];\n} catch (error) {\n  return [{ json: { found: false, error: error.message } }];\n}"
      },
      "id": "wpp-ls-meta-match",
      "name": "Buscar y Match en Meta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [540, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "type": "mix"
          },
          "conditions": [
            {
              "id": "check-found-condition",
              "leftValue": "={{ $json.found }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wpp-ls-if-found",
      "name": "If Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "operation": "upsert",
        "supabaseUrl": "YOUR_SUPABASE_URL",
        "table": "whatsapp_connections",
        "columns": "user_id,phone_number_id,waba_id,display_phone_number,active",
        "options": {}
      },
      "id": "wpp-ls-db-save",
      "name": "Supabase - Save Connection",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [980, 180],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIALS_ID",
          "name": "Supabase Prod"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"success\": true,\n  \"display_phone_number\": \"{{ $('Buscar y Match en Meta').item.json.display_phone_number }}\",\n  \"connection\": {\n    \"user_id\": \"{{ $('Buscar y Match en Meta').item.json.user_id }}\",\n    \"phone_number_id\": \"{{ $('Buscar y Match en Meta').item.json.phone_number_id }}\",\n    \"waba_id\": \"{{ $('Buscar y Match en Meta').item.json.waba_id }}\",\n    \"display_phone_number\": \"{{ $('Buscar y Match en Meta').item.json.display_phone_number }}\",\n    \"active\": true\n  }\n}",
        "options": {}
      },
      "id": "wpp-ls-resp-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1220, 180]
    },
    {
      "parameters": {
        "responseCode": 404,
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"El número telefónico no se encuentra registrado bajo ninguna cuenta comercial de Meta vinculada a nuestra plataforma.\"\n}",
        "options": {}
      },
      "id": "wpp-ls-resp-fail",
      "name": "Respond 404 Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [980, 420]
    }
  ],
  "connections": {
    "Webhook POST": {
      "main": [
        [
          {
            "node": "Validar Usuario (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Usuario (Supabase)": {
      "main": [
        [
          {
            "node": "Buscar y Match en Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar y Match en Meta": {
      "main": [
        [
          {
            "node": "If Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Found": {
      "main": [
        [
          {
            "node": "Supabase - Save Connection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 404 Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Save Connection": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}