n8n/WPP Status.json
{
  "name": "WPP Status",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "wpp-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wpp-status-wh-001",
      "name": "Webhook GET Status",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "wb-wpp-status-001"
    },
    {
      "parameters": {
        "functionCode": "const headers = items[0].json.headers || {};\nconst auth = headers.authorization || headers.Authorization || '';\nitems[0].json.user_token = auth.startsWith('Bearer ') ? auth.slice(7).trim() : auth.trim();\nreturn items;"
      },
      "id": "wpp-status-extract-001",
      "name": "Extraer token",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL.replace(/\\/$/, '') }}/auth/v1/user",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.user_token }}" },
            { "name": "apikey", "value": "={{ $env.SUPABASE_ANON_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "wpp-status-getuser-001",
      "name": "Obtener usuario (Supabase)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "functionCode": "const user = items[0].json;\nconst userId = user.id || (user.user && user.user.id) || '';\nif (!userId) {\n  items[0].json = { connection: null, error: 'unauthorized' };\n  return items;\n}\nitems[0].json.user_id = userId;\nreturn items;"
      },
      "id": "wpp-status-uid-001",
      "name": "Extraer user_id",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL.replace(/\\/$/, '') }}/rest/v1/whatsapp_connections?user_id=eq.{{ $json.user_id }}&active=eq.true&select=id,phone_number_id,waba_id,display_phone_number,active,created_at&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "wpp-status-getconn-001",
      "name": "Obtener conexion (Supabase)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "functionCode": "const resp = items[0].json;\nlet rows = [];\nif (Array.isArray(resp)) rows = resp;\nelse if (resp && Array.isArray(resp.body)) rows = resp.body;\nconst conn = rows.length > 0 ? rows[0] : null;\nitems[0].json = { connection: conn };\nreturn items;"
      },
      "id": "wpp-status-format-001",
      "name": "Formatear respuesta",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "wpp-status-resp-001",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Webhook GET Status": { "main": [[{ "node": "Extraer token", "type": "main", "index": 0 }]] },
    "Extraer token": { "main": [[{ "node": "Obtener usuario (Supabase)", "type": "main", "index": 0 }]] },
    "Obtener usuario (Supabase)": { "main": [[{ "node": "Extraer user_id", "type": "main", "index": 0 }]] },
    "Extraer user_id": { "main": [[{ "node": "Obtener conexion (Supabase)", "type": "main", "index": 0 }]] },
    "Obtener conexion (Supabase)": { "main": [[{ "node": "Formatear respuesta", "type": "main", "index": 0 }]] },
    "Formatear respuesta": { "main": [[{ "node": "Responder", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "wpp-status-1",
  "tags": []
}
