n8n/WPP_Link_Start_Main.json
{
  "name": "WPP Link Start - Production Decoupled",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wpp-link-start",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wpp-ls-wh-prod",
      "name": "Webhook POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL.replace(/\\/$/, '') }}/auth/v1/user",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Webhook POST').item.json.headers.authorization.replace('Bearer ', '').trim() }}"
            },
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "wpp-ls-auth-sb",
      "name": "Validar Usuario (Supabase)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "type": "mix"
          },
          "conditions": [
            {
              "id": "check-id-exists",
              "leftValue": "={{ $json.id }}",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wpp-ls-if-auth",
      "name": "Verificar Autenticación",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL.replace(/\\/$/, '') }}/rest/v1/whatsapp_connections",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $('Validar Usuario (Supabase)').item.json.id }}\",\n  \"display_phone_number\": \"{{ $('Webhook POST').item.json.body.display_phone_number }}\",\n  \"phone_number_id\": \"{{ $('Webhook POST').item.json.body.phone_number_id || 'unverified_' + $('Webhook POST').item.json.body.display_phone_number }}\",\n  \"active\": true,\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "wpp-ls-sb-upsert",
      "name": "Supabase Rest API Upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"success\": true,\n  \"display_phone_number\": \"{{ $('Supabase Rest API Upsert').item.json[0].display_phone_number }}\",\n  \"connection\": {{\n    \"id\": \"{{ $('Supabase Rest API Upsert').item.json[0].id }}\",\n    \"user_id\": \"{{ $('Supabase Rest API Upsert').item.json[0].user_id }}\",\n    \"phone_number_id\": \"{{ $('Supabase Rest API Upsert').item.json[0].phone_number_id }}\",\n    \"active\": {{ $('Supabase Rest API Upsert').item.json[0].active }}\n  }}\n}",
        "options": {}
      },
      "id": "wpp-ls-success-resp",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "responseCode": 401,
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Sesión inválida o expirada. No se pudo autenticar con Supabase.\"\n}",
        "options": {}
      },
      "id": "wpp-ls-fail-resp",
      "name": "Respond 401 Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 420]
    }
  ],
  "connections": {
    "Webhook POST": {
      "main": [
        [
          {
            "node": "Validar Usuario (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Usuario (Supabase)": {
      "main": [
        [
          {
            "node": "Verificar Autenticación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Autenticación": {
      "main": [
        [
          {
            "node": "Supabase Rest API Upsert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 401 Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Rest API Upsert": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}