n8n/WPP_Inbound_Router_MVP.json
{
  "name": "WPP Inbound Router – MVP (Lookup + Personality + LLM + Reply)",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "inb-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [100, 300],
      "webhookId": "wb-wpp-inbound-mvp"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "id": "inb-verify-resp",
      "name": "Respond Verify (GET)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [320, 140]
    },
    {
      "parameters": {
        "functionCode": "const body = items[0].json.body || items[0].json || {};\nconst entry = (body.entry || [])[0] || {};\nconst change = (entry.changes || [])[0] || {};\nconst value = change.value || {};\nconst messages = value.messages || [];\nconst msg = messages[0] || {};\nconst text = (msg.text && msg.text.body) || (msg.button && msg.button.text) || (msg.interactive && msg.interactive.button_reply && msg.interactive.button_reply.title) || '';\nconst phoneNumberId = (value.metadata && value.metadata.phone_number_id) || '';\n\nif (!phoneNumberId || !text.trim()) {\n  items[0].json = { _skip: true, _phone_number_id: phoneNumberId, _message_text: '' };\n  return items;\n}\n\nitems[0].json = {\n  _skip: false,\n  _phone_number_id: phoneNumberId,\n  _from: msg.from || '',\n  _message_text: text.trim(),\n  _message_id: msg.id || '',\n  _timestamp: msg.timestamp || '',\n  _waba_id: entry.id || '',\n  _raw: body\n};\nreturn items;"
      },
      "id": "inb-parse",
      "name": "Parsear mensaje",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [320, 380]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "type": "mix" },
          "conditions": [
            {
              "id": "has-text",
              "leftValue": "={{ $json._skip }}",
              "rightValue": "false",
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "inb-has-text",
      "name": "Tiene mensaje?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [520, 380]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL.replace(/\\/$/, '') }}/rest/v1/whatsapp_connections?phone_number_id=eq.{{ $json._phone_number_id }}&active=eq.true&select=id,user_id,instance_id,phone_number_id,waba_id,access_token,display_phone_number&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "inb-lookup-conn",
      "name": "Buscar conexion (Supabase)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "functionCode": "const prev = $node['Parsear mensaje'].json;\nconst resp = items[0].json;\nlet rows = Array.isArray(resp) ? resp : (resp && Array.isArray(resp.body) ? resp.body : []);\n\nif (!rows || rows.length === 0) {\n  items[0].json = { _routed: false, _reason: 'no_connection', ...prev };\n  return items;\n}\n\nconst conn = rows[0];\n\n// Filtrar eco (el negocio se envía a sí mismo)\nconst bizNumber = (conn.display_phone_number || '').replace(/\\D/g, '');\nconst fromNumber = (prev._from || '').replace(/\\D/g, '');\nif (bizNumber && fromNumber && bizNumber === fromNumber) {\n  items[0].json = { _routed: false, _reason: 'echo', ...prev };\n  return items;\n}\n\nitems[0].json = {\n  _routed: true,\n  _user_id: conn.user_id,\n  _instance_id: conn.instance_id,\n  _access_token: conn.access_token,\n  _phone_number_id: prev._phone_number_id,\n  _from: prev._from,\n  _message_text: prev._message_text,\n  _message_id: prev._message_id,\n  _waba_id: prev._waba_id,\n  _display_phone_number: conn.display_phone_number || null\n};\nreturn items;"
      },
      "id": "inb-enrich",
      "name": "Enriquecer + filtrar eco",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [960, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "type": "mix" },
          "conditions": [
            {
              "id": "is-routed",
              "leftValue": "={{ $json._routed }}",
              "rightValue": "true",
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "inb-if-routed",
      "name": "Conexion encontrada?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1160, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL.replace(/\\/$/, '') }}/rest/v1/instance_personalities?instance_id=eq.{{ $json._instance_id }}&select=personality,system_prompt&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "inb-get-personality",
      "name": "Obtener personalidad (Supabase)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1380, 200],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "functionCode": "const msg = $node['Enriquecer + filtrar eco'].json;\nconst personalityResp = items[0].json;\nlet rows = Array.isArray(personalityResp) ? personalityResp : [];\nconst p = rows.length > 0 ? rows[0] : {};\nconst systemPrompt = p.system_prompt || p.personality || 'Eres un asistente conciso y amable en español que ayuda a los clientes de una tienda online. Responde brevemente.';\n\nitems[0].json = {\n  ...msg,\n  _system_prompt: systemPrompt\n};\nreturn items;"
      },
      "id": "inb-merge-personality",
      "name": "Merge personalidad",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1600, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json._system_prompt) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json._message_text) }} }\n  ],\n  \"max_tokens\": 250,\n  \"temperature\": 0.2\n}",
        "options": { "timeout": 20000 }
      },
      "id": "inb-llm",
      "name": "LLM: generar respuesta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1820, 200],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v25.0/{{ $node['Enriquecer + filtrar eco'].json._phone_number_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $node['Enriquecer + filtrar eco'].json._access_token }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $node['Enriquecer + filtrar eco'].json._from }}\",\n  \"text\": {\n    \"body\": {{ JSON.stringify(($json.choices && $json.choices[0] && $json.choices[0].message) ? $json.choices[0].message.content : 'Hola! Soy el asistente de tu tienda. ¿En qué te puedo ayudar?') }}\n  }\n}",
        "options": {}
      },
      "id": "inb-reply",
      "name": "Enviar respuesta (GraphAPI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2040, 200],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }",
        "options": {}
      },
      "id": "inb-resp-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2260, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Respond Verify (GET)", "type": "main", "index": 0 }],
        [{ "node": "Parsear mensaje", "type": "main", "index": 0 }]
      ]
    },
    "Parsear mensaje": {
      "main": [[{ "node": "Tiene mensaje?", "type": "main", "index": 0 }]]
    },
    "Tiene mensaje?": {
      "main": [
        [{ "node": "Buscar conexion (Supabase)", "type": "main", "index": 0 }],
        [{ "node": "Respond OK", "type": "main", "index": 0 }]
      ]
    },
    "Buscar conexion (Supabase)": {
      "main": [[{ "node": "Enriquecer + filtrar eco", "type": "main", "index": 0 }]]
    },
    "Enriquecer + filtrar eco": {
      "main": [[{ "node": "Conexion encontrada?", "type": "main", "index": 0 }]]
    },
    "Conexion encontrada?": {
      "main": [
        [{ "node": "Obtener personalidad (Supabase)", "type": "main", "index": 0 }],
        [{ "node": "Respond OK", "type": "main", "index": 0 }]
      ]
    },
    "Obtener personalidad (Supabase)": {
      "main": [[{ "node": "Merge personalidad", "type": "main", "index": 0 }]]
    },
    "Merge personalidad": {
      "main": [[{ "node": "LLM: generar respuesta", "type": "main", "index": 0 }]]
    },
    "LLM: generar respuesta": {
      "main": [[{ "node": "Enviar respuesta (GraphAPI)", "type": "main", "index": 0 }]]
    },
    "Enviar respuesta (GraphAPI)": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "wpp-inbound-router-mvp-1",
  "tags": []
}
