n8n_backup_20260423_230818/workflow_iDkNhXu6EvzWzssp.json
{"data":{"updatedAt":"2026-03-16T13:33:13.141Z","createdAt":"2026-01-30T02:20:44.588Z","id":"iDkNhXu6EvzWzssp","name":"Cargar Memoria RAG Faqs","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","tableName":{"__rl":true,"mode":"list","value":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[464,80],"id":"939d277a-0e98-4e9f-a913-6f360ca35d06","name":"Guarda en Cerebro","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[336,272],"id":"0738f4da-484e-4c69-b6f6-e9f0d6b4dd56","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"x102Fc6eiHRwiPt1","name":"OpenAi account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json['texto para la ia'] }}","textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"user_id","value":"={{ $('Texto IA').item.json.user_id }}"},{"name":"type","value":"={{ $json.type }}"},{"name":"=original_id_saas","value":"={{ $json.original_id_saas }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[576,256],"id":"4812c4de-d936-4b85-a94b-b1e9f63ee22f","name":"Default Data Loader"},{"parameters":{"assignments":{"assignments":[{"id":"32911dd7-ed06-4daa-b412-96b01fdee23e","name":"texto para la ia","value":"=Pregunta{{ $('Obtiene faqs All').item.json.question }}: | Respuesta:{{ $('Obtiene faqs All').item.json.answer }}","type":"string"},{"id":"e845f378-4a6d-41fd-968f-a2b71a6b00f9","name":"user_id","value":"={{ $json.user_id }}","type":"string"},{"id":"2c107ab5-6f3b-466f-b139-e09b36305316","name":"type","value":"faqs","type":"string"},{"id":"1e854318-82d5-44fe-b911-86a1f3621479","name":"original_id_saas","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,80],"id":"63b36c8f-5c7b-4789-a807-11e6a951cd58","name":"Texto IA"},{"parameters":{"rule":{"interval":[{"triggerAtHour":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1152,-48],"id":"09230b20-2820-41cd-ba25-95009572c1dc","name":"Schedule Trigger"},{"parameters":{"workflowInputs":{"values":[{"name":"user_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1072,336],"id":"4a38a77e-054e-4c67-9f1e-6999467ffdb6","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"c5eef025-9d91-4802-a27c-0b2440441af1","name":"result","value":"Éxito. Documento se ha indexado correctamente","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[848,80],"id":"fa142561-0490-4d38-9a5a-b5e07b6f9e4b","name":"Response WorklFlow1"},{"parameters":{"operation":"delete","tableId":"documents","filters":{"conditions":[{"keyName":"type","condition":"eq","keyValue":"faqs"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-720,-48],"id":"98e1c4d0-17d2-461a-9b4e-0dc67725c237","name":"Elimina Faqs All documents","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"delete","tableId":"documents","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $json.user_id }}"},{"keyName":"type","condition":"eq","keyValue":"faqs"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-592,336],"id":"74613075-16fa-4ddb-b682-68a05f1f72c3","name":"Elimina Faqs By user_id","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"faqs","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-176,80],"id":"69854b96-ee25-4cdc-902c-0d067896e2df","name":"Obtiene faqs All","executeOnce":true,"credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"options":{"splitCode":"markdown"}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[672,464],"id":"020e70d9-8406-411c-93ff-f135dda6b053","name":"Recursive Character Text Splitter"}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Guarda en Cerebro","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Guarda en Cerebro","type":"ai_document","index":0}]]},"Texto IA":{"main":[[{"node":"Guarda en Cerebro","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Elimina Faqs All documents","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Elimina Faqs By user_id","type":"main","index":0}]]},"Guarda en Cerebro":{"main":[[{"node":"Response WorklFlow1","type":"main","index":0}]]},"Elimina Faqs All documents":{"main":[[{"node":"Obtiene faqs All","type":"main","index":0}]]},"Elimina Faqs By user_id":{"main":[[{"node":"Obtiene faqs All","type":"main","index":0}]]},"Obtiene faqs All":{"main":[[{"node":"Texto IA","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"64435fa9-9b5e-4e57-9aaa-8587668e70c9","activeVersionId":"64435fa9-9b5e-4e57-9aaa-8587668e70c9","versionCounter":160,"triggerCount":1,"shared":[{"updatedAt":"2026-01-30T02:20:44.591Z","createdAt":"2026-01-30T02:20:44.591Z","role":"workflow:owner","workflowId":"iDkNhXu6EvzWzssp","projectId":"Dv9n0fTb4o45RMgf","project":{"updatedAt":"2026-01-18T23:02:15.869Z","createdAt":"2026-01-18T22:31:52.086Z","id":"Dv9n0fTb4o45RMgf","name":"Felipe Gomez <fe.gomez.tre@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"835ef969-7ad7-411f-8c05-1019ce967293","projectRelations":[{"updatedAt":"2026-01-18T22:31:52.086Z","createdAt":"2026-01-18T22:31:52.086Z","userId":"835ef969-7ad7-411f-8c05-1019ce967293","projectId":"Dv9n0fTb4o45RMgf","user":{"updatedAt":"2026-04-24T02:54:22.000Z","createdAt":"2026-01-18T22:31:50.891Z","id":"835ef969-7ad7-411f-8c05-1019ce967293","email":"fe.gomez.tre@gmail.com","firstName":"Felipe","lastName":"Gomez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-18T23:02:44.341Z","personalization_survey_n8n_version":"2.3.6","automationGoalDevops":["other"],"companyType":"saas","role":"it"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"u7Yj8nQneu2cJvSDmp_ST","userActivatedAt":1769178337937,"npsSurvey":{"responded":true,"lastShownAt":1769442979769}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-23","isPending":false}}]}}],"tags":[],"parentFolder":null,"activeVersion":{"updatedAt":"2026-03-16T13:33:15.000Z","createdAt":"2026-03-16T13:33:13.142Z","versionId":"64435fa9-9b5e-4e57-9aaa-8587668e70c9","workflowId":"iDkNhXu6EvzWzssp","nodes":[{"parameters":{"mode":"insert","tableName":{"__rl":true,"mode":"list","value":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[464,80],"id":"939d277a-0e98-4e9f-a913-6f360ca35d06","name":"Guarda en Cerebro","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[336,272],"id":"0738f4da-484e-4c69-b6f6-e9f0d6b4dd56","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"x102Fc6eiHRwiPt1","name":"OpenAi account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json['texto para la ia'] }}","textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"user_id","value":"={{ $('Texto IA').item.json.user_id }}"},{"name":"type","value":"={{ $json.type }}"},{"name":"=original_id_saas","value":"={{ $json.original_id_saas }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[576,256],"id":"4812c4de-d936-4b85-a94b-b1e9f63ee22f","name":"Default Data Loader"},{"parameters":{"assignments":{"assignments":[{"id":"32911dd7-ed06-4daa-b412-96b01fdee23e","name":"texto para la ia","value":"=Pregunta{{ $('Obtiene faqs All').item.json.question }}: | Respuesta:{{ $('Obtiene faqs All').item.json.answer }}","type":"string"},{"id":"e845f378-4a6d-41fd-968f-a2b71a6b00f9","name":"user_id","value":"={{ $json.user_id }}","type":"string"},{"id":"2c107ab5-6f3b-466f-b139-e09b36305316","name":"type","value":"faqs","type":"string"},{"id":"1e854318-82d5-44fe-b911-86a1f3621479","name":"original_id_saas","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,80],"id":"63b36c8f-5c7b-4789-a807-11e6a951cd58","name":"Texto IA"},{"parameters":{"rule":{"interval":[{"triggerAtHour":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1152,-48],"id":"09230b20-2820-41cd-ba25-95009572c1dc","name":"Schedule Trigger"},{"parameters":{"workflowInputs":{"values":[{"name":"user_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1072,336],"id":"4a38a77e-054e-4c67-9f1e-6999467ffdb6","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"c5eef025-9d91-4802-a27c-0b2440441af1","name":"result","value":"Éxito. Documento se ha indexado correctamente","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[848,80],"id":"fa142561-0490-4d38-9a5a-b5e07b6f9e4b","name":"Response WorklFlow1"},{"parameters":{"operation":"delete","tableId":"documents","filters":{"conditions":[{"keyName":"type","condition":"eq","keyValue":"faqs"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-720,-48],"id":"98e1c4d0-17d2-461a-9b4e-0dc67725c237","name":"Elimina Faqs All documents","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"delete","tableId":"documents","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $json.user_id }}"},{"keyName":"type","condition":"eq","keyValue":"faqs"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-592,336],"id":"74613075-16fa-4ddb-b682-68a05f1f72c3","name":"Elimina Faqs By user_id","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"faqs","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-176,80],"id":"69854b96-ee25-4cdc-902c-0d067896e2df","name":"Obtiene faqs All","executeOnce":true,"credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"options":{"splitCode":"markdown"}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[672,464],"id":"020e70d9-8406-411c-93ff-f135dda6b053","name":"Recursive Character Text Splitter"}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Guarda en Cerebro","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Guarda en Cerebro","type":"ai_document","index":0}]]},"Texto IA":{"main":[[{"node":"Guarda en Cerebro","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Elimina Faqs All documents","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Elimina Faqs By user_id","type":"main","index":0}]]},"Guarda en Cerebro":{"main":[[{"node":"Response WorklFlow1","type":"main","index":0}]]},"Elimina Faqs All documents":{"main":[[{"node":"Obtiene faqs All","type":"main","index":0}]]},"Elimina Faqs By user_id":{"main":[[{"node":"Obtiene faqs All","type":"main","index":0}]]},"Obtiene faqs All":{"main":[[{"node":"Texto IA","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"authors":"Felipe Gomez","name":"Version 64435fa9","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-16T13:33:15.875Z","id":563,"workflowId":"iDkNhXu6EvzWzssp","versionId":"64435fa9-9b5e-4e57-9aaa-8587668e70c9","event":"activated","userId":"835ef969-7ad7-411f-8c05-1019ce967293"}]},"scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:update"],"checksum":"4563f6d700e6d7331942dc74f5b923764749d578da24167f73f59b19b1ec9a9b"}}