n8n_backup_20260423_230818/workflow_CCEahHzGReI4SAKVig2bc.json
{"data":{"updatedAt":"2026-04-13T00:23:27.846Z","createdAt":"2026-02-05T00:39:25.429Z","id":"CCEahHzGReI4SAKVig2bc","name":"Tool - Buscador Inteligente","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"query"},{"name":"plan"},{"name":"user_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-160,0],"id":"e2f89d74-2013-4725-955d-359bf85ccabb","name":"When Executed by Another Workflow"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[96,208],"id":"ea52b97e-ca6e-41af-be86-c4ff26824e99","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"x102Fc6eiHRwiPt1","name":"OpenAi account"}}},{"parameters":{"mode":"load","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"prompt":"={{ $json.query }}","topK":3,"options":{"metadata":{"metadataValues":[{"name":"=user_id","value":"={{ $json.user_id }}"},{"name":"activo","value":"={{true}}"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[160,0],"id":"2868c57a-4136-44e6-be64-4887cfa7e8b7","name":"Busca catalogo","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"createLink","originalURL":"={{ $json.document.metadata.imagen_url }}","additionalFields":{}},"type":"n8n-nodes-shortio.Shortio","typeVersion":2,"position":[992,-96],"id":"9116023f-a6e3-4e49-8e75-7373064a9ba8","name":"Acorta Link","credentials":{"shortioApi":{"id":"mOvcZGiD7WNf8ydz","name":"Short.io account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"be590122-39b0-4e8a-955b-3507149e5407","leftValue":"={{ $('When Executed by Another Workflow').item.json.plan }}","rightValue":"Free","operator":{"type":"string","operation":"notEquals"}},{"id":"734db890-87cd-47bc-8c10-a11439186759","leftValue":"={{ $json.document.metadata.type }}","rightValue":"product","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[576,0],"id":"056bb3cd-69f8-48b6-920f-22366a3d5a58","name":"separa si es producto o faqs"},{"parameters":{"assignments":{"assignments":[{"id":"2a10adb5-5bb8-4487-a961-a36e5c731690","name":"url_final","value":"={{ $json.shortURL || $node[\"Busca catalogo\"].json.document.metadata.imagen_url }}","type":"string"},{"id":"34c4cb16-04ab-44cc-9723-80277bed3af5","name":"item_price","value":"={{ $node[\"Busca catalogo\"].json.document.metadata.precio }}","type":"number"},{"id":"e1bdd685-fcc6-4ffb-9e28-7de57e50202a","name":"item_title","value":"={{ $node[\"Busca catalogo\"].json.document.pageContent.split('Name: ')[1].split(' - ')[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1328,-96],"id":"69a7f6d4-5c0d-460f-90d4-0d8f00972735","name":"responde productos"},{"parameters":{"assignments":{"assignments":[{"id":"2a10adb5-5bb8-4487-a961-a36e5c731690","name":"responde faqs","value":"={{ $json.respuesta_final }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1312,112],"id":"ebfc4ce4-c49c-4339-b432-971a43d6e751","name":"responde faqs"},{"parameters":{"jsCode":"// 1. Separamos los resultados por tipo (Producto o FAQ)\nconst allProducts = items.filter(i => \n  i.json.document?.metadata?.type === 'product' && (i.json.score || 0) >= 0.20\n);\n\nconst allFaqs = items.filter(i => \n  (i.json.document?.metadata?.type === 'faqs' || i.json.document?.metadata?.type === 'faq') && (i.json.score || 0) >= 0.4\n).sort((a, b) => (b.json.score || 0) - (a.json.score || 0));\n\nlet results = [];\n\n// 2. Procesamos TODOS los productos encontrados (Score >= 0.3)\nallProducts.forEach(p => {\n  results.push({\n    json: {\n      ...p.json,\n      type: 'product',\n      nombre: p.json.document?.pageContent?.split('-')[1]?.split(':')[1]?.trim() || \"Producto\",\n      precio: p.json.document?.metadata?.precio || 0,\n      image_url: p.json.url_final || \"\",\n      respuesta_final: p.json.document.pageContent.trim() + 'image_ur: ' +  p.json.url_final || \"\"\n    }\n  });\n});\n\n// 3. Procesamos solo la MEJOR FAQ (Score >= 0.5)\nif (allFaqs.length > 0) {\n  const bestFaq = allFaqs[0];\n  const content = bestFaq.json.document?.pageContent || \"\";\n  const keyword = \"Respuesta:\";\n  let finalAnswer = content.includes(keyword) ? content.split(keyword)[1].trim() : content.trim();\n\n  results.push({\n    json: {\n      ...bestFaq.json,\n      type: 'faq',\n      respuesta_final: finalAnswer\n    }\n  });\n}\n\n// 4. Si no hay absolutamente nada, enviamos el mensaje de error\nif (results.length === 0) {\n  return [{ json: { respuesta_final: \"No encontré una respuesta lo suficientemente precisa.\", type: 'error' } }];\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,112],"id":"3fec4565-62c1-4445-9e25-34d4b3eabe8d","name":"busca respuesta"},{"parameters":{"jsCode":"var rawUrl = $input.first().json.document.metadata.imagen_url || '';\nvar parts = rawUrl.split('/catalog/');\nvar shortURL = parts.length > 1 ? 'https://img.mitiendavirtual.cl/' + parts[1] : rawUrl;\nreturn [{ json: { ...$input.first().json, url_final: shortURL } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,112],"id":"6cefe4af-5d7b-4a08-a0c8-06ffd8b17f2f","name":"Acorta Link1"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Busca catalogo","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Busca catalogo","type":"ai_embedding","index":0}]]},"Busca catalogo":{"main":[[{"node":"separa si es producto o faqs","type":"main","index":0}]]},"Acorta Link":{"main":[[{"node":"responde productos","type":"main","index":0}]]},"separa si es producto o faqs":{"main":[[{"node":"Acorta Link","type":"main","index":0}],[{"node":"Acorta Link1","type":"main","index":0}]]},"responde productos":{"main":[[]]},"busca respuesta":{"main":[[{"node":"responde faqs","type":"main","index":0}]]},"Acorta Link1":{"main":[[{"node":"busca respuesta","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"172be328-99f0-4b80-ae67-c3d0dc4f4ca4","activeVersionId":"172be328-99f0-4b80-ae67-c3d0dc4f4ca4","versionCounter":184,"triggerCount":0,"shared":[{"updatedAt":"2026-02-05T00:39:25.435Z","createdAt":"2026-02-05T00:39:25.435Z","role":"workflow:owner","workflowId":"CCEahHzGReI4SAKVig2bc","projectId":"Dv9n0fTb4o45RMgf","project":{"updatedAt":"2026-01-18T23:02:15.869Z","createdAt":"2026-01-18T22:31:52.086Z","id":"Dv9n0fTb4o45RMgf","name":"Felipe Gomez <fe.gomez.tre@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"835ef969-7ad7-411f-8c05-1019ce967293","projectRelations":[{"updatedAt":"2026-01-18T22:31:52.086Z","createdAt":"2026-01-18T22:31:52.086Z","userId":"835ef969-7ad7-411f-8c05-1019ce967293","projectId":"Dv9n0fTb4o45RMgf","user":{"updatedAt":"2026-04-24T02:54:22.000Z","createdAt":"2026-01-18T22:31:50.891Z","id":"835ef969-7ad7-411f-8c05-1019ce967293","email":"fe.gomez.tre@gmail.com","firstName":"Felipe","lastName":"Gomez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-18T23:02:44.341Z","personalization_survey_n8n_version":"2.3.6","automationGoalDevops":["other"],"companyType":"saas","role":"it"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"u7Yj8nQneu2cJvSDmp_ST","userActivatedAt":1769178337937,"npsSurvey":{"responded":true,"lastShownAt":1769442979769}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-23","isPending":false}}]}}],"tags":[],"parentFolder":null,"activeVersion":{"updatedAt":"2026-04-13T00:23:30.000Z","createdAt":"2026-04-13T00:23:27.847Z","versionId":"172be328-99f0-4b80-ae67-c3d0dc4f4ca4","workflowId":"CCEahHzGReI4SAKVig2bc","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"query"},{"name":"plan"},{"name":"user_id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-160,0],"id":"e2f89d74-2013-4725-955d-359bf85ccabb","name":"When Executed by Another Workflow"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[96,208],"id":"ea52b97e-ca6e-41af-be86-c4ff26824e99","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"x102Fc6eiHRwiPt1","name":"OpenAi account"}}},{"parameters":{"mode":"load","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"prompt":"={{ $json.query }}","topK":3,"options":{"metadata":{"metadataValues":[{"name":"=user_id","value":"={{ $json.user_id }}"},{"name":"activo","value":"={{true}}"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[160,0],"id":"2868c57a-4136-44e6-be64-4887cfa7e8b7","name":"Busca catalogo","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"createLink","originalURL":"={{ $json.document.metadata.imagen_url }}","additionalFields":{}},"type":"n8n-nodes-shortio.Shortio","typeVersion":2,"position":[992,-96],"id":"9116023f-a6e3-4e49-8e75-7373064a9ba8","name":"Acorta Link","credentials":{"shortioApi":{"id":"mOvcZGiD7WNf8ydz","name":"Short.io account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"be590122-39b0-4e8a-955b-3507149e5407","leftValue":"={{ $('When Executed by Another Workflow').item.json.plan }}","rightValue":"Free","operator":{"type":"string","operation":"notEquals"}},{"id":"734db890-87cd-47bc-8c10-a11439186759","leftValue":"={{ $json.document.metadata.type }}","rightValue":"product","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[576,0],"id":"056bb3cd-69f8-48b6-920f-22366a3d5a58","name":"separa si es producto o faqs"},{"parameters":{"assignments":{"assignments":[{"id":"2a10adb5-5bb8-4487-a961-a36e5c731690","name":"url_final","value":"={{ $json.shortURL || $node[\"Busca catalogo\"].json.document.metadata.imagen_url }}","type":"string"},{"id":"34c4cb16-04ab-44cc-9723-80277bed3af5","name":"item_price","value":"={{ $node[\"Busca catalogo\"].json.document.metadata.precio }}","type":"number"},{"id":"e1bdd685-fcc6-4ffb-9e28-7de57e50202a","name":"item_title","value":"={{ $node[\"Busca catalogo\"].json.document.pageContent.split('Name: ')[1].split(' - ')[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1328,-96],"id":"69a7f6d4-5c0d-460f-90d4-0d8f00972735","name":"responde productos"},{"parameters":{"assignments":{"assignments":[{"id":"2a10adb5-5bb8-4487-a961-a36e5c731690","name":"responde faqs","value":"={{ $json.respuesta_final }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1312,112],"id":"ebfc4ce4-c49c-4339-b432-971a43d6e751","name":"responde faqs"},{"parameters":{"jsCode":"// 1. Separamos los resultados por tipo (Producto o FAQ)\nconst allProducts = items.filter(i => \n  i.json.document?.metadata?.type === 'product' && (i.json.score || 0) >= 0.20\n);\n\nconst allFaqs = items.filter(i => \n  (i.json.document?.metadata?.type === 'faqs' || i.json.document?.metadata?.type === 'faq') && (i.json.score || 0) >= 0.4\n).sort((a, b) => (b.json.score || 0) - (a.json.score || 0));\n\nlet results = [];\n\n// 2. Procesamos TODOS los productos encontrados (Score >= 0.3)\nallProducts.forEach(p => {\n  results.push({\n    json: {\n      ...p.json,\n      type: 'product',\n      nombre: p.json.document?.pageContent?.split('-')[1]?.split(':')[1]?.trim() || \"Producto\",\n      precio: p.json.document?.metadata?.precio || 0,\n      image_url: p.json.url_final || \"\",\n      respuesta_final: p.json.document.pageContent.trim() + 'image_ur: ' +  p.json.url_final || \"\"\n    }\n  });\n});\n\n// 3. Procesamos solo la MEJOR FAQ (Score >= 0.5)\nif (allFaqs.length > 0) {\n  const bestFaq = allFaqs[0];\n  const content = bestFaq.json.document?.pageContent || \"\";\n  const keyword = \"Respuesta:\";\n  let finalAnswer = content.includes(keyword) ? content.split(keyword)[1].trim() : content.trim();\n\n  results.push({\n    json: {\n      ...bestFaq.json,\n      type: 'faq',\n      respuesta_final: finalAnswer\n    }\n  });\n}\n\n// 4. Si no hay absolutamente nada, enviamos el mensaje de error\nif (results.length === 0) {\n  return [{ json: { respuesta_final: \"No encontré una respuesta lo suficientemente precisa.\", type: 'error' } }];\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,112],"id":"3fec4565-62c1-4445-9e25-34d4b3eabe8d","name":"busca respuesta"},{"parameters":{"jsCode":"var rawUrl = $input.first().json.document.metadata.imagen_url || '';\nvar parts = rawUrl.split('/catalog/');\nvar shortURL = parts.length > 1 ? 'https://img.mitiendavirtual.cl/' + parts[1] : rawUrl;\nreturn [{ json: { ...$input.first().json, url_final: shortURL } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,112],"id":"6cefe4af-5d7b-4a08-a0c8-06ffd8b17f2f","name":"Acorta Link1"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Busca catalogo","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Busca catalogo","type":"ai_embedding","index":0}]]},"Busca catalogo":{"main":[[{"node":"separa si es producto o faqs","type":"main","index":0}]]},"Acorta Link":{"main":[[{"node":"responde productos","type":"main","index":0}]]},"separa si es producto o faqs":{"main":[[{"node":"Acorta Link","type":"main","index":0}],[{"node":"Acorta Link1","type":"main","index":0}]]},"responde productos":{"main":[[]]},"busca respuesta":{"main":[[{"node":"responde faqs","type":"main","index":0}]]},"Acorta Link1":{"main":[[{"node":"busca respuesta","type":"main","index":0}]]}},"authors":"Felipe Gomez","name":"Version 172be328","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-13T00:23:30.961Z","id":735,"workflowId":"CCEahHzGReI4SAKVig2bc","versionId":"172be328-99f0-4b80-ae67-c3d0dc4f4ca4","event":"activated","userId":"835ef969-7ad7-411f-8c05-1019ce967293"}]},"scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:update"],"checksum":"c08522487b7d853665dc8dca9d733f95d1896a1000ea3ed795886aa5f4e0bca1"}}