n8n_backup_20260423_230818/workflow_0yuSoBP0x8NztpyP1VtGN.json
{"data":{"updatedAt":"2026-04-01T00:02:24.932Z","createdAt":"2026-03-31T23:45:52.674Z","id":"0yuSoBP0x8NztpyP1VtGN","name":"Cosechador de Oro","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"tableId":"leads","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $json.user_id }}"},{"fieldId":"cliente_nombre","fieldValue":"={{ $json.cliente_nombre }}"},{"fieldId":"whatsapp_contacto","fieldValue":"={{ $json.whatsapp_contacto }}"},{"fieldId":"intencion_compra","fieldValue":"={{ $json.intencion_compra }}"},{"fieldId":"resumen_chat","fieldValue":"={{ $json.resumen_chat }}"},{"fieldId":"valor_estimado","fieldValue":"={{ $json.valor_estimado }}"},{"fieldId":"status","fieldValue":"nuevo"},{"fieldId":"created_at","fieldValue":"={{$now}}"}]}},"id":"a6d203c7-cbb1-4777-980a-c81099f18b65","name":"Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[208,-16],"credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"user_id"},{"name":"cliente_nombre"},{"name":"whatsapp_contacto"},{"name":"intencion_compra"},{"name":"resumen_chat"},{"name":"valor_estimado"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-144,-16],"id":"985749e2-9f96-4d17-bddb-69f985adcfea","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"d8c4315a-6e78-420f-b51e-aec36276a379","name":"response","value":"leads guardado con exito","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,-16],"id":"3eb5e9e2-7d54-4f33-b887-b5f3ef58c4a5","name":"Response OK"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Response OK","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eae46d6f-bf41-41d6-b549-3341a59bc05c","activeVersionId":"eae46d6f-bf41-41d6-b549-3341a59bc05c","versionCounter":14,"triggerCount":0,"shared":[{"updatedAt":"2026-03-31T23:45:52.685Z","createdAt":"2026-03-31T23:45:52.685Z","role":"workflow:owner","workflowId":"0yuSoBP0x8NztpyP1VtGN","projectId":"Dv9n0fTb4o45RMgf","project":{"updatedAt":"2026-01-18T23:02:15.869Z","createdAt":"2026-01-18T22:31:52.086Z","id":"Dv9n0fTb4o45RMgf","name":"Felipe Gomez <fe.gomez.tre@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"835ef969-7ad7-411f-8c05-1019ce967293","projectRelations":[{"updatedAt":"2026-01-18T22:31:52.086Z","createdAt":"2026-01-18T22:31:52.086Z","userId":"835ef969-7ad7-411f-8c05-1019ce967293","projectId":"Dv9n0fTb4o45RMgf","user":{"updatedAt":"2026-04-24T02:54:22.000Z","createdAt":"2026-01-18T22:31:50.891Z","id":"835ef969-7ad7-411f-8c05-1019ce967293","email":"fe.gomez.tre@gmail.com","firstName":"Felipe","lastName":"Gomez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-18T23:02:44.341Z","personalization_survey_n8n_version":"2.3.6","automationGoalDevops":["other"],"companyType":"saas","role":"it"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"u7Yj8nQneu2cJvSDmp_ST","userActivatedAt":1769178337937,"npsSurvey":{"responded":true,"lastShownAt":1769442979769}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-23","isPending":false}}]}}],"tags":[],"parentFolder":null,"activeVersion":{"updatedAt":"2026-04-01T00:32:52.000Z","createdAt":"2026-04-01T00:02:24.933Z","versionId":"eae46d6f-bf41-41d6-b549-3341a59bc05c","workflowId":"0yuSoBP0x8NztpyP1VtGN","nodes":[{"parameters":{"tableId":"leads","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $json.user_id }}"},{"fieldId":"cliente_nombre","fieldValue":"={{ $json.cliente_nombre }}"},{"fieldId":"whatsapp_contacto","fieldValue":"={{ $json.whatsapp_contacto }}"},{"fieldId":"intencion_compra","fieldValue":"={{ $json.intencion_compra }}"},{"fieldId":"resumen_chat","fieldValue":"={{ $json.resumen_chat }}"},{"fieldId":"valor_estimado","fieldValue":"={{ $json.valor_estimado }}"},{"fieldId":"status","fieldValue":"nuevo"},{"fieldId":"created_at","fieldValue":"={{$now}}"}]}},"id":"a6d203c7-cbb1-4777-980a-c81099f18b65","name":"Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[208,-16],"credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"user_id"},{"name":"cliente_nombre"},{"name":"whatsapp_contacto"},{"name":"intencion_compra"},{"name":"resumen_chat"},{"name":"valor_estimado"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-144,-16],"id":"985749e2-9f96-4d17-bddb-69f985adcfea","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"d8c4315a-6e78-420f-b51e-aec36276a379","name":"response","value":"leads guardado con exito","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,-16],"id":"3eb5e9e2-7d54-4f33-b887-b5f3ef58c4a5","name":"Response OK"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Response OK","type":"main","index":0}]]}},"authors":"Felipe Gomez","name":"Version eae46d6f","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-01T00:32:52.971Z","id":599,"workflowId":"0yuSoBP0x8NztpyP1VtGN","versionId":"eae46d6f-bf41-41d6-b549-3341a59bc05c","event":"activated","userId":"835ef969-7ad7-411f-8c05-1019ce967293"}]},"scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:update"],"checksum":"c42d97b64e36d390fba38712d30da8c9452a2b087242fb3914060f8aaa5a3ed1"}}