n8n_backup_20260423_230818/workflow_RKk3hWLMtQznZe29BLdyP.json
{"data":{"updatedAt":"2026-04-13T01:41:43.064Z","createdAt":"2026-01-20T01:40:52.484Z","id":"RKk3hWLMtQznZe29BLdyP","name":"Instagram OAuth","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"multipleMethods":true,"path":"instagram-auth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-880,-96],"id":"1d485b0c-6642-4634-b1af-c810f80404b4","name":"Webhook","webhookId":"1f73eea1-f7d1-4d71-bdd1-2d6c1e08088a"},{"parameters":{"respondWith":"redirect","redirectURL":"https://www.mitiendavirtual.cl/dashboard?connected=true","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1648,-144],"id":"2e54707f-ab03-4d72-ae9d-c434058b2b71","name":"Respond to Webhook"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/oauth/access_token","sendQuery":true,"queryParameters":{"parameters":[{"name":"client_id","value":"1397698478805069"},{"name":"client_secret","value":"62c35d130a8b92a39bf72023dcfb13ff"},{"name":"redirect_uri","value":"https://webhook.mitiendavirtual.cl/webhook/instagram-auth"},{"name":"code","value":"={{ $json.query.code }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-224,-128],"id":"ee5c9dff-2618-43e9-be25-18c93baf4f01","name":"access_token"},{"parameters":{"url":"https://graph.facebook.com/v21.0/me","sendQuery":true,"queryParameters":{"parameters":[{"name":"me","value":"fields"},{"name":"access_token","value":"={{ $node[\"access_token\"].json[\"access_token\"] }}"},{"name":"fields","value":"accounts{name,access_token,instagram_business_account}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[0,-128],"id":"a041a842-7405-4d35-ac35-961cbefde063","name":"me"},{"parameters":{"operation":"update","tableId":"instances","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $('Webhook').item.json.query.state }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"access_token","fieldValue":"={{ $('me').item.json.accounts.data[0].access_token }}"},{"fieldId":"provider_id","fieldValue":"={{ $node[\"me\"].json.accounts.data[0].instagram_business_account.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1184,-144],"id":"5e4485ea-69ea-41d3-b98d-3960ff289bb2","name":"Update a access_token","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"profiles","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Webhook').item.json.query.state }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"full_name","fieldValue":"={{ $('me').item.json.accounts.data[0].name }}"},{"fieldId":"current_products","fieldValue":"10"},{"fieldId":"plan_type","fieldValue":"Free"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1392,-144],"id":"f363ab9c-8071-4f0a-b80e-04a5dabdc1af","name":"Update fullname","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"028b6f0b-b18c-4983-84b2-ed1b909e856a","leftValue":"={{ $json.query.code }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-544,-112],"id":"5518b4fb-8c46-4f19-8377-4a5e3adead78","name":"If"},{"parameters":{"respondWith":"redirect","redirectURL":"https://www.mitiendavirtual.cl/dashboard?error=cancelled","options":{"responseCode":302}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[-288,96],"id":"2e6e90a2-9e52-40e5-9668-f132734109f6","name":"Respond to Webhook1"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('me').item.json.accounts.data[0].id }}/subscribed_apps","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $('me').item.json.accounts.data[0].access_token }}"},{"name":"subscribed_fields","value":"messages, messaging_postbacks"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[928,-144],"id":"6c850743-aa08-42fd-8cff-6d7b08c76294","name":"Subscribed app"},{"parameters":{"content":"revisar el me de la subscripcion\n{{ $json.accounts.data[0].instagram_business_account.id }}\n{{ $('me').item.json.accounts.data[0].id }}","width":544},"type":"n8n-nodes-base.stickyNote","position":[-128,-352],"typeVersion":1,"id":"4e01476a-3a4b-4f33-86af-4d93ccf68c21","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7e6e6449-1156-42ca-b0fe-8f23b34035ca","leftValue":"={{ $json.accounts.data[0].id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[224,-128],"id":"befa3266-0998-410a-b5a2-2841e46b0890","name":"If1"},{"parameters":{"respondWith":"redirect","redirectURL":"https://www.mitiendavirtual.cl/dashboard?error=cancelled","options":{"responseCode":406}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[432,80],"id":"29eb8af5-4097-497d-ba77-146c1b750b40","name":"Respond to Webhook2"},{"parameters":{"url":"=https://iesmzunoepfwkxilvxdv.supabase.co/rest/v1/instances?select=id&provider_id=eq.{{ $node[\"me\"].json.accounts.data[0].instagram_business_account.id }}&user_id=neq.{{ $('Webhook').item.json.query.state }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imllc216dW5vZXBmd2t4aWx2eGR2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODc4MjQzNywiZXhwIjoyMDg0MzU4NDM3fQ.5Vrp96uYgGEiUhmdBxXNb7lwZz5S2TO1RaecEfcBFwc"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imllc216dW5vZXBmd2t4aWx2eGR2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODc4MjQzNywiZXhwIjoyMDg0MzU4NDM3fQ.5Vrp96uYgGEiUhmdBxXNb7lwZz5S2TO1RaecEfcBFwc"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[448,-224],"id":"decb1634-43a2-41f2-805c-ec7d22dcc1b6","name":"Verifica IG Duplicado","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"aa024096-e8da-4e81-a213-24e24eb60e1c","leftValue":"={{ $json }}","rightValue":0,"operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[656,-224],"id":"54133e32-d729-459b-b063-dedeb0c1cefe","name":"Si Duplicado"},{"parameters":{"respondWith":"redirect","redirectURL":"https://www.mitiendavirtual.cl/dashboard?ig_error=already_used","options":{"responseCode":302}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[944,-352],"id":"cdbfa70a-7267-4be9-94a2-5ae1dba3f95c","name":"Respond Duplicado"}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}],[]]},"access_token":{"main":[[{"node":"me","type":"main","index":0}]]},"me":{"main":[[{"node":"If1","type":"main","index":0}]]},"Update a access_token":{"main":[[{"node":"Update fullname","type":"main","index":0}]]},"Update fullname":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"If":{"main":[[{"node":"access_token","type":"main","index":0}],[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Subscribed app":{"main":[[{"node":"Update a access_token","type":"main","index":0}]]},"If1":{"main":[[{"node":"Verifica IG Duplicado","type":"main","index":0}],[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Verifica IG Duplicado":{"main":[[{"node":"Si Duplicado","type":"main","index":0}]]},"Si Duplicado":{"main":[[{"node":"Respond Duplicado","type":"main","index":0}],[{"node":"Subscribed app","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.mitiendavirtual.cl","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, br","accept-language":"es-419,es;q=0.9","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"200.120.62.118","cf-ipcountry":"CL","cf-ray":"9eb6be096831e845-EZE","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"25fb36c4-be2f-495a-ad47-f72146c5307a","connection":"keep-alive","cookie":"rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19L1RtaLbXyBFyeMfo2zFfpABzHzzggqjU%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19TBGHVnwp2%2FxKGptFZLAZLAgm1cfk6A%2BQ%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2BiMZUuxEEu3g8iwOxC9KMa3qpVPwWPyH5%2BVrKOwnXoJ5psO1fidIPinEG6WI8wdt%2FHuInqa5XACQ%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19KhG64sSeXVlSCWROn1YYLqu7qXmktHUdn5SOgPYSyjUsKU1xaMB4jNbvopHcRzc3xQY%2BSabqAz%2BL0S6e%2FgnUjWXiT%2F1YWRZq6gqBqjpcYIGOuf1IuGRXH3ks1t8tLiQqly7jo%2BJg3UifhTwESXEhz52akQ1yDBtU%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX18wHVt0Z5Gid%2F53IqcxziZwc98V8vWhuZJknfACYmrprMulPG2WRrAwxhkTM3R7sLe5ysSfFh%2F9fs7W4sGb1ElSq0tcfYekY3304hUScaZVF%2ByX2L%2FHLg%2FJwkIE%2FaQ6zZlyVQzfWT6Tl2LPJCNL8LbRwxdcNuV5oO0%3D; rl_session=RudderEncrypt%3AU2FsdGVkX19TxvcMP9ngGs9MKtgSX%2BBVM7v6V3pAS7lMvDQVs519o%2B2cAYRK4G6hs7RTo%2BWaUJgO7fepTjPGnCGF294srYgmp8lz6g4WJsnqvDy4vQwzcW4ZBKOt%2FKwMfbqWUizqffeV9M50lR7Oyw%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22%24device_id%22%3A%22019d7eff-76cf-76dd-8777-79a172071936%22%2C%22distinct_id%22%3A%22a5516a2a9cf205e273f8d3d2fa2ee6e75611a482072bccca1b3d4b67e92eb589%23835ef969-7ad7-411f-8c05-1019ce967293%22%2C%22%24sesid%22%3A%5B1776044170874%2C%22019d8470-2d61-74c2-926d-ec5381ed2b3f%22%2C1776043437409%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fwebhook.mitiendavirtual.cl%2Fsignin%3Fredirect%3D%25252F%22%7D%2C%22%24user_state%22%3A%22identified%22%7D","priority":"u=0, i","referer":"https://www.facebook.com/","sec-ch-ua":"\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"macOS\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"cross-site","upgrade-insecure-requests":"1","x-forwarded-for":"200.120.62.118","x-forwarded-proto":"https"},"params":{},"query":{"code":"AQBL_H4hZ-t3sx5B7JYOqGMBUBvaKiQEj0vDp50xs7vuAuxrj4wrwVSyokhOPtBvlp-Ctt0ht2dG21p8BSg8JKruoiaC8xKV9J_01Bl3eIs0LHuQnQ-JjP4HHZY3YD9t2Vw2lexRUCF2DoREBMt3rWtIQXPlB-JOZtQdtTHzYvY4CKbsZc2tfhrJEJL9aJ4uKrHL5aS-8gRg89htHad4kzdS-aIBGF2dJEfmgR57-g7SIiZtpz3IvyTKYQ-dttkdlI1hCWUUKW4Ll7x1WlRxHMhys7hfbbiSK5wFIstOVHIwDDsrMdKkYWfmLuGGGA-XdkxEKvxLs-CswlCRL57awYvBscBw82Oz_oVEYhXpJQZ_l6HjTAY-bgTaTrKtrp5PDwIgZZ_NzXGuPik6TmEFrEs4nvyTI6VQds9qe2jhYp3Pj_24Q7JcHpt4fHzk9tyOSX8","state":"24580760-1de5-4921-af82-199c459e5266"},"body":{},"webhookUrl":"https://webhook.mitiendavirtual.cl/webhook/instagram-auth","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"98e2722f-0955-4cab-b1ae-8097d94ae1c4","activeVersionId":"98e2722f-0955-4cab-b1ae-8097d94ae1c4","versionCounter":181,"triggerCount":1,"shared":[{"updatedAt":"2026-01-20T01:40:52.489Z","createdAt":"2026-01-20T01:40:52.489Z","role":"workflow:owner","workflowId":"RKk3hWLMtQznZe29BLdyP","projectId":"Dv9n0fTb4o45RMgf","project":{"updatedAt":"2026-01-18T23:02:15.869Z","createdAt":"2026-01-18T22:31:52.086Z","id":"Dv9n0fTb4o45RMgf","name":"Felipe Gomez <fe.gomez.tre@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"835ef969-7ad7-411f-8c05-1019ce967293","projectRelations":[{"updatedAt":"2026-01-18T22:31:52.086Z","createdAt":"2026-01-18T22:31:52.086Z","userId":"835ef969-7ad7-411f-8c05-1019ce967293","projectId":"Dv9n0fTb4o45RMgf","user":{"updatedAt":"2026-04-24T02:54:22.000Z","createdAt":"2026-01-18T22:31:50.891Z","id":"835ef969-7ad7-411f-8c05-1019ce967293","email":"fe.gomez.tre@gmail.com","firstName":"Felipe","lastName":"Gomez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-18T23:02:44.341Z","personalization_survey_n8n_version":"2.3.6","automationGoalDevops":["other"],"companyType":"saas","role":"it"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"u7Yj8nQneu2cJvSDmp_ST","userActivatedAt":1769178337937,"npsSurvey":{"responded":true,"lastShownAt":1769442979769}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-23","isPending":false}}]}}],"tags":[],"parentFolder":null,"activeVersion":{"updatedAt":"2026-04-13T01:41:46.000Z","createdAt":"2026-04-13T01:41:43.066Z","versionId":"98e2722f-0955-4cab-b1ae-8097d94ae1c4","workflowId":"RKk3hWLMtQznZe29BLdyP","nodes":[{"parameters":{"multipleMethods":true,"path":"instagram-auth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-880,-96],"id":"1d485b0c-6642-4634-b1af-c810f80404b4","name":"Webhook","webhookId":"1f73eea1-f7d1-4d71-bdd1-2d6c1e08088a"},{"parameters":{"respondWith":"redirect","redirectURL":"https://www.mitiendavirtual.cl/dashboard?connected=true","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1648,-144],"id":"2e54707f-ab03-4d72-ae9d-c434058b2b71","name":"Respond to Webhook"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v21.0/oauth/access_token","sendQuery":true,"queryParameters":{"parameters":[{"name":"client_id","value":"1397698478805069"},{"name":"client_secret","value":"62c35d130a8b92a39bf72023dcfb13ff"},{"name":"redirect_uri","value":"https://webhook.mitiendavirtual.cl/webhook/instagram-auth"},{"name":"code","value":"={{ $json.query.code }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-224,-128],"id":"ee5c9dff-2618-43e9-be25-18c93baf4f01","name":"access_token"},{"parameters":{"url":"https://graph.facebook.com/v21.0/me","sendQuery":true,"queryParameters":{"parameters":[{"name":"me","value":"fields"},{"name":"access_token","value":"={{ $node[\"access_token\"].json[\"access_token\"] }}"},{"name":"fields","value":"accounts{name,access_token,instagram_business_account}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[0,-128],"id":"a041a842-7405-4d35-ac35-961cbefde063","name":"me"},{"parameters":{"operation":"update","tableId":"instances","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $('Webhook').item.json.query.state }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"access_token","fieldValue":"={{ $('me').item.json.accounts.data[0].access_token }}"},{"fieldId":"provider_id","fieldValue":"={{ $node[\"me\"].json.accounts.data[0].instagram_business_account.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1184,-144],"id":"5e4485ea-69ea-41d3-b98d-3960ff289bb2","name":"Update a access_token","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"profiles","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Webhook').item.json.query.state }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"full_name","fieldValue":"={{ $('me').item.json.accounts.data[0].name }}"},{"fieldId":"current_products","fieldValue":"10"},{"fieldId":"plan_type","fieldValue":"Free"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1392,-144],"id":"f363ab9c-8071-4f0a-b80e-04a5dabdc1af","name":"Update fullname","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"028b6f0b-b18c-4983-84b2-ed1b909e856a","leftValue":"={{ $json.query.code }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-544,-112],"id":"5518b4fb-8c46-4f19-8377-4a5e3adead78","name":"If"},{"parameters":{"respondWith":"redirect","redirectURL":"https://www.mitiendavirtual.cl/dashboard?error=cancelled","options":{"responseCode":302}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[-288,96],"id":"2e6e90a2-9e52-40e5-9668-f132734109f6","name":"Respond to Webhook1"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v21.0/{{ $('me').item.json.accounts.data[0].id }}/subscribed_apps","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $('me').item.json.accounts.data[0].access_token }}"},{"name":"subscribed_fields","value":"messages, messaging_postbacks"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[928,-144],"id":"6c850743-aa08-42fd-8cff-6d7b08c76294","name":"Subscribed app"},{"parameters":{"content":"revisar el me de la subscripcion\n{{ $json.accounts.data[0].instagram_business_account.id }}\n{{ $('me').item.json.accounts.data[0].id }}","width":544},"type":"n8n-nodes-base.stickyNote","position":[-128,-352],"typeVersion":1,"id":"4e01476a-3a4b-4f33-86af-4d93ccf68c21","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7e6e6449-1156-42ca-b0fe-8f23b34035ca","leftValue":"={{ $json.accounts.data[0].id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[224,-128],"id":"befa3266-0998-410a-b5a2-2841e46b0890","name":"If1"},{"parameters":{"respondWith":"redirect","redirectURL":"https://www.mitiendavirtual.cl/dashboard?error=cancelled","options":{"responseCode":406}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[432,80],"id":"29eb8af5-4097-497d-ba77-146c1b750b40","name":"Respond to Webhook2"},{"parameters":{"url":"=https://iesmzunoepfwkxilvxdv.supabase.co/rest/v1/instances?select=id&provider_id=eq.{{ $node[\"me\"].json.accounts.data[0].instagram_business_account.id }}&user_id=neq.{{ $('Webhook').item.json.query.state }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imllc216dW5vZXBmd2t4aWx2eGR2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODc4MjQzNywiZXhwIjoyMDg0MzU4NDM3fQ.5Vrp96uYgGEiUhmdBxXNb7lwZz5S2TO1RaecEfcBFwc"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imllc216dW5vZXBmd2t4aWx2eGR2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODc4MjQzNywiZXhwIjoyMDg0MzU4NDM3fQ.5Vrp96uYgGEiUhmdBxXNb7lwZz5S2TO1RaecEfcBFwc"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[448,-224],"id":"decb1634-43a2-41f2-805c-ec7d22dcc1b6","name":"Verifica IG Duplicado","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"aa024096-e8da-4e81-a213-24e24eb60e1c","leftValue":"={{ $json }}","rightValue":0,"operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[656,-224],"id":"54133e32-d729-459b-b063-dedeb0c1cefe","name":"Si Duplicado"},{"parameters":{"respondWith":"redirect","redirectURL":"https://www.mitiendavirtual.cl/dashboard?ig_error=already_used","options":{"responseCode":302}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[944,-352],"id":"cdbfa70a-7267-4be9-94a2-5ae1dba3f95c","name":"Respond Duplicado"}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}],[]]},"access_token":{"main":[[{"node":"me","type":"main","index":0}]]},"me":{"main":[[{"node":"If1","type":"main","index":0}]]},"Update a access_token":{"main":[[{"node":"Update fullname","type":"main","index":0}]]},"Update fullname":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"If":{"main":[[{"node":"access_token","type":"main","index":0}],[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Subscribed app":{"main":[[{"node":"Update a access_token","type":"main","index":0}]]},"If1":{"main":[[{"node":"Verifica IG Duplicado","type":"main","index":0}],[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Verifica IG Duplicado":{"main":[[{"node":"Si Duplicado","type":"main","index":0}]]},"Si Duplicado":{"main":[[{"node":"Respond Duplicado","type":"main","index":0}],[{"node":"Subscribed app","type":"main","index":0}]]}},"authors":"Felipe Gomez","name":"Version 98e2722f","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-13T01:41:46.085Z","id":747,"workflowId":"RKk3hWLMtQznZe29BLdyP","versionId":"98e2722f-0955-4cab-b1ae-8097d94ae1c4","event":"activated","userId":"835ef969-7ad7-411f-8c05-1019ce967293"}]},"scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:update"],"checksum":"94b35cfa60738b01c4daf670f00ac80ca61cbdbe7c7d70f7f2887158ef00a745"}}