n8n_backup_20260423_230818/workflow_bpKP-CrDv9MyzCOWRuQTb.json
{"data":{"updatedAt":"2026-04-12T23:04:42.622Z","createdAt":"2026-01-27T19:05:01.697Z","id":"bpKP-CrDv9MyzCOWRuQTb","name":"API Carga Productos","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"tableId":"products","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('Webhook').item.json.body.user_id }}"},{"fieldId":"name","fieldValue":"={{ $('Webhook').item.json.body.name }}"},{"fieldId":"price","fieldValue":"={{ $('Webhook').item.json.body.price }}"},{"fieldId":"description","fieldValue":"={{ $('Webhook').item.json.body.description }}"},{"fieldId":"keywords","fieldValue":"={{ $('Webhook').item.json.body.keywords }}"},{"fieldId":"image_url","fieldValue":"=https://iesmzunoepfwkxilvxdv.supabase.co/storage/v1/object/public/{{ $json.Key }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[208,0],"id":"4fdb522a-dc10-4ed2-8b34-cf4e49416050","name":"El Almacén","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"httpMethod":"POST","path":"subir-productos","responseMode":"responseNode","options":{"binaryPropertyName":"=foto"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1744,-16],"id":"83f42273-6e40-4680-a2f4-4fa9b6ccfcc9","name":"Webhook","webhookId":"f8781c4d-5cab-4589-a98a-93025e66b61f"},{"parameters":{"method":"POST","url":"=https://iesmzunoepfwkxilvxdv.supabase.co/storage/v1/object/catalog/{{ $node[\"Webhook\"].json.body.user_id }}/{{$binary.data.fileName}}.webp","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"image/jpeg"},{"name":"x-upsert","value":"true"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-48,0],"id":"3945b313-e283-4b7e-860a-3022128dcb6c","name":"Resource Storage","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"},"httpHeaderAuth":{"id":"bRPHwOivYfq5D2ib","name":"supa base secret"},"httpBearerAuth":{"id":"4VMlxrqSSRCPR5XW","name":"Bearer Auth account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"xZaatz-K256GufGgXc3VD","mode":"list","cachedResultUrl":"/workflow/xZaatz-K256GufGgXc3VD","cachedResultName":"Cargar Memoria RAG Productos"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $('Webhook').item.json.body.user_id }}","id":"={{ $('El Almacén').item.json.id.toString() }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[752,0],"id":"840f1f88-4e25-470a-be3f-c553d42e3cce","name":"Call 'Cargar Memoria RAG Productos"},{"parameters":{"method":"POST","url":"https://api.tinify.com/shrink","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"contentType":"binaryData","inputDataFieldName":"foto0","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-496,0],"id":"a188d104-e27b-4961-880d-ceaf6330210e","name":"Tinify Compresor","credentials":{"httpHeaderAuth":{"id":"bRPHwOivYfq5D2ib","name":"supa base secret"},"httpBasicAuth":{"id":"3tjByhT6F2UahnR0","name":"tinify auth"}}},{"parameters":{"url":"={{ $json.output.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-288,0],"id":"476afcbd-96bd-429b-b0fc-e25f961edc32","name":"Descargador"},{"parameters":{"operation":"update","tableId":"profiles","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.user_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"current_products","fieldValue":"={{ $('obtiene cantidad de productos').item.json.current_products + 1}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[464,0],"id":"f48c1cb1-fe1f-4ace-aa08-806a02a6d0d3","name":"Actualiza registro de Q productos","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"profiles","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Webhook').item.json.body.user_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1424,176],"id":"497c0485-39d9-46b5-a5cc-3b86506aa0d8","name":"obtiene cantidad de productos","alwaysOutputData":true,"notesInFlow":false,"credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d7005a1d-f509-4462-80ed-ab01bf3d1006","leftValue":"={{ \n  $json.plan_type === 'Full' || \n  ($json.plan_type === 'Pro' && $json.current_products < 500) ||\n  ($json.plan_type === 'Básico' && $json.current_products < 50) ||\n  ($json.plan_type === 'Free' && $json.current_products < 10)\n}}","rightValue":"={{ 10 }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-976,176],"id":"287db042-2620-47ab-957d-7d2cd0363a24","name":"Valida Producto Plan Free","alwaysOutputData":false},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-736,0],"id":"30d0e7d7-d279-4d34-9091-4bf06b5d423d","name":"Merge"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"newCount\": {{ $node[\"Actualiza registro de Q productos\"].json.current_products }}\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[960,0],"id":"edd4e274-9872-4e5b-a9c0-4d5c311dc2a1","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"obtiene cantidad de productos","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Resource Storage":{"main":[[{"node":"El Almacén","type":"main","index":0}]]},"El Almacén":{"main":[[{"node":"Actualiza registro de Q productos","type":"main","index":0}]]},"Tinify Compresor":{"main":[[{"node":"Descargador","type":"main","index":0}]]},"Descargador":{"main":[[{"node":"Resource Storage","type":"main","index":0}]]},"obtiene cantidad de productos":{"main":[[{"node":"Valida Producto Plan Free","type":"main","index":0}]]},"Actualiza registro de Q productos":{"main":[[{"node":"Call 'Cargar Memoria RAG Productos","type":"main","index":0}]]},"Valida Producto Plan Free":{"main":[[{"node":"Merge","type":"main","index":1}],[]]},"Merge":{"main":[[{"node":"Tinify Compresor","type":"main","index":0}]]},"Call 'Cargar Memoria RAG Productos":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.mitiendavirtual.cl","user-agent":"Mozilla/5.0 (Linux; Android 13; SM-G981B) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Mobile Safari/537.36","content-length":"5983","accept":"*/*","accept-encoding":"gzip, br","accept-language":"es-419,es;q=0.9","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"200.120.62.118","cf-ipcountry":"CL","cf-ray":"9eb5d9826b72a29b-EZE","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"25fb36c4-be2f-495a-ad47-f72146c5307a","connection":"keep-alive","content-type":"multipart/form-data; boundary=----WebKitFormBoundary79FedX8GvVHAxiQA","origin":"http://localhost:5173","priority":"u=1, i","referer":"http://localhost:5173/","sec-ch-ua":"\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"","sec-ch-ua-mobile":"?1","sec-ch-ua-platform":"\"Android\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"200.120.62.118","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"user_id":"dcbbe3e4-b3d9-4359-9cea-97446e86351b","name":"Zapatillas mineras","price":"9990","description":"idea para minar"},"webhookUrl":"https://webhook.mitiendavirtual.cl/webhook/subir-productos","executionMode":"production"},"binary":{"foto0":{"mimeType":"image/png","fileType":"image","fileExtension":"png","data":"filesystem-v2","fileName":"descarga.png","id":"filesystem-v2:workflows/bpKP-CrDv9MyzCOWRuQTb/executions/temp/binary_data/1121aa61-3477-4c2b-89b7-e38048ed10fa","fileSize":"5.35 kB"}},"pairedItem":{"item":0}}]},"versionId":"99e9a8dd-38e7-46f7-87fa-b33f268cdf78","activeVersionId":"99e9a8dd-38e7-46f7-87fa-b33f268cdf78","versionCounter":102,"triggerCount":1,"shared":[{"updatedAt":"2026-01-27T19:05:01.760Z","createdAt":"2026-01-27T19:05:01.760Z","role":"workflow:owner","workflowId":"bpKP-CrDv9MyzCOWRuQTb","projectId":"Dv9n0fTb4o45RMgf","project":{"updatedAt":"2026-01-18T23:02:15.869Z","createdAt":"2026-01-18T22:31:52.086Z","id":"Dv9n0fTb4o45RMgf","name":"Felipe Gomez <fe.gomez.tre@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"835ef969-7ad7-411f-8c05-1019ce967293","projectRelations":[{"updatedAt":"2026-01-18T22:31:52.086Z","createdAt":"2026-01-18T22:31:52.086Z","userId":"835ef969-7ad7-411f-8c05-1019ce967293","projectId":"Dv9n0fTb4o45RMgf","user":{"updatedAt":"2026-04-24T02:54:22.000Z","createdAt":"2026-01-18T22:31:50.891Z","id":"835ef969-7ad7-411f-8c05-1019ce967293","email":"fe.gomez.tre@gmail.com","firstName":"Felipe","lastName":"Gomez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-18T23:02:44.341Z","personalization_survey_n8n_version":"2.3.6","automationGoalDevops":["other"],"companyType":"saas","role":"it"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"u7Yj8nQneu2cJvSDmp_ST","userActivatedAt":1769178337937,"npsSurvey":{"responded":true,"lastShownAt":1769442979769}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-23","isPending":false}}]}}],"tags":[],"parentFolder":null,"activeVersion":{"updatedAt":"2026-04-12T23:09:10.000Z","createdAt":"2026-04-12T23:04:25.454Z","versionId":"99e9a8dd-38e7-46f7-87fa-b33f268cdf78","workflowId":"bpKP-CrDv9MyzCOWRuQTb","nodes":[{"parameters":{"tableId":"products","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('Webhook').item.json.body.user_id }}"},{"fieldId":"name","fieldValue":"={{ $('Webhook').item.json.body.name }}"},{"fieldId":"price","fieldValue":"={{ $('Webhook').item.json.body.price }}"},{"fieldId":"description","fieldValue":"={{ $('Webhook').item.json.body.description }}"},{"fieldId":"keywords","fieldValue":"={{ $('Webhook').item.json.body.keywords }}"},{"fieldId":"image_url","fieldValue":"=https://iesmzunoepfwkxilvxdv.supabase.co/storage/v1/object/public/{{ $json.Key }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[208,0],"id":"4fdb522a-dc10-4ed2-8b34-cf4e49416050","name":"El Almacén","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"httpMethod":"POST","path":"subir-productos","responseMode":"responseNode","options":{"binaryPropertyName":"=foto"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1744,-16],"id":"83f42273-6e40-4680-a2f4-4fa9b6ccfcc9","name":"Webhook","webhookId":"f8781c4d-5cab-4589-a98a-93025e66b61f"},{"parameters":{"method":"POST","url":"=https://iesmzunoepfwkxilvxdv.supabase.co/storage/v1/object/catalog/{{ $node[\"Webhook\"].json.body.user_id }}/{{$binary.data.fileName}}.webp","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"image/jpeg"},{"name":"x-upsert","value":"true"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-48,0],"id":"3945b313-e283-4b7e-860a-3022128dcb6c","name":"Resource Storage","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"},"httpHeaderAuth":{"id":"bRPHwOivYfq5D2ib","name":"supa base secret"},"httpBearerAuth":{"id":"4VMlxrqSSRCPR5XW","name":"Bearer Auth account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"xZaatz-K256GufGgXc3VD","mode":"list","cachedResultUrl":"/workflow/xZaatz-K256GufGgXc3VD","cachedResultName":"Cargar Memoria RAG Productos"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $('Webhook').item.json.body.user_id }}","id":"={{ $('El Almacén').item.json.id.toString() }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[752,0],"id":"840f1f88-4e25-470a-be3f-c553d42e3cce","name":"Call 'Cargar Memoria RAG Productos"},{"parameters":{"method":"POST","url":"https://api.tinify.com/shrink","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"contentType":"binaryData","inputDataFieldName":"foto0","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-496,0],"id":"a188d104-e27b-4961-880d-ceaf6330210e","name":"Tinify Compresor","credentials":{"httpHeaderAuth":{"id":"bRPHwOivYfq5D2ib","name":"supa base secret"},"httpBasicAuth":{"id":"3tjByhT6F2UahnR0","name":"tinify auth"}}},{"parameters":{"url":"={{ $json.output.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-288,0],"id":"476afcbd-96bd-429b-b0fc-e25f961edc32","name":"Descargador"},{"parameters":{"operation":"update","tableId":"profiles","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.user_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"current_products","fieldValue":"={{ $('obtiene cantidad de productos').item.json.current_products + 1}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[464,0],"id":"f48c1cb1-fe1f-4ace-aa08-806a02a6d0d3","name":"Actualiza registro de Q productos","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"profiles","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Webhook').item.json.body.user_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1424,176],"id":"497c0485-39d9-46b5-a5cc-3b86506aa0d8","name":"obtiene cantidad de productos","alwaysOutputData":true,"notesInFlow":false,"credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d7005a1d-f509-4462-80ed-ab01bf3d1006","leftValue":"={{ \n  $json.plan_type === 'Full' || \n  ($json.plan_type === 'Pro' && $json.current_products < 500) ||\n  ($json.plan_type === 'Básico' && $json.current_products < 50) ||\n  ($json.plan_type === 'Free' && $json.current_products < 10)\n}}","rightValue":"={{ 10 }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-976,176],"id":"287db042-2620-47ab-957d-7d2cd0363a24","name":"Valida Producto Plan Free","alwaysOutputData":false},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-736,0],"id":"30d0e7d7-d279-4d34-9091-4bf06b5d423d","name":"Merge"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"newCount\": {{ $node[\"Actualiza registro de Q productos\"].json.current_products }}\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[960,0],"id":"edd4e274-9872-4e5b-a9c0-4d5c311dc2a1","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"obtiene cantidad de productos","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Resource Storage":{"main":[[{"node":"El Almacén","type":"main","index":0}]]},"El Almacén":{"main":[[{"node":"Actualiza registro de Q productos","type":"main","index":0}]]},"Tinify Compresor":{"main":[[{"node":"Descargador","type":"main","index":0}]]},"Descargador":{"main":[[{"node":"Resource Storage","type":"main","index":0}]]},"obtiene cantidad de productos":{"main":[[{"node":"Valida Producto Plan Free","type":"main","index":0}]]},"Actualiza registro de Q productos":{"main":[[{"node":"Call 'Cargar Memoria RAG Productos","type":"main","index":0}]]},"Valida Producto Plan Free":{"main":[[{"node":"Merge","type":"main","index":1}],[]]},"Merge":{"main":[[{"node":"Tinify Compresor","type":"main","index":0}]]},"Call 'Cargar Memoria RAG Productos":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Felipe Gomez","name":"Version 99e9a8dd","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-12T23:09:10.689Z","id":721,"workflowId":"bpKP-CrDv9MyzCOWRuQTb","versionId":"99e9a8dd-38e7-46f7-87fa-b33f268cdf78","event":"activated","userId":"835ef969-7ad7-411f-8c05-1019ce967293"}]},"scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:update"],"checksum":"f76e039b4b0889ed5845de8819bf4088fdb797973bb109badad0ab51142f2fc5"}}