n8n_backup_20260423_230818/workflow_cgfbIn_2Bt0-HrPo6Zmc3.json
{"data":{"updatedAt":"2026-01-31T19:23:49.967Z","createdAt":"2026-01-26T17:50:37.738Z","id":"cgfbIn_2Bt0-HrPo6Zmc3","name":"Renovador, \"Mantenimiento token\"","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"update","tableId":"instances","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $('Get many rows').item.json.user_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"access_token","fieldValue":"={{ $('Get many rows').item.json.access_token }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-128,-256],"id":"b71aa896-18c3-40fe-94e1-d8c38026be0e","name":"Update a access_token","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"instances","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-672,-256],"id":"e78a357f-ca2b-4f9a-b199-df0cef9826f5","name":"Get many rows","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"url":"https://graph.facebook.com/v23.0/oauth/access_token","sendQuery":true,"queryParameters":{"parameters":[{"name":"fb_exchange_token","value":"={{ $json.access_token }}"},{"name":"client_secret","value":"62c35d130a8b92a39bf72023dcfb13ff"},{"name":"grant_type","value":"fb_exchange_token"},{"name":"client_id","value":"1397698478805069"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-416,-256],"id":"b448cb43-136c-4bef-9b4c-8df26e8511ed","name":"access_token_extension"},{"parameters":{"rule":{"interval":[{"daysInterval":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-960,-256],"id":"66d56eb8-4b23-45e9-b0fa-bec6c35b36d4","name":"Schedule Trigger"}],"connections":{"Update a access_token":{"main":[[]]},"Get many rows":{"main":[[{"node":"access_token_extension","type":"main","index":0}]]},"access_token_extension":{"main":[[{"node":"Update a access_token","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many rows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"68524067-f649-430f-99c9-953fa8cda2a7","activeVersionId":"68524067-f649-430f-99c9-953fa8cda2a7","versionCounter":10,"triggerCount":1,"shared":[{"updatedAt":"2026-01-26T17:50:37.744Z","createdAt":"2026-01-26T17:50:37.744Z","role":"workflow:owner","workflowId":"cgfbIn_2Bt0-HrPo6Zmc3","projectId":"Dv9n0fTb4o45RMgf","project":{"updatedAt":"2026-01-18T23:02:15.869Z","createdAt":"2026-01-18T22:31:52.086Z","id":"Dv9n0fTb4o45RMgf","name":"Felipe Gomez <fe.gomez.tre@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"835ef969-7ad7-411f-8c05-1019ce967293","projectRelations":[{"updatedAt":"2026-01-18T22:31:52.086Z","createdAt":"2026-01-18T22:31:52.086Z","userId":"835ef969-7ad7-411f-8c05-1019ce967293","projectId":"Dv9n0fTb4o45RMgf","user":{"updatedAt":"2026-04-24T02:54:22.000Z","createdAt":"2026-01-18T22:31:50.891Z","id":"835ef969-7ad7-411f-8c05-1019ce967293","email":"fe.gomez.tre@gmail.com","firstName":"Felipe","lastName":"Gomez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-18T23:02:44.341Z","personalization_survey_n8n_version":"2.3.6","automationGoalDevops":["other"],"companyType":"saas","role":"it"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"u7Yj8nQneu2cJvSDmp_ST","userActivatedAt":1769178337937,"npsSurvey":{"responded":true,"lastShownAt":1769442979769}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-23","isPending":false}}]}}],"tags":[],"parentFolder":null,"activeVersion":{"updatedAt":"2026-01-28T23:43:36.000Z","createdAt":"2026-01-26T18:29:06.614Z","versionId":"68524067-f649-430f-99c9-953fa8cda2a7","workflowId":"cgfbIn_2Bt0-HrPo6Zmc3","nodes":[{"parameters":{"operation":"update","tableId":"instances","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $('Get many rows').item.json.user_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"access_token","fieldValue":"={{ $('Get many rows').item.json.access_token }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-128,-256],"id":"b71aa896-18c3-40fe-94e1-d8c38026be0e","name":"Update a access_token","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"instances","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-672,-256],"id":"e78a357f-ca2b-4f9a-b199-df0cef9826f5","name":"Get many rows","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"url":"https://graph.facebook.com/v23.0/oauth/access_token","sendQuery":true,"queryParameters":{"parameters":[{"name":"fb_exchange_token","value":"={{ $json.access_token }}"},{"name":"client_secret","value":"62c35d130a8b92a39bf72023dcfb13ff"},{"name":"grant_type","value":"fb_exchange_token"},{"name":"client_id","value":"1397698478805069"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-416,-256],"id":"b448cb43-136c-4bef-9b4c-8df26e8511ed","name":"access_token_extension"},{"parameters":{"rule":{"interval":[{"daysInterval":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-960,-256],"id":"66d56eb8-4b23-45e9-b0fa-bec6c35b36d4","name":"Schedule Trigger"}],"connections":{"Update a access_token":{"main":[[]]},"Get many rows":{"main":[[{"node":"access_token_extension","type":"main","index":0}]]},"access_token_extension":{"main":[[{"node":"Update a access_token","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many rows","type":"main","index":0}]]}},"authors":"Felipe Gomez","name":"Version 68524067","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-01-28T23:43:36.664Z","id":144,"workflowId":"cgfbIn_2Bt0-HrPo6Zmc3","versionId":"68524067-f649-430f-99c9-953fa8cda2a7","event":"activated","userId":"835ef969-7ad7-411f-8c05-1019ce967293"}]},"scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:update"],"checksum":"28fadc8b20ec4b6fd24d31fc30af9f862be406b081dfb5b195f605c640c92653"}}