n8n_backup_20260423_230818/workflow_9-GAAIS4ssRLkc_Rl7zsx.json
{"data":{"updatedAt":"2026-04-19T00:28:54.140Z","createdAt":"2026-04-12T00:13:30.853Z","id":"9-GAAIS4ssRLkc_Rl7zsx","name":"Respaldo Automatico (El Cubridor)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"filters":{"activeWorkflows":true},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[208,0],"id":"2866ec65-3658-47d5-a069-ced75b8a3b9f","name":"buscar workflow","credentials":{"n8nApi":{"id":"Ihz9gQaRa2bymW1F","name":"n8n account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"fgomeztreufo","mode":"name"},"repository":{"__rl":true,"value":"n8n_mitiendavirtualcl","mode":"name"},"filePath":"=workflows/{{$json.name.replace(/[^a-zA-Z0-9-_]/g, '')}}.json","fileContent":"={{JSON.stringify($json, null, 2)}}","commitMessage":"=Backup automático: {{$json.name}}","additionalParameters":{"branch":{"branch":"main_bkp"}}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[416,0],"id":"2bb2e407-a6e0-4586-bed9-c5d32e5f11ba","name":"Edit a file","webhookId":"9923b131-cce6-41d1-9ca0-76376da7a3be","credentials":{"githubApi":{"id":"KKE7UWO5uVyzonAY","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"263791c5-7697-483f-a83a-b47c19f60274","name":"Schedule Trigger"}],"connections":{"buscar workflow":{"main":[[{"node":"Edit a file","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"buscar workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"855198d0-2e35-4c26-aca6-7a990349c7c3","activeVersionId":null,"versionCounter":10,"triggerCount":1,"shared":[{"updatedAt":"2026-04-12T00:13:30.863Z","createdAt":"2026-04-12T00:13:30.863Z","role":"workflow:owner","workflowId":"9-GAAIS4ssRLkc_Rl7zsx","projectId":"Dv9n0fTb4o45RMgf","project":{"updatedAt":"2026-01-18T23:02:15.869Z","createdAt":"2026-01-18T22:31:52.086Z","id":"Dv9n0fTb4o45RMgf","name":"Felipe Gomez <fe.gomez.tre@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"835ef969-7ad7-411f-8c05-1019ce967293","projectRelations":[{"updatedAt":"2026-01-18T22:31:52.086Z","createdAt":"2026-01-18T22:31:52.086Z","userId":"835ef969-7ad7-411f-8c05-1019ce967293","projectId":"Dv9n0fTb4o45RMgf","user":{"updatedAt":"2026-04-24T02:54:22.000Z","createdAt":"2026-01-18T22:31:50.891Z","id":"835ef969-7ad7-411f-8c05-1019ce967293","email":"fe.gomez.tre@gmail.com","firstName":"Felipe","lastName":"Gomez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-18T23:02:44.341Z","personalization_survey_n8n_version":"2.3.6","automationGoalDevops":["other"],"companyType":"saas","role":"it"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"u7Yj8nQneu2cJvSDmp_ST","userActivatedAt":1769178337937,"npsSurvey":{"responded":true,"lastShownAt":1769442979769}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-23","isPending":false}}]}}],"tags":[],"parentFolder":null,"activeVersion":null,"scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:update"],"checksum":"e9fa01b65b0945ea705d16b5a6b53df1173715274f7c883c0df3f1eeb74faff4"}}