n8n_backup_20260423_230818/workflow_jDT6Nivq7hYtuTW6UHCMR.json
{"data":{"updatedAt":"2026-04-19T00:49:47.767Z","createdAt":"2026-01-23T03:09:43.652Z","id":"jDT6Nivq7hYtuTW6UHCMR","name":"notificacion mercado pago","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"payment-notification","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[192,768],"id":"de53c516-ac72-486a-ba71-c0b753d4314b","name":"Webhook - Notificación MP","webhookId":"b03beda9-4796-4444-8981-812e99ca1c78"},{"parameters":{"url":"={{ 'https://api.mercadopago.com/v1/payments/' + $json.body.data.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[912,752],"id":"f47f5c7f-5d04-457d-909d-10add74ace42","name":"Consultar Estado Pago","credentials":{"httpHeaderAuth":{"id":"Raq5ot35F9zaYSp4","name":"Header Auth account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.status }}","value2":"approved"}]}},"type":"n8n-nodes-base.if","typeVersion":1,"position":[1408,752],"id":"11d40a5a-7863-4437-b2a6-90807b9b9b57","name":"Es Aprobado?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2966a885-b064-4f2e-80af-73caea93a5fd","leftValue":"={{ $json.body.data.id }}","rightValue":"={{ 'payment'}}","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[544,768],"id":"876b9e67-88b4-4dbb-9cc8-05c3c347211c","name":"filter-payments"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Consultar Estado Pago').item.json.additional_info.items[0].title }}","rightValue":"Básico","operator":{"type":"string","operation":"equals"},"id":"4e155e2e-5b72-43d2-8db7-0d2019f01516"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c377bf89-79a6-43f5-8040-a31f2747e62b","leftValue":"={{ $('Consultar Estado Pago').item.json.additional_info.items[0].title }}","rightValue":"Pro","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b1a36259-7fc7-49e3-9535-b8ac4c1318c3","leftValue":"={{ $('Consultar Estado Pago').item.json.additional_info.items[0].title }}","rightValue":"Full","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1648,720],"id":"126986e1-4a87-4dec-b8cc-30040db19b2e","name":"Switch"},{"parameters":{"tableId":"payment_logs","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ (() => { try { const er = JSON.parse($json.external_reference); return er?.user_id || $json.external_reference } catch(e) { return $json.external_reference } })() }}"},{"fieldId":"payment_id","fieldValue":"={{ $json.id.toString() }}"},{"fieldId":"amount","fieldValue":"={{ $json.transaction_amount }}"},{"fieldId":"status","fieldValue":"={{ $json.status }}"},{"fieldId":"plan_name","fieldValue":"={{ $json.description || $json.reason || 'Plan Suscripcion' }}"},{"fieldId":"payment_date","fieldValue":"={{ $json.date_approved }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1168,752],"id":"8ca09323-bebe-4639-b69f-9540c8fef6fc","name":"Guardar en Payment Logs","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"content":"##falta el flujo de rechazo o sin saldo revisar"},"type":"n8n-nodes-base.stickyNote","position":[1280,512],"typeVersion":1,"id":"b1962230-2854-44f8-8c3c-cca40e18c1b8","name":"Sticky Note"},{"parameters":{"operation":"update","tableId":"profiles","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.user_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"plan_type","fieldValue":"={{ $('Consultar Estado Pago').item.json.additional_info.items[0].title || $json.external_reference }}"},{"fieldId":"monthly_limit","fieldValue":"={{ 50 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1936,512],"id":"26ec398d-b3c1-4b8f-9745-63008028b1f4","name":"Activar Plan en Basico","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"profiles","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.user_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"plan_type","fieldValue":"={{ $('Consultar Estado Pago').item.json.additional_info.items[0].title || $json.external_reference }}"},{"fieldId":"monthly_limit","fieldValue":"={{ 50 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1936,736],"id":"0b28e635-4944-47d6-afaa-391c63c33799","name":"Activar Plan en Pro","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"profiles","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.user_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"plan_type","fieldValue":"={{ $('Consultar Estado Pago').item.json.additional_info.items[0].title || $json.external_reference }}"},{"fieldId":"monthly_limit","fieldValue":"={{ 50 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1936,928],"id":"d502d1ea-cc6e-4386-9245-23acf9b5eb85","name":"Activar Plan en Full","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"=https://iesmzunoepfwkxilvxdv.supabase.co/rest/v1/rpc/reactivate_all_products","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"p_user_id","value":"={{ $('Guardar en Payment Logs').item.json.user_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2176,512],"id":"70234016-1c2f-445c-a3fb-9633a5ecca54","name":"Reactivar Productos Basico","credentials":{"httpHeaderAuth":{"id":"bRPHwOivYfq5D2ib","name":"supa base secret"}},"notes":"Al activar plan Básico, reactiva todos los productos del usuario (hasta 50 podrán subirse)."},{"parameters":{"method":"POST","url":"=https://iesmzunoepfwkxilvxdv.supabase.co/rest/v1/rpc/reactivate_all_products","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"p_user_id","value":"={{ $('Guardar en Payment Logs').item.json.user_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2176,736],"id":"f99c5b9b-7c6a-4094-9d41-3494ceef8361","name":"Reactivar Productos Pro","credentials":{"httpHeaderAuth":{"id":"bRPHwOivYfq5D2ib","name":"supa base secret"}},"notes":"Al activar plan Pro, reactiva todos los productos del usuario (hasta 500 podrán subirse)."},{"parameters":{"method":"POST","url":"=https://iesmzunoepfwkxilvxdv.supabase.co/rest/v1/rpc/reactivate_all_products","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"p_user_id","value":"={{ $('Guardar en Payment Logs').item.json.user_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2176,928],"id":"1e052d36-ec1d-430c-a426-1cec0b144f35","name":"Reactivar Productos Full","credentials":{"httpHeaderAuth":{"id":"bRPHwOivYfq5D2ib","name":"supa base secret"}},"notes":"Al activar plan Full, reactiva todos los productos del usuario (sin límite)."}],"connections":{"Webhook - Notificación MP":{"main":[[{"node":"filter-payments","type":"main","index":0}]]},"Consultar Estado Pago":{"main":[[{"node":"Guardar en Payment Logs","type":"main","index":0}]]},"Es Aprobado?":{"main":[[{"node":"Switch","type":"main","index":0}]]},"filter-payments":{"main":[[{"node":"Consultar Estado Pago","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Activar Plan en Basico","type":"main","index":0}],[{"node":"Activar Plan en Pro","type":"main","index":0}],[{"node":"Activar Plan en Full","type":"main","index":0}]]},"Activar Plan en Basico":{"main":[[{"node":"Reactivar Productos Basico","type":"main","index":0}]]},"Activar Plan en Pro":{"main":[[{"node":"Reactivar Productos Pro","type":"main","index":0}]]},"Activar Plan en Full":{"main":[[{"node":"Reactivar Productos Full","type":"main","index":0}]]},"Guardar en Payment Logs":{"main":[[{"node":"Es Aprobado?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"70f7d27a-7af6-44ef-b21b-c0ee2df3bff6","activeVersionId":"70f7d27a-7af6-44ef-b21b-c0ee2df3bff6","versionCounter":70,"triggerCount":1,"shared":[{"updatedAt":"2026-01-23T03:09:43.656Z","createdAt":"2026-01-23T03:09:43.656Z","role":"workflow:owner","workflowId":"jDT6Nivq7hYtuTW6UHCMR","projectId":"Dv9n0fTb4o45RMgf","project":{"updatedAt":"2026-01-18T23:02:15.869Z","createdAt":"2026-01-18T22:31:52.086Z","id":"Dv9n0fTb4o45RMgf","name":"Felipe Gomez <fe.gomez.tre@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"835ef969-7ad7-411f-8c05-1019ce967293","projectRelations":[{"updatedAt":"2026-01-18T22:31:52.086Z","createdAt":"2026-01-18T22:31:52.086Z","userId":"835ef969-7ad7-411f-8c05-1019ce967293","projectId":"Dv9n0fTb4o45RMgf","user":{"updatedAt":"2026-04-24T02:54:22.000Z","createdAt":"2026-01-18T22:31:50.891Z","id":"835ef969-7ad7-411f-8c05-1019ce967293","email":"fe.gomez.tre@gmail.com","firstName":"Felipe","lastName":"Gomez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-18T23:02:44.341Z","personalization_survey_n8n_version":"2.3.6","automationGoalDevops":["other"],"companyType":"saas","role":"it"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"u7Yj8nQneu2cJvSDmp_ST","userActivatedAt":1769178337937,"npsSurvey":{"responded":true,"lastShownAt":1769442979769}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-23","isPending":false}}]}}],"tags":[],"parentFolder":null,"activeVersion":{"updatedAt":"2026-04-19T00:49:51.000Z","createdAt":"2026-04-19T00:49:47.771Z","versionId":"70f7d27a-7af6-44ef-b21b-c0ee2df3bff6","workflowId":"jDT6Nivq7hYtuTW6UHCMR","nodes":[{"parameters":{"httpMethod":"POST","path":"payment-notification","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1,"position":[192,768],"id":"de53c516-ac72-486a-ba71-c0b753d4314b","name":"Webhook - Notificación MP","webhookId":"b03beda9-4796-4444-8981-812e99ca1c78"},{"parameters":{"url":"={{ 'https://api.mercadopago.com/v1/payments/' + $json.body.data.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[912,752],"id":"f47f5c7f-5d04-457d-909d-10add74ace42","name":"Consultar Estado Pago","credentials":{"httpHeaderAuth":{"id":"Raq5ot35F9zaYSp4","name":"Header Auth account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.status }}","value2":"approved"}]}},"type":"n8n-nodes-base.if","typeVersion":1,"position":[1408,752],"id":"11d40a5a-7863-4437-b2a6-90807b9b9b57","name":"Es Aprobado?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2966a885-b064-4f2e-80af-73caea93a5fd","leftValue":"={{ $json.body.data.id }}","rightValue":"={{ 'payment'}}","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[544,768],"id":"876b9e67-88b4-4dbb-9cc8-05c3c347211c","name":"filter-payments"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Consultar Estado Pago').item.json.additional_info.items[0].title }}","rightValue":"Básico","operator":{"type":"string","operation":"equals"},"id":"4e155e2e-5b72-43d2-8db7-0d2019f01516"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c377bf89-79a6-43f5-8040-a31f2747e62b","leftValue":"={{ $('Consultar Estado Pago').item.json.additional_info.items[0].title }}","rightValue":"Pro","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b1a36259-7fc7-49e3-9535-b8ac4c1318c3","leftValue":"={{ $('Consultar Estado Pago').item.json.additional_info.items[0].title }}","rightValue":"Full","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1648,720],"id":"126986e1-4a87-4dec-b8cc-30040db19b2e","name":"Switch"},{"parameters":{"tableId":"payment_logs","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ (() => { try { const er = JSON.parse($json.external_reference); return er?.user_id || $json.external_reference } catch(e) { return $json.external_reference } })() }}"},{"fieldId":"payment_id","fieldValue":"={{ $json.id.toString() }}"},{"fieldId":"amount","fieldValue":"={{ $json.transaction_amount }}"},{"fieldId":"status","fieldValue":"={{ $json.status }}"},{"fieldId":"plan_name","fieldValue":"={{ $json.description || $json.reason || 'Plan Suscripcion' }}"},{"fieldId":"payment_date","fieldValue":"={{ $json.date_approved }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1168,752],"id":"8ca09323-bebe-4639-b69f-9540c8fef6fc","name":"Guardar en Payment Logs","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"content":"##falta el flujo de rechazo o sin saldo revisar"},"type":"n8n-nodes-base.stickyNote","position":[1280,512],"typeVersion":1,"id":"b1962230-2854-44f8-8c3c-cca40e18c1b8","name":"Sticky Note"},{"parameters":{"operation":"update","tableId":"profiles","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.user_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"plan_type","fieldValue":"={{ $('Consultar Estado Pago').item.json.additional_info.items[0].title || $json.external_reference }}"},{"fieldId":"monthly_limit","fieldValue":"={{ 50 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1936,512],"id":"26ec398d-b3c1-4b8f-9745-63008028b1f4","name":"Activar Plan en Basico","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"profiles","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.user_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"plan_type","fieldValue":"={{ $('Consultar Estado Pago').item.json.additional_info.items[0].title || $json.external_reference }}"},{"fieldId":"monthly_limit","fieldValue":"={{ 50 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1936,736],"id":"0b28e635-4944-47d6-afaa-391c63c33799","name":"Activar Plan en Pro","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"profiles","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.user_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"plan_type","fieldValue":"={{ $('Consultar Estado Pago').item.json.additional_info.items[0].title || $json.external_reference }}"},{"fieldId":"monthly_limit","fieldValue":"={{ 50 }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1936,928],"id":"d502d1ea-cc6e-4386-9245-23acf9b5eb85","name":"Activar Plan en Full","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"=https://iesmzunoepfwkxilvxdv.supabase.co/rest/v1/rpc/reactivate_all_products","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"p_user_id","value":"={{ $('Guardar en Payment Logs').item.json.user_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2176,512],"id":"70234016-1c2f-445c-a3fb-9633a5ecca54","name":"Reactivar Productos Basico","credentials":{"httpHeaderAuth":{"id":"bRPHwOivYfq5D2ib","name":"supa base secret"}},"notes":"Al activar plan Básico, reactiva todos los productos del usuario (hasta 50 podrán subirse)."},{"parameters":{"method":"POST","url":"=https://iesmzunoepfwkxilvxdv.supabase.co/rest/v1/rpc/reactivate_all_products","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"p_user_id","value":"={{ $('Guardar en Payment Logs').item.json.user_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2176,736],"id":"f99c5b9b-7c6a-4094-9d41-3494ceef8361","name":"Reactivar Productos Pro","credentials":{"httpHeaderAuth":{"id":"bRPHwOivYfq5D2ib","name":"supa base secret"}},"notes":"Al activar plan Pro, reactiva todos los productos del usuario (hasta 500 podrán subirse)."},{"parameters":{"method":"POST","url":"=https://iesmzunoepfwkxilvxdv.supabase.co/rest/v1/rpc/reactivate_all_products","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"p_user_id","value":"={{ $('Guardar en Payment Logs').item.json.user_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2176,928],"id":"1e052d36-ec1d-430c-a426-1cec0b144f35","name":"Reactivar Productos Full","credentials":{"httpHeaderAuth":{"id":"bRPHwOivYfq5D2ib","name":"supa base secret"}},"notes":"Al activar plan Full, reactiva todos los productos del usuario (sin límite)."}],"connections":{"Webhook - Notificación MP":{"main":[[{"node":"filter-payments","type":"main","index":0}]]},"Consultar Estado Pago":{"main":[[{"node":"Guardar en Payment Logs","type":"main","index":0}]]},"Es Aprobado?":{"main":[[{"node":"Switch","type":"main","index":0}]]},"filter-payments":{"main":[[{"node":"Consultar Estado Pago","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Activar Plan en Basico","type":"main","index":0}],[{"node":"Activar Plan en Pro","type":"main","index":0}],[{"node":"Activar Plan en Full","type":"main","index":0}]]},"Activar Plan en Basico":{"main":[[{"node":"Reactivar Productos Basico","type":"main","index":0}]]},"Activar Plan en Pro":{"main":[[{"node":"Reactivar Productos Pro","type":"main","index":0}]]},"Activar Plan en Full":{"main":[[{"node":"Reactivar Productos Full","type":"main","index":0}]]},"Guardar en Payment Logs":{"main":[[{"node":"Es Aprobado?","type":"main","index":0}]]}},"authors":"Felipe Gomez","name":"Version 70f7d27a","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-19T00:49:51.479Z","id":760,"workflowId":"jDT6Nivq7hYtuTW6UHCMR","versionId":"70f7d27a-7af6-44ef-b21b-c0ee2df3bff6","event":"activated","userId":"835ef969-7ad7-411f-8c05-1019ce967293"}]},"scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:update"],"checksum":"728c4699c22c29c6679bfe635078dafe68ddc7ea59a8286adf570022fc5863db"}}