n8n_backup_20260423_230818/workflow_7OeEVHgT1Ns95TMO.json
{"data":{"updatedAt":"2026-04-19T00:52:48.081Z","createdAt":"2026-02-03T23:48:55.654Z","id":"7OeEVHgT1Ns95TMO","name":"(Portero) MitiendaVirtual","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"get","tableId":"plans","filters":{"conditions":[{"keyName":"code","keyValue":"free"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5984,-240],"id":"805e93ce-a427-49fb-8b61-f76e2cd1041b","name":"Get Plan Free","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"promptType":"define","text":"={{ $('Webhook').item.json.body.entry[0].messaging[0].message.text }}","options":{"systemMessage":"={{$('get Instance IA').item.json.bot_prompt }}\nTus r\nTus respuestas deben ser siempre breves y concisas. NUNCA excedas los 1000 caracteres por mensaje.\n\nINSTRUCCIONES DE PRECIO:\n- El campo \"price\" es el valor EXACTO. Agrega siempre \"$\" antes del número y NO quites ceros (ej: 100000 es $100000).\n\n=== ACCESO AL CATÁLOGO Y CONOCIMIENTO ===\n1. **REGLA DE ORO (CROSS-CATEGORY):** Eres un asistente para múltiples tipos de negocios (Ventas, Servicios, Arriendos). Para CUALQUIER consulta, DEBES usar la herramienta 'Call_Tool_-_Buscador_Inteligente_'.\n2. **RAZONAMIENTO ANTES DE BUSCAR (QUERY EXPANSION):** - Si el usuario es vago (ej: \"¿Qué tienes?\", \"¿Modelos?\", \"¿Servicios?\"), NO busques la palabra literal.\n   - Genera una búsqueda enriquecida. Ejemplo: Si preguntan \"modelos\", busca \"catálogo de productos disponibles y listado de modelos\". Si preguntan \"precios\", busca \"lista de precios y tarifas de servicios\".\n3. **VERDAD ABSOLUTA:** Solo responde basándote en lo que devuelva la herramienta. Si el score es bajo pero la información es claramente la respuesta, úsala. Si no hay nada, ofrece un humano.\n\n### 🔎 REGLA DE BÚSQUEDA Y PROTOCOLO:\n1. ORDEN DE RESPUESTA: El saludo y la presentación de Luna SIEMPRE van antes de los resultados de la herramienta. \n2. INTEGRACIÓN DE FLUJO:\n   - Ejecuta 'Call_Tool_-_Buscador_Inteligente_' apenas detectes una duda.\n   - Redacta la respuesta integrando tu identidad. \n   - Ejemplo de estructura: [Saludo de Luna] + [Respuesta técnica/Producto] + [Pregunta de cierre o nombre].\n3. CONDICIÓN DE NOMBRE: Si el usuario aún no te ha dicho su nombre, después de entregar la respuesta de la herramienta, debes decir: \"Por cierto, aún no me has dicho tu nombre, ¿cómo te llamas?\".\n\n### 📸 REGLAS DE VISUALIZACIÓN FLEXIBLES:\n- **SI EXISTE IMAGEN:** Usa este formato:\n  🔥 *[Nombre]*\n  💰 Precio: $[Price]\n  📸 Ver foto: [image_url]\n- **SI NO HAY IMAGEN (Solo texto/FAQ):** Responde de forma natural y elegante omitiendo el campo de foto. No preguntes si quiere ver foto si el campo está vacío.\n\n### 🚨 GESTIÓN DE HUMANOS:\nPROTOCOLO DE CIERRE Y CAPTURA DE LEADS:\nSi el cliente demuestra una intención de compra clara (\"quiero comprar\", \"pásame el link\", \"agendar\", \"dónde transfiero\"), debes iniciar el proceso de cierre siguiendo ESTRICTAMENTE este orden:\n\nPaso 1: Verificación de Datos y Flexibilidad\n\nSi detectas intención de compra, pide el Nombre y WhatsApp una sola vez de forma entusiasta.\n\nSI EL CLIENTE SE NIEGA O EVADE: Si el cliente responde algo como \"no quiero darlo\", \"háblame por aquí\", o simplemente ignora la petición y sigue preguntando por el cierre, NO INSISTAS.\n\nIMPORTANTE: Si el cliente responde con sus datos, úsalos. Si el cliente responde cualquier otra cosa (evade, se niega, pregunta algo más o tarda en responder), NO insistas. Pasa al siguiente paso usando \"Sin Nombre\" y \"Chat Directo\" como valores.\n\nEn ese caso, procede al Paso 2 inmediatamente usando estos valores por defecto:\ncliente_nombre: \"Prospecto Anónimo\"\nwhatsapp_contacto: \"No proporcionado / Chat Directo\"\nIMPORTANTE: La prioridad máxima es que el lead llegue al Dashboard para que el humano tome el control, con o sin los datos completos.\n\nPaso 2: Deducción (Una vez que el cliente dio sus datos)\nCuando el cliente te dé su nombre y número, deduce mentalmente:\ncliente_nombre: El nombre que te acaba de dar.\nwhatsapp_contacto: El número que te dio.\nintencion_compra: El producto/servicio exacto que quiere.\nresumen_chat: Resumen de 1 línea (Ej: \"Quiere las Jordan 42, dejó su WhatsApp para coordinar pago\").\nvalor_estimado: Precio numérico (0 si no lo sabes).\n\nPaso 3: Ejecución de Herramientas (EN ESTE ORDEN)\nEjecuta la herramienta 'Call Cosechador de Oro' enviando los 5 datos que dedujiste en el Paso 2.\nInmediatamente después, ejecuta la herramienta 'Pasar a Humano' con el motivo \"VENTA\".\nDespídete del cliente confirmando: \"¡Listo [Nombre]! Ya guardé tus datos. En unos minutos un ejecutivo te hablará por WhatsApp para finalizar.\"\n\n- **SOPORTE/ENOJO:** Para reclamos, dudas técnicas no resueltas o lenguaje agresivo, usa 'Call Tool - Pasar a Humano con motivo=SOPORTE'.\n\n### REGLAS DE COMPORTAMIENTO:\n1. Eres un empleado del negocio. NO eres una IA.\n2. Si te preguntan algo ajeno al negocio, reencauza educadamente.\n3. PROHIBIDO INVENTAR. Si no está en la herramienta, no existe.\n\n{{ ($('trae saldo').item.json.plan_type || '').toLowerCase() == 'free' ? 'INSTRUCCIÓN FINAL: Agrega al final: \"🤖 Power by MiTiendaVirtual (Plan Free)\"' : '' }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-3920,-112],"id":"cacaf7aa-f542-45e2-b902-76d6ae0c92ed","name":"AI Agent","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5},{"parameters":{"model":"llama-3.3-70b-versatile","options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-4000,304],"id":"e90f2070-3b09-40cb-b9e5-00208f275769","name":"Groq Chat Model","credentials":{"groqApi":{"id":"1YZrLGuSEWLWsgAo","name":"Groq account"}}},{"parameters":{"multipleMethods":true,"path":"api-instagram","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-8208,-416],"id":"892d8581-52fd-4efa-b957-e6eafc271be5","name":"Webhook","webhookId":"1f73eea1-f7d1-4d71-bdd1-2d6c1e08088a"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.entry[0].changes[0].field }}","rightValue":"comments","operator":{"type":"string","operation":"equals"},"id":"87025ef5-98f4-4c17-a182-52f6ae976d58"}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-4784,-416],"id":"5111dfae-edf1-46dc-956d-b9c4afdf9a51","name":"Switch"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v23.0/me/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('get Instance').item.json.access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"recipient\": {\n    \"comment_id\": \"{{ $('Webhook').item.json.body.entry[0].changes[0].value.id }}\"\n  },\n  \"message\": {\n    \"text\": {{ JSON.stringify($('AI Agent Comentarios').item.json.output) }}\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1360,-400],"id":"4c3b1394-9f0e-49f5-9e31-f25e1c297462","name":"reponde dm por comentarios"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7b137810-5cc3-446f-a0ad-115365fc6713","leftValue":"={{\n// 1. LÓGICA PARA COMENTARIOS (Changes)\n$json.body.entry?.[0]?.changes ? \n  (\n    // Comparar ID del que escribe (from.id) con TU ID de cuenta (entry.id)\n    // Si son iguales, devuelve TRUE (BLOQUEAR). Si son distintos, FALSE (PASAR).\n    $json.body.entry[0].changes[0].value.from.id == $json.body.entry[0].id\n  ) \n: \n\n// 2. LÓGICA PARA MENSAJES PRIVADOS (DM)\n($json.body.entry?.[0]?.messaging?.[0] ? \n  (\n    // Bloquear si es estado de entrega, lectura o mensaje propio (echo)\n    !!$json.body.entry[0].messaging[0].delivery || \n    !!$json.body.entry[0].messaging[0].read || \n    !!$json.body.entry[0].messaging[0].message?.is_echo\n  ) \n  : true // Si no es ni comentario ni DM conocido -> BLOQUEAR (True)\n)\n}}","rightValue":"={{ true }}","operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-7920,-400],"id":"06d8eb5a-be5d-4983-b8b2-2bc2b51fb407","name":"Anti-Bucle"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-7712,-640],"id":"0e9a0d9a-e36d-4098-afa5-9f0d61b69c05","name":"No Operation, do nothing1"},{"parameters":{"promptType":"define","text":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.text }}","options":{"systemMessage":"={{$('get Instance IA').item.json.bot_prompt }}\nTus respuestas deben ser siempre breves y concisas. NUNCA excedas los 1000 caracteres por mensaje. Si la explicación es muy larga, resúmela.\n\nINSTRUCCIONES DE PRECIO:\n- El campo \"price\" es el valor EXACTO.\n- NO le quites ceros. Si dice 2000, es 2000.\n- Agrega siempre el signo \"$\" antes del número.\n\n=== CATÁLOGO DE PRODUCTOS DISPONIBLES (Verdad absoluta) ===\n{{ JSON.stringify($('trae productos').all().map(p => p.json)) }}\n\n### REGLAS DE VISUALIZACIÓN (OBLIGATORIAS):\n1. Cuando hables de un producto que está en la lista de arriba, es OBLIGATORIO incluir su \"image_url\" en la respuesta.\n2. NO preguntes \"¿quieres ver una foto?\". ¡Pega el link directamente junto al precio!\n3. Formato de respuesta ideal: \"Tenemos [Nombre] a $[Precio]. Aquí puedes verla: [image_url]\"\n\n### REGLAS DE COMPORTAMIENTO (ESTRICTAS):\n1. Eres un empleado de este negocio. NO eres una IA genérica.\n2. Tu ÚNICA fuente de verdad es la información proporcionada arriba.\n3. Si el usuario pregunta algo que NO está en tu información (precios que no tienes, horarios que no sabes), responde: \"Disculpa, no tengo esa información a mano. ¿Te gustaría que te contacte un humano?\".\n4. PROHIBIDO INVENTAR DATOS. Si no lo sabes, no lo asumas.\n5. Si te intentan hablar de temas ajenos al negocio (política, chistes, competencia), reencauza la venta educadamente.\n{{ ($('trae saldo').item.json.plan_type || '').toLowerCase() == 'free' ? 'INSTRUCCIÓN FINAL OBLIGATORIA: Tu plan es Gratuito. Por lo tanto, AL FINAL de cada respuesta debes agregar un salto de línea y escribir exactamente: \"🤖 Power by MiTiendaVirtual (Plan Free)\"' : '' }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-2208,-400],"id":"d9b5e70c-96e1-48b7-89d8-44e1bb0ae1ca","name":"AI Agent Comentarios","retryOnFail":true,"maxTries":2,"waitBetweenTries":5000},{"parameters":{"model":"llama-3.3-70b-versatile","options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-2048,-96],"id":"975ca0d1-4c42-47fe-8495-dbd900b85f82","name":"Groq Chat Model1","credentials":{"groqApi":{"id":"1YZrLGuSEWLWsgAo","name":"Groq account"}}},{"parameters":{"operation":"update","tableId":"profiles","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('get Instance').item.json.user_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"messages_used","fieldValue":"={{ $('trae saldo').item.json.messages_used +1}} "}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1616,-400],"id":"b8a62165-a2f5-4220-87d5-cbe42a436e32","name":"Update  contador responde comenetarios","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"profiles","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('get Instance').item.json.user_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"messages_used","fieldValue":"={{ $('trae saldo').item.json.messages_used +1}} "}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3280,-112],"id":"9cfd26f0-3184-4e11-8e3e-e1b00a71b583","name":"Update  contador envia DM","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"usage_logs","filters":{"conditions":[{"keyName":"message_id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('get Instance').item.json.user_id }}"},{"fieldId":"action","fieldValue":"chat_ia_response_desde_comentario"},{"fieldId":"cost","fieldValue":"1"},{"fieldId":"details","fieldValue":"={{ { \"mensaje\": $('Webhook').item.json.body.entry[0].changes[0].value.text } }}"},{"fieldId":"response_comment","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1872,-400],"id":"b9ba1483-5219-4ec9-b6b2-ad28f14d4ba5","name":"Guardar Log Uso Comments","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"usage_logs","filters":{"conditions":[{"keyName":"message_id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.entry[0].messaging[0].message.mid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('get Instance').item.json.user_id }}"},{"fieldId":"action","fieldValue":"chat_ia_response_dms"},{"fieldId":"cost","fieldValue":"1"},{"fieldId":"details","fieldValue":"={{ { \"mensaje\": $('Webhook').item.json.body.entry[0].messaging[0].message.text } }}"},{"fieldId":"message_id","fieldValue":"={{ $('Webhook').item.json.body.entry[0].messaging[0].message.mid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3552,-112],"id":"925626d4-a5fa-4eab-b508-70e31ef546e1","name":"Guardar Log Uso DMs","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v23.0/me/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('get Instance').item.json.access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n  {\n    \"recipient\": {\n      \"id\": $('Webhook').item.json.body.entry[0].messaging[0].sender.id\n    },\n    \"message\": {\n      \"text\": $('AI Agent').item.json.output\n      \n    }\n  }\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-2960,-112],"id":"320a96c1-857c-443c-88eb-988677fb4b6b","name":"reponde dm servicio al cliente","retryOnFail":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-7216,-176],"id":"49043b77-2cdc-4f38-a8cf-6a130549de1a","name":"No Operation, do nothing"},{"parameters":{"operation":"update","tableId":"profiles","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('trae mensajes usados').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"plan_type","fieldValue":"={{ $('Get Plan Free').item.json.code || 'free' }}"},{"fieldId":"monthly_limit","fieldValue":"={{ $('Get Plan Free').item.json.messages_limit || $('Get Plan Free').item.json.products_limit || 50 }}"},{"fieldId":"plan_expires_at","fieldValue":"={{ null }}"},{"fieldId":"messages_used","fieldValue":"0"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5424,-240],"id":"bf1038ba-2645-4098-8fd0-1c81d6ca4a4b","name":"actualiza plan free","alwaysOutputData":false,"credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"889414ec-ddbf-4443-a3b7-f17f59ea6e3c","leftValue":"={{ $('trae mensajes usados').item.json.messages_used }}","rightValue":"={{ $('trae mensajes usados').item.json.monthly_limit }}","operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-6160,-400],"id":"bad74817-5bea-4d2e-93cd-c7fe8630597d","name":"valida cantidad mensajes quedan"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v23.0/{{ $('Webhook').item.json.body.entry[0].changes[0].value.id }}/replies","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('get Instance').item.json.access_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{$('get Instance IA').item.json.reply_public}} "}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-2512,-400],"id":"e6e1416d-df38-443d-86b9-625e47a5be12","name":"Responde Comentario IG"},{"parameters":{"tableId":"usage_logs","fieldsUi":{"fieldValues":[{"fieldId":"message_id","fieldValue":"={{ \n$('Webhook').item.json.body.entry[0].messaging ? \n$('Webhook').item.json.body.entry[0].messaging[0].message.mid : \n$('Webhook').item.json.body.entry[0].changes[0].value.id \n}}"},{"fieldId":"type","fieldValue":"={{  $json.body.entry[0].changes ? 'comment' : ($json.body.entry[0].messaging ? 'message' : 'dm')  }}"},{"fieldId":"sender_id","fieldValue":"={{ \n  $node[\"Webhook\"].json.body?.entry?.[0]?.changes?.[0]?.value?.from?.id || \n  $node[\"Webhook\"].json.body?.entry?.[0]?.messaging?.[0]?.sender?.id || \n  0 \n}}"},{"fieldId":"media_id","fieldValue":"={{ $node[\"Webhook\"].json.body.entry[0].changes[0].value.media.id }}"},{"fieldId":"provider_id","fieldValue":"={{ $node[\"Webhook\"].json.body.entry[0].id}}"},{"fieldId":"details","fieldValue":"={{  $('Webhook').item.json.body.entry[0].messaging ?   $('Webhook').item.json.body.entry[0].messaging[0].message.text  :  $('Webhook').item.json.body.entry[0].changes[0].value.text }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-7648,-384],"id":"f5069db6-5516-4aed-b30d-ffa43f81f980","name":"inicializa usage_logs","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"getAll","tableId":"profiles","limit":1,"filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('get Instance').item.json.user_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6400,-400],"id":"8ee776b7-499c-453c-9b25-83bdd9995e94","name":"trae mensajes usados","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"profiles","limit":1,"filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('get Instance').item.json.user_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5216,-416],"id":"46929ef2-a96b-4441-bc82-526ec127d33a","name":"trae saldo","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"products","limit":20,"filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $('trae saldo').item.json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5008,-416],"id":"c969a5d7-348c-42cc-bbb7-e2a3e1b5e2ea","name":"trae productos","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"chat_states","filters":{"conditions":[{"keyName":"instagram_id","keyValue":"={{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}"},{"keyName":"status","keyValue":"human"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4480,-112],"id":"e22c2b72-0da1-40c5-8f3f-a3d62379c353","name":"Verificar Estado","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"description":"Utiliza esta herramienta EXCLUSIVAMENTE cuando el usuario pida hablar con un humano, persona real o soporte. No la uses para otras cosas.","workflowId":{"__rl":true,"value":"gVIWY3kFAMV9tbD4X5DmA","mode":"list","cachedResultUrl":"/workflow/gVIWY3kFAMV9tbD4X5DmA","cachedResultName":"Tool - Pasar a Humano"},"workflowInputs":{"mappingMode":"defineBelow","value":{"instagram_id":"={{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}","user_id":"={{ $('get Instance').item.json.user_id }}","motivo":"={{ $json.input }}"},"matchingColumns":["instagram_id"],"schema":[{"id":"instagram_id","displayName":"instagram_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"motivo","displayName":"motivo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-3472,128],"id":"33071284-9851-4f07-a3c6-85671392b731","name":"Call 'Tool - Pasar a Humano'"},{"parameters":{"content":"### Control de respuesta comentario , \nspam y palabra secreta","height":80,"width":336},"type":"n8n-nodes-base.stickyNote","position":[-4144,-336],"typeVersion":1,"id":"e3a187d5-8efe-4e4c-83e6-56b241e678c4","name":"Sticky Note"},{"parameters":{"content":"## Valida el if si es solo pla planes free no se debe renovar el saldo"},"type":"n8n-nodes-base.stickyNote","position":[-5984,-32],"typeVersion":1,"id":"fc182536-feca-4a9f-9be3-28e4aaffbf65","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"30f60d4f-64db-4d5e-81a8-f821b5fd63c6","leftValue":"={{ $('trae mensajes usados').item.json.plan_type }}","rightValue":"free","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-5952,-224],"id":"86578ed8-9c94-4b09-9fcf-3eb791f308d4","name":"valida plan"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5408,-32],"id":"d69b652a-4607-483d-80b3-0380d6403457","name":"No Operation, do nothing3"},{"parameters":{"method":"POST","url":"https://api.resend.com/emails","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"Alerta Bot <alerta@mitiendavirtual.cl>\",\n  \"to\": [\n    \"{{ $('trae mensajes usados').item.json.email }}\"\n  ],\n  \"subject\": \"🚨 URGENTE: Tu Bot se quedó sin saldo\",\n  \"html\": \"<p>Hola <strong>{{ $('trae mensajes usados').item.json.full_name }}</strong>,</p><p>Tu cliente (ID:  {{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }} intentó hablar con el bot, pero no pudimos responder porque <strong>tu saldo mensual se ha agotado</strong> o tu plan venció.Para tu seguridad, hemos actualizado tu plan a free, que te da algunas conversaciones mas, para que puedas operar. 🛑</p><p>Para no perder más ventas, recarga tu plan ahora mismo:</p><p>👉 <a href='https://mitiendavirtual.cl'><strong>Click aquí para Recargar Saldo</strong></a></p><p>Saludos,<br>El equipo de MiTiendaVirtual</p>\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-5664,-240],"id":"b7852457-873e-484c-b87e-1305ab8d4213","name":"Urgente aviso cambio de plan","credentials":{"httpHeaderAuth":{"id":"kuL2GPl1aX6BckWu","name":"Resend Api"}}},{"parameters":{"method":"POST","url":"https://api.resend.com/emails","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"Alerta Bot <alerta@mitiendavirtual.cl>\",\n  \"to\": [\n    \"{{ $('trae mensajes usados').item.json.email }}\"\n  ],\n  \"subject\": \"🚨 URGENTE: Tu Bot se quedó sin saldo\",\n  \"html\": \"<p>Hola <strong>{{ $('trae mensajes usados').item.json.full_name }}</strong>,</p><p>Tu cliente (ID:  {{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }} intentó hablar con el bot, pero no pudimos responder porque <strong>tu saldo mensual se ha agotado</strong> o tu plan venció.Para tu seguridad.🛑</p><p>Para no perder más ventas, recarga tu plan ahora mismo:</p><p>👉 <a href='https://mitiendavirtual.cl'><strong>Click aquí para Recargar Saldo</strong></a></p><p>Saludos,<br>El equipo de MiTiendaVirtual</p>\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-5648,-32],"id":"1d2b1139-ff0c-4584-86cc-7b366c36631d","name":"Urgente sin saldo","credentials":{"httpHeaderAuth":{"id":"kuL2GPl1aX6BckWu","name":"Resend Api"}}},{"parameters":{"content":"## Valida el if si es solo pla planes free no se debe renovar el saldo"},"type":"n8n-nodes-base.stickyNote","position":[-5200,-192],"typeVersion":1,"id":"4e0de514-f399-4375-86bb-b1d592c1bc43","name":"Sticky Note2"},{"parameters":{"operation":"get","tableId":"usage_logs","filters":{"conditions":[{"keyName":"sender_id","keyValue":"={{ $('Webhook').first().json.body?.entry?.[0]?.changes?.[0]?.value?.from?.id || $('Webhook').first().json.body?.entry?.[0]?.messaging?.[0]?.sender?.id || 0 }}"},{"keyName":"type","keyValue":"comment"},{"keyName":"media_id","keyValue":"={{ $('Webhook').first().json.body?.entry?.[0]?.changes?.[0]?.value?.media?.id }}"},{"keyName":"user_id","keyValue":"={{ $('get Instance').first().json.user_id }}"},{"keyName":"provider_id","keyValue":"={{ $('Webhook').first().json.body?.entry?.[0].id}}"},{"keyName":"message_id","keyValue":"={{  $('Webhook').item.json.body.entry[0].messaging ?  $('Webhook').item.json.body.entry[0].messaging[0].message.mid :  $('Webhook').item.json.body.entry[0].changes[0].value.id  }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4560,-432],"id":"083b57d9-8c1d-48c0-be27-6f7fd542f524","name":"Obtiene conversacion","alwaysOutputData":false,"executeOnce":true,"credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"usage_logs","filters":{"conditions":[{"keyName":"message_id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.entry[0].changes?.[0].value.id || $('Webhook').item.json.body.entry[0].messaging?.[0].message.mid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('get Instance').item.json.user_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6672,-400],"id":"d2a302a6-3672-401d-a1a2-edbc32fbb49f","name":"Guardar user_id en Log","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"jsCode":"const records = items;\nconst now = new Date();\nconst VENTANA_HORAS = 2;\n\n// Si por alguna razón la consulta viene vacía, permitimos responder por seguridad\nif (!records || records.length <= 1) {\n  return [{\n    json: {\n      can_respond: true,\n      reason: \"No se encontraron registros previos. Responder disponible.\",\n      hours_remaining: 0\n    }\n  }];\n}\n\n/**\n * 1. ORDENAMIENTO\n * Ordenamos para asegurar que el índice [0] sea siempre el más reciente\n */\nconst sortedRecords = [...records].sort((a, b) => \n  new Date(b.json.created_at) - new Date(a.json.created_at)\n);\n\nconst lastRecord = sortedRecords[0].json;\nconst lastResponseDate = new Date(lastRecord.created_at);\n\n// Cálculo de tiempo transcurrido\nconst diffMs = now - lastResponseDate;\nconst hoursElapsed = diffMs / (1000 * 60 * 60);\nconst minutesElapsed = diffMs / (1000 * 60);\n\n// Cálculo de tiempo restante\nconst hoursRemaining = Math.max(0, VENTANA_HORAS - hoursElapsed);\nconst minutesRemaining = Math.max(0, (VENTANA_HORAS * 60) - minutesElapsed);\n\nlet canRespond = false;\nlet reason = \"\";\n\n/**\n * 2. VALIDACIÓN DE VENTANA\n */\nif (hoursElapsed >= VENTANA_HORAS) {\n    canRespond = true;\n    reason = `Permitido: Han pasado ${hoursElapsed.toFixed(2)}h.`;\n} else {\n    canRespond = false;\n    reason = `Bloqueado: Re-contacto muy pronto. Faltan ${minutesRemaining.toFixed(0)} minutos para cumplir las 2h.`;\n}\n\nreturn [{\n  json: {\n    can_respond: canRespond,\n    reason: reason,\n    last_contact: lastRecord.created_at,\n    hours_elapsed: hoursElapsed.toFixed(2),\n    minutes_remaining: minutesRemaining.toFixed(0),\n    total_messages_analizados: records.length\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3760,-640],"id":"d0c77e93-708d-46ce-9ab1-91d1aaf1e6ec","name":"sort y análisis padre e hijos"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-4176,128],"id":"84c9cb5e-7657-4968-8ca2-18fffb74ea3c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"x102Fc6eiHRwiPt1","name":"OpenAi account"}}},{"parameters":{"description":"Eres un asistente experto. Tu base de conocimientos específica para este negocio se encuentra en la herramienta 'Tool - Buscador Inteligente'.\n\nSi el usuario pregunta por productos, servicios, precios, horarios, ubicaciones o cualquier detalle operativo, DEBES usar la herramienta de búsqueda antes de responder.\n\nNo inventes información. Si tras buscar no encuentras el dato, usa la herramienta 'Tool - Pasar a Humano'.\n\nTus respuestas deben ser breves y concisas. NUNCA excedas los 1000 caracteres. Si la explicación es muy larga, resúmela.","workflowId":{"__rl":true,"value":"CCEahHzGReI4SAKVig2bc","mode":"list","cachedResultUrl":"/workflow/CCEahHzGReI4SAKVig2bc","cachedResultName":"Tool - Buscador Inteligente"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', `Extrae la query desde el texto, que viene en el mensaje  de webhook`, 'string') }}","plan":"={{ $('trae saldo').item.json.plan_type }}","user_id":"={{ $('get Instance').item.json.user_id }}"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"plan","displayName":"plan","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-3824,128],"id":"1018ab00-15a0-41cc-a627-90b7279a0248","name":"Call 'Tool - Buscador Inteligente'"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-4000,128],"id":"e28a302b-dbdc-412f-9378-eee21f338415","name":"Memoria de agente"},{"parameters":{"description":"Usa esta herramienta ÚNICAMENTE cuando el cliente confirme su intención de compra o agendamiento. Esta herramienta guarda el prospecto en la base de datos para que un humano lo contacte. Debes haber intentado obtener el nombre y WhatsApp antes, pero si no los da, usa 'Anónimo' y 'Chat Directo'. Es vital para el proceso de ventas del negocio.\"","workflowId":{"__rl":true,"value":"0yuSoBP0x8NztpyP1VtGN","mode":"list","cachedResultUrl":"/workflow/0yuSoBP0x8NztpyP1VtGN","cachedResultName":"Cosechador de Oro"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $('get Instance').item.json.user_id }}","cliente_nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cliente_nombre', ``, 'string') }}","whatsapp_contacto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('whatsapp_contacto', ``, 'string') }}","intencion_compra":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('intencion_compra', ``, 'string') }}","resumen_chat":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('resumen_chat', ``, 'string') }}","valor_estimado":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('valor_estimado', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"cliente_nombre","displayName":"cliente_nombre","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"whatsapp_contacto","displayName":"whatsapp_contacto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"intencion_compra","displayName":"intencion_compra","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resumen_chat","displayName":"resumen_chat","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"valor_estimado","displayName":"valor_estimado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-3648,128],"id":"99121177-c275-4ab0-a64f-d707bb50cd10","name":"Call 'Cosechador de Oro'"},{"parameters":{"operation":"getAll","tableId":"instances","limit":1,"filters":{"conditions":[{"keyName":"provider_id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.entry[0].id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-7168,-400],"id":"7b99370d-b7c6-4605-abb9-a4369215fdd7","name":"get Instance","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"instance_personalities","limit":1,"filters":{"conditions":[{"keyName":"instance_id","condition":"eq","keyValue":"={{ $json.id}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6912,-400],"id":"b948208e-e25a-437a-a024-f21beac48793","name":"get Instance IA","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"96e8284d-7268-4aa7-b76f-f93f3d612455","leftValue":"={{$('get Instance IA').item.json.activation_keyword}}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3104,-416],"id":"c81099d3-5c8a-4c00-a456-af0e215da34f","name":"esta configurado palabra secreta"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0a9b83e6-83b4-4fec-9ba5-c7ff4b8d315e","leftValue":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.text }}","rightValue":"={{$('get Instance IA').item.json.activation_keyword}}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-2816,-528],"id":"33f1ce93-0817-4b69-9f71-d81df77c82cf","name":"Filtra Palabra Secreta"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5ff82824-68e0-4754-b230-ecac242b4b27","leftValue":"={{$('get Instance IA').item.json.antispam_enabled}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4288,-432],"id":"7336a6d6-1de7-42c5-b4b7-b75900e96ac2","name":"Antispam"},{"parameters":{"content":"### Valida 24 horas, desde que haya pasado el comentario","height":96,"width":448},"type":"n8n-nodes-base.stickyNote","position":[-3952,-768],"typeVersion":1,"id":"0cdd57a1-50de-40bf-8860-48dc606c4987","name":"Sticky Note3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0a9b83e6-83b4-4fec-9ba5-c7ff4b8d315e","leftValue":"={{ Object.keys($json).length }}","rightValue":1,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-4192,-112],"id":"cb8453c1-7207-4c0b-aec4-20aa5b7bc5b3","name":"valida state bot"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0a9b83e6-83b4-4fec-9ba5-c7ff4b8d315e","leftValue":"={{ $json.can_respond }}","rightValue":"={{$('get Instance IA').item.json.activation_keyword}}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-3424,-640],"id":"85dc65a2-77ce-4062-8896-51e3b9e7f233","name":"existe conversacion/comentario"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-2272,-128],"id":"dbcc6c2c-98a2-46c7-bae7-751ae687f962","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"x102Fc6eiHRwiPt1","name":"OpenAi account"}}},{"parameters":{"content":"## Trae conversacion por mensaje","height":80,"width":336},"type":"n8n-nodes-base.stickyNote","position":[-4656,-560],"typeVersion":1,"id":"2414630b-252e-4459-8bf8-b0eeb513144e","name":"Sticky Note4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"98501801-007c-43d5-9cc4-56244d8143c7","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-7408,-384],"id":"27b09f5c-8324-4bb1-a8bc-3092fc0a739f","name":"is error"},{"parameters":{"operation":"getAll","tableId":"usage_logs","limit":1,"matchType":"allFilters","filters":{"conditions":[{"keyName":"sender_id","condition":"eq","keyValue":"={{ $('Webhook').first().json.body?.entry?.[0]?.changes?.[0]?.value?.from?.id || $('Webhook').first().json.body?.entry?.[0]?.messaging?.[0]?.sender?.id || 0 }}"},{"keyName":"type","condition":"eq","keyValue":"comment"},{"keyName":"media_id","condition":"eq","keyValue":"={{ $('Webhook').first().json.body?.entry?.[0]?.changes?.[0]?.value?.media?.id }}"},{"keyName":"user_id","condition":"eq","keyValue":"={{ $('get Instance').first().json.user_id }}"},{"keyName":"provider_id","condition":"gte","keyValue":"={{ $('Webhook').first().json.body?.entry?.[0].id}}"},{"keyName":"response_comment","condition":"is","keyValue":"False"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4032,-640],"id":"39125b00-d0b0-42cc-8554-877b173000df","name":"Obtiene conversacion 2 hrs","alwaysOutputData":false,"executeOnce":false,"retryOnFail":false,"credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}}],"connections":{"Webhook":{"main":[[],[{"node":"Anti-Bucle","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Guardar Log Uso DMs","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Obtiene conversacion","type":"main","index":0}],[{"node":"Verificar Estado","type":"main","index":0}]]},"Anti-Bucle":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"inicializa usage_logs","type":"main","index":0}]]},"AI Agent Comentarios":{"main":[[{"node":"Guardar Log Uso Comments","type":"main","index":0}]]},"Update  contador responde comenetarios":{"main":[[{"node":"reponde dm por comentarios","type":"main","index":0}]]},"Update  contador envia DM":{"main":[[{"node":"reponde dm servicio al cliente","type":"main","index":0}]]},"Guardar Log Uso Comments":{"main":[[{"node":"Update  contador responde comenetarios","type":"main","index":0}]]},"Guardar Log Uso DMs":{"main":[[{"node":"Update  contador envia DM","type":"main","index":0}]]},"actualiza plan free":{"main":[[{"node":"trae saldo","type":"main","index":0}]]},"valida cantidad mensajes quedan":{"main":[[{"node":"trae saldo","type":"main","index":0}],[{"node":"valida plan","type":"main","index":0}]]},"Responde Comentario IG":{"main":[[{"node":"AI Agent Comentarios","type":"main","index":0}]]},"inicializa usage_logs":{"main":[[{"node":"is error","type":"main","index":0}]]},"trae mensajes usados":{"main":[[{"node":"valida cantidad mensajes quedan","type":"main","index":0}]]},"trae saldo":{"main":[[{"node":"trae productos","type":"main","index":0}]]},"trae productos":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Verificar Estado":{"main":[[{"node":"valida state bot","type":"main","index":0}]]},"Call 'Tool - Pasar a Humano'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"valida plan":{"main":[[{"node":"Urgente aviso cambio de plan","type":"main","index":0}],[{"node":"Urgente sin saldo","type":"main","index":0}]]},"Urgente aviso cambio de plan":{"main":[[{"node":"Get Plan Free","type":"main","index":0}]]},"Get Plan Free":{"main":[[{"node":"actualiza plan free","type":"main","index":0}]]},"Urgente sin saldo":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"Obtiene conversacion":{"main":[[{"node":"Antispam","type":"main","index":0}]]},"Guardar user_id en Log":{"main":[[{"node":"trae mensajes usados","type":"main","index":0}]]},"sort y análisis padre e hijos":{"main":[[{"node":"existe conversacion/comentario","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Call 'Tool - Buscador Inteligente'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Memoria de agente":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Call 'Cosechador de Oro'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"get Instance":{"main":[[{"node":"get Instance IA","type":"main","index":0}]]},"get Instance IA":{"main":[[{"node":"Guardar user_id en Log","type":"main","index":0}]]},"esta configurado palabra secreta":{"main":[[{"node":"Filtra Palabra Secreta","type":"main","index":0}],[{"node":"Responde Comentario IG","type":"main","index":0}]]},"Filtra Palabra Secreta":{"main":[[{"node":"Responde Comentario IG","type":"main","index":0}]]},"Antispam":{"main":[[{"node":"Obtiene conversacion 2 hrs","type":"main","index":0}],[{"node":"esta configurado palabra secreta","type":"main","index":0}]]},"valida state bot":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"existe conversacion/comentario":{"main":[[{"node":"esta configurado palabra secreta","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent Comentarios","type":"ai_languageModel","index":0}]]},"is error":{"main":[[{"node":"get Instance","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Obtiene conversacion 2 hrs":{"main":[[{"node":"sort y análisis padre e hijos","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.mitiendavirtual.cl","user-agent":"Webhooks/1.0 (https://fb.me/webhooks)","content-length":"313","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"2a03:2880:2ff:5e::","cf-ipcountry":"US","cf-ray":"9e6c4b7458af76b0-SEA","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"25fb36c4-be2f-495a-ad47-f72146c5307a","connection":"keep-alive","content-type":"application/json","x-forwarded-for":"2a03:2880:2ff:5e::","x-forwarded-proto":"https","x-hub-signature":"sha1=905fb4bc6595ce4feb62e7a3b6f1cea50689c83b","x-hub-signature-256":"sha256=95746aa426cb5fa520506bdc5ad8186f68c4a99a54c7b02753795b2bf7c9357b"},"params":{},"query":{},"body":{"entry":[{"id":"17841458775970092","time":1775263572,"changes":[{"value":{"from":{"id":"1234234408571025","username":"felipe.treufo"},"media":{"id":"18343990405063797","media_product_type":"FEED"},"id":"17920182906320910","text":"holandacion"},"field":"comments"}]}],"object":"instagram"},"webhookUrl":"https://webhook.mitiendavirtual.cl/webhook/api-instagram","executionMode":"production"},"pairedItem":{"item":0,"input":1}}]},"versionId":"5224f0d6-6e26-469d-b7d7-e66309dd062e","activeVersionId":"5224f0d6-6e26-469d-b7d7-e66309dd062e","versionCounter":396,"triggerCount":1,"shared":[{"updatedAt":"2026-02-03T23:48:55.659Z","createdAt":"2026-02-03T23:48:55.659Z","role":"workflow:owner","workflowId":"7OeEVHgT1Ns95TMO","projectId":"Dv9n0fTb4o45RMgf","project":{"updatedAt":"2026-01-18T23:02:15.869Z","createdAt":"2026-01-18T22:31:52.086Z","id":"Dv9n0fTb4o45RMgf","name":"Felipe Gomez <fe.gomez.tre@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"835ef969-7ad7-411f-8c05-1019ce967293","projectRelations":[{"updatedAt":"2026-01-18T22:31:52.086Z","createdAt":"2026-01-18T22:31:52.086Z","userId":"835ef969-7ad7-411f-8c05-1019ce967293","projectId":"Dv9n0fTb4o45RMgf","user":{"updatedAt":"2026-04-24T02:54:22.000Z","createdAt":"2026-01-18T22:31:50.891Z","id":"835ef969-7ad7-411f-8c05-1019ce967293","email":"fe.gomez.tre@gmail.com","firstName":"Felipe","lastName":"Gomez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-18T23:02:44.341Z","personalization_survey_n8n_version":"2.3.6","automationGoalDevops":["other"],"companyType":"saas","role":"it"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"u7Yj8nQneu2cJvSDmp_ST","userActivatedAt":1769178337937,"npsSurvey":{"responded":true,"lastShownAt":1769442979769}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-23","isPending":false}}]}}],"tags":[],"parentFolder":null,"activeVersion":{"updatedAt":"2026-04-19T00:52:54.000Z","createdAt":"2026-04-19T00:52:48.085Z","versionId":"5224f0d6-6e26-469d-b7d7-e66309dd062e","workflowId":"7OeEVHgT1Ns95TMO","nodes":[{"parameters":{"operation":"get","tableId":"plans","filters":{"conditions":[{"keyName":"code","keyValue":"free"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5984,-240],"id":"805e93ce-a427-49fb-8b61-f76e2cd1041b","name":"Get Plan Free","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"promptType":"define","text":"={{ $('Webhook').item.json.body.entry[0].messaging[0].message.text }}","options":{"systemMessage":"={{$('get Instance IA').item.json.bot_prompt }}\nTus r\nTus respuestas deben ser siempre breves y concisas. NUNCA excedas los 1000 caracteres por mensaje.\n\nINSTRUCCIONES DE PRECIO:\n- El campo \"price\" es el valor EXACTO. Agrega siempre \"$\" antes del número y NO quites ceros (ej: 100000 es $100000).\n\n=== ACCESO AL CATÁLOGO Y CONOCIMIENTO ===\n1. **REGLA DE ORO (CROSS-CATEGORY):** Eres un asistente para múltiples tipos de negocios (Ventas, Servicios, Arriendos). Para CUALQUIER consulta, DEBES usar la herramienta 'Call_Tool_-_Buscador_Inteligente_'.\n2. **RAZONAMIENTO ANTES DE BUSCAR (QUERY EXPANSION):** - Si el usuario es vago (ej: \"¿Qué tienes?\", \"¿Modelos?\", \"¿Servicios?\"), NO busques la palabra literal.\n   - Genera una búsqueda enriquecida. Ejemplo: Si preguntan \"modelos\", busca \"catálogo de productos disponibles y listado de modelos\". Si preguntan \"precios\", busca \"lista de precios y tarifas de servicios\".\n3. **VERDAD ABSOLUTA:** Solo responde basándote en lo que devuelva la herramienta. Si el score es bajo pero la información es claramente la respuesta, úsala. Si no hay nada, ofrece un humano.\n\n### 🔎 REGLA DE BÚSQUEDA Y PROTOCOLO:\n1. ORDEN DE RESPUESTA: El saludo y la presentación de Luna SIEMPRE van antes de los resultados de la herramienta. \n2. INTEGRACIÓN DE FLUJO:\n   - Ejecuta 'Call_Tool_-_Buscador_Inteligente_' apenas detectes una duda.\n   - Redacta la respuesta integrando tu identidad. \n   - Ejemplo de estructura: [Saludo de Luna] + [Respuesta técnica/Producto] + [Pregunta de cierre o nombre].\n3. CONDICIÓN DE NOMBRE: Si el usuario aún no te ha dicho su nombre, después de entregar la respuesta de la herramienta, debes decir: \"Por cierto, aún no me has dicho tu nombre, ¿cómo te llamas?\".\n\n### 📸 REGLAS DE VISUALIZACIÓN FLEXIBLES:\n- **SI EXISTE IMAGEN:** Usa este formato:\n  🔥 *[Nombre]*\n  💰 Precio: $[Price]\n  📸 Ver foto: [image_url]\n- **SI NO HAY IMAGEN (Solo texto/FAQ):** Responde de forma natural y elegante omitiendo el campo de foto. No preguntes si quiere ver foto si el campo está vacío.\n\n### 🚨 GESTIÓN DE HUMANOS:\nPROTOCOLO DE CIERRE Y CAPTURA DE LEADS:\nSi el cliente demuestra una intención de compra clara (\"quiero comprar\", \"pásame el link\", \"agendar\", \"dónde transfiero\"), debes iniciar el proceso de cierre siguiendo ESTRICTAMENTE este orden:\n\nPaso 1: Verificación de Datos y Flexibilidad\n\nSi detectas intención de compra, pide el Nombre y WhatsApp una sola vez de forma entusiasta.\n\nSI EL CLIENTE SE NIEGA O EVADE: Si el cliente responde algo como \"no quiero darlo\", \"háblame por aquí\", o simplemente ignora la petición y sigue preguntando por el cierre, NO INSISTAS.\n\nIMPORTANTE: Si el cliente responde con sus datos, úsalos. Si el cliente responde cualquier otra cosa (evade, se niega, pregunta algo más o tarda en responder), NO insistas. Pasa al siguiente paso usando \"Sin Nombre\" y \"Chat Directo\" como valores.\n\nEn ese caso, procede al Paso 2 inmediatamente usando estos valores por defecto:\ncliente_nombre: \"Prospecto Anónimo\"\nwhatsapp_contacto: \"No proporcionado / Chat Directo\"\nIMPORTANTE: La prioridad máxima es que el lead llegue al Dashboard para que el humano tome el control, con o sin los datos completos.\n\nPaso 2: Deducción (Una vez que el cliente dio sus datos)\nCuando el cliente te dé su nombre y número, deduce mentalmente:\ncliente_nombre: El nombre que te acaba de dar.\nwhatsapp_contacto: El número que te dio.\nintencion_compra: El producto/servicio exacto que quiere.\nresumen_chat: Resumen de 1 línea (Ej: \"Quiere las Jordan 42, dejó su WhatsApp para coordinar pago\").\nvalor_estimado: Precio numérico (0 si no lo sabes).\n\nPaso 3: Ejecución de Herramientas (EN ESTE ORDEN)\nEjecuta la herramienta 'Call Cosechador de Oro' enviando los 5 datos que dedujiste en el Paso 2.\nInmediatamente después, ejecuta la herramienta 'Pasar a Humano' con el motivo \"VENTA\".\nDespídete del cliente confirmando: \"¡Listo [Nombre]! Ya guardé tus datos. En unos minutos un ejecutivo te hablará por WhatsApp para finalizar.\"\n\n- **SOPORTE/ENOJO:** Para reclamos, dudas técnicas no resueltas o lenguaje agresivo, usa 'Call Tool - Pasar a Humano con motivo=SOPORTE'.\n\n### REGLAS DE COMPORTAMIENTO:\n1. Eres un empleado del negocio. NO eres una IA.\n2. Si te preguntan algo ajeno al negocio, reencauza educadamente.\n3. PROHIBIDO INVENTAR. Si no está en la herramienta, no existe.\n\n{{ ($('trae saldo').item.json.plan_type || '').toLowerCase() == 'free' ? 'INSTRUCCIÓN FINAL: Agrega al final: \"🤖 Power by MiTiendaVirtual (Plan Free)\"' : '' }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-3920,-112],"id":"cacaf7aa-f542-45e2-b902-76d6ae0c92ed","name":"AI Agent","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5},{"parameters":{"model":"llama-3.3-70b-versatile","options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-4000,304],"id":"e90f2070-3b09-40cb-b9e5-00208f275769","name":"Groq Chat Model","credentials":{"groqApi":{"id":"1YZrLGuSEWLWsgAo","name":"Groq account"}}},{"parameters":{"multipleMethods":true,"path":"api-instagram","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-8208,-416],"id":"892d8581-52fd-4efa-b957-e6eafc271be5","name":"Webhook","webhookId":"1f73eea1-f7d1-4d71-bdd1-2d6c1e08088a"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.entry[0].changes[0].field }}","rightValue":"comments","operator":{"type":"string","operation":"equals"},"id":"87025ef5-98f4-4c17-a182-52f6ae976d58"}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-4784,-416],"id":"5111dfae-edf1-46dc-956d-b9c4afdf9a51","name":"Switch"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v23.0/me/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('get Instance').item.json.access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"recipient\": {\n    \"comment_id\": \"{{ $('Webhook').item.json.body.entry[0].changes[0].value.id }}\"\n  },\n  \"message\": {\n    \"text\": {{ JSON.stringify($('AI Agent Comentarios').item.json.output) }}\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1360,-400],"id":"4c3b1394-9f0e-49f5-9e31-f25e1c297462","name":"reponde dm por comentarios"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7b137810-5cc3-446f-a0ad-115365fc6713","leftValue":"={{\n// 1. LÓGICA PARA COMENTARIOS (Changes)\n$json.body.entry?.[0]?.changes ? \n  (\n    // Comparar ID del que escribe (from.id) con TU ID de cuenta (entry.id)\n    // Si son iguales, devuelve TRUE (BLOQUEAR). Si son distintos, FALSE (PASAR).\n    $json.body.entry[0].changes[0].value.from.id == $json.body.entry[0].id\n  ) \n: \n\n// 2. LÓGICA PARA MENSAJES PRIVADOS (DM)\n($json.body.entry?.[0]?.messaging?.[0] ? \n  (\n    // Bloquear si es estado de entrega, lectura o mensaje propio (echo)\n    !!$json.body.entry[0].messaging[0].delivery || \n    !!$json.body.entry[0].messaging[0].read || \n    !!$json.body.entry[0].messaging[0].message?.is_echo\n  ) \n  : true // Si no es ni comentario ni DM conocido -> BLOQUEAR (True)\n)\n}}","rightValue":"={{ true }}","operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-7920,-400],"id":"06d8eb5a-be5d-4983-b8b2-2bc2b51fb407","name":"Anti-Bucle"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-7712,-640],"id":"0e9a0d9a-e36d-4098-afa5-9f0d61b69c05","name":"No Operation, do nothing1"},{"parameters":{"promptType":"define","text":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.text }}","options":{"systemMessage":"={{$('get Instance IA').item.json.bot_prompt }}\nTus respuestas deben ser siempre breves y concisas. NUNCA excedas los 1000 caracteres por mensaje. Si la explicación es muy larga, resúmela.\n\nINSTRUCCIONES DE PRECIO:\n- El campo \"price\" es el valor EXACTO.\n- NO le quites ceros. Si dice 2000, es 2000.\n- Agrega siempre el signo \"$\" antes del número.\n\n=== CATÁLOGO DE PRODUCTOS DISPONIBLES (Verdad absoluta) ===\n{{ JSON.stringify($('trae productos').all().map(p => p.json)) }}\n\n### REGLAS DE VISUALIZACIÓN (OBLIGATORIAS):\n1. Cuando hables de un producto que está en la lista de arriba, es OBLIGATORIO incluir su \"image_url\" en la respuesta.\n2. NO preguntes \"¿quieres ver una foto?\". ¡Pega el link directamente junto al precio!\n3. Formato de respuesta ideal: \"Tenemos [Nombre] a $[Precio]. Aquí puedes verla: [image_url]\"\n\n### REGLAS DE COMPORTAMIENTO (ESTRICTAS):\n1. Eres un empleado de este negocio. NO eres una IA genérica.\n2. Tu ÚNICA fuente de verdad es la información proporcionada arriba.\n3. Si el usuario pregunta algo que NO está en tu información (precios que no tienes, horarios que no sabes), responde: \"Disculpa, no tengo esa información a mano. ¿Te gustaría que te contacte un humano?\".\n4. PROHIBIDO INVENTAR DATOS. Si no lo sabes, no lo asumas.\n5. Si te intentan hablar de temas ajenos al negocio (política, chistes, competencia), reencauza la venta educadamente.\n{{ ($('trae saldo').item.json.plan_type || '').toLowerCase() == 'free' ? 'INSTRUCCIÓN FINAL OBLIGATORIA: Tu plan es Gratuito. Por lo tanto, AL FINAL de cada respuesta debes agregar un salto de línea y escribir exactamente: \"🤖 Power by MiTiendaVirtual (Plan Free)\"' : '' }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-2208,-400],"id":"d9b5e70c-96e1-48b7-89d8-44e1bb0ae1ca","name":"AI Agent Comentarios","retryOnFail":true,"maxTries":2,"waitBetweenTries":5000},{"parameters":{"model":"llama-3.3-70b-versatile","options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-2048,-96],"id":"975ca0d1-4c42-47fe-8495-dbd900b85f82","name":"Groq Chat Model1","credentials":{"groqApi":{"id":"1YZrLGuSEWLWsgAo","name":"Groq account"}}},{"parameters":{"operation":"update","tableId":"profiles","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('get Instance').item.json.user_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"messages_used","fieldValue":"={{ $('trae saldo').item.json.messages_used +1}} "}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1616,-400],"id":"b8a62165-a2f5-4220-87d5-cbe42a436e32","name":"Update  contador responde comenetarios","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"profiles","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('get Instance').item.json.user_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"messages_used","fieldValue":"={{ $('trae saldo').item.json.messages_used +1}} "}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3280,-112],"id":"9cfd26f0-3184-4e11-8e3e-e1b00a71b583","name":"Update  contador envia DM","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"usage_logs","filters":{"conditions":[{"keyName":"message_id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('get Instance').item.json.user_id }}"},{"fieldId":"action","fieldValue":"chat_ia_response_desde_comentario"},{"fieldId":"cost","fieldValue":"1"},{"fieldId":"details","fieldValue":"={{ { \"mensaje\": $('Webhook').item.json.body.entry[0].changes[0].value.text } }}"},{"fieldId":"response_comment","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1872,-400],"id":"b9ba1483-5219-4ec9-b6b2-ad28f14d4ba5","name":"Guardar Log Uso Comments","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"usage_logs","filters":{"conditions":[{"keyName":"message_id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.entry[0].messaging[0].message.mid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('get Instance').item.json.user_id }}"},{"fieldId":"action","fieldValue":"chat_ia_response_dms"},{"fieldId":"cost","fieldValue":"1"},{"fieldId":"details","fieldValue":"={{ { \"mensaje\": $('Webhook').item.json.body.entry[0].messaging[0].message.text } }}"},{"fieldId":"message_id","fieldValue":"={{ $('Webhook').item.json.body.entry[0].messaging[0].message.mid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3552,-112],"id":"925626d4-a5fa-4eab-b508-70e31ef546e1","name":"Guardar Log Uso DMs","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v23.0/me/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('get Instance').item.json.access_token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n  {\n    \"recipient\": {\n      \"id\": $('Webhook').item.json.body.entry[0].messaging[0].sender.id\n    },\n    \"message\": {\n      \"text\": $('AI Agent').item.json.output\n      \n    }\n  }\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-2960,-112],"id":"320a96c1-857c-443c-88eb-988677fb4b6b","name":"reponde dm servicio al cliente","retryOnFail":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-7216,-176],"id":"49043b77-2cdc-4f38-a8cf-6a130549de1a","name":"No Operation, do nothing"},{"parameters":{"operation":"update","tableId":"profiles","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('trae mensajes usados').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"plan_type","fieldValue":"={{ $('Get Plan Free').item.json.code || 'free' }}"},{"fieldId":"monthly_limit","fieldValue":"={{ $('Get Plan Free').item.json.messages_limit || $('Get Plan Free').item.json.products_limit || 50 }}"},{"fieldId":"plan_expires_at","fieldValue":"={{ null }}"},{"fieldId":"messages_used","fieldValue":"0"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5424,-240],"id":"bf1038ba-2645-4098-8fd0-1c81d6ca4a4b","name":"actualiza plan free","alwaysOutputData":false,"credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"889414ec-ddbf-4443-a3b7-f17f59ea6e3c","leftValue":"={{ $('trae mensajes usados').item.json.messages_used }}","rightValue":"={{ $('trae mensajes usados').item.json.monthly_limit }}","operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-6160,-400],"id":"bad74817-5bea-4d2e-93cd-c7fe8630597d","name":"valida cantidad mensajes quedan"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v23.0/{{ $('Webhook').item.json.body.entry[0].changes[0].value.id }}/replies","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('get Instance').item.json.access_token }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"={{$('get Instance IA').item.json.reply_public}} "}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-2512,-400],"id":"e6e1416d-df38-443d-86b9-625e47a5be12","name":"Responde Comentario IG"},{"parameters":{"tableId":"usage_logs","fieldsUi":{"fieldValues":[{"fieldId":"message_id","fieldValue":"={{ \n$('Webhook').item.json.body.entry[0].messaging ? \n$('Webhook').item.json.body.entry[0].messaging[0].message.mid : \n$('Webhook').item.json.body.entry[0].changes[0].value.id \n}}"},{"fieldId":"type","fieldValue":"={{  $json.body.entry[0].changes ? 'comment' : ($json.body.entry[0].messaging ? 'message' : 'dm')  }}"},{"fieldId":"sender_id","fieldValue":"={{ \n  $node[\"Webhook\"].json.body?.entry?.[0]?.changes?.[0]?.value?.from?.id || \n  $node[\"Webhook\"].json.body?.entry?.[0]?.messaging?.[0]?.sender?.id || \n  0 \n}}"},{"fieldId":"media_id","fieldValue":"={{ $node[\"Webhook\"].json.body.entry[0].changes[0].value.media.id }}"},{"fieldId":"provider_id","fieldValue":"={{ $node[\"Webhook\"].json.body.entry[0].id}}"},{"fieldId":"details","fieldValue":"={{  $('Webhook').item.json.body.entry[0].messaging ?   $('Webhook').item.json.body.entry[0].messaging[0].message.text  :  $('Webhook').item.json.body.entry[0].changes[0].value.text }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-7648,-384],"id":"f5069db6-5516-4aed-b30d-ffa43f81f980","name":"inicializa usage_logs","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"getAll","tableId":"profiles","limit":1,"filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('get Instance').item.json.user_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6400,-400],"id":"8ee776b7-499c-453c-9b25-83bdd9995e94","name":"trae mensajes usados","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"profiles","limit":1,"filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('get Instance').item.json.user_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5216,-416],"id":"46929ef2-a96b-4441-bc82-526ec127d33a","name":"trae saldo","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"products","limit":20,"filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $('trae saldo').item.json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-5008,-416],"id":"c969a5d7-348c-42cc-bbb7-e2a3e1b5e2ea","name":"trae productos","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"chat_states","filters":{"conditions":[{"keyName":"instagram_id","keyValue":"={{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}"},{"keyName":"status","keyValue":"human"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4480,-112],"id":"e22c2b72-0da1-40c5-8f3f-a3d62379c353","name":"Verificar Estado","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"description":"Utiliza esta herramienta EXCLUSIVAMENTE cuando el usuario pida hablar con un humano, persona real o soporte. No la uses para otras cosas.","workflowId":{"__rl":true,"value":"gVIWY3kFAMV9tbD4X5DmA","mode":"list","cachedResultUrl":"/workflow/gVIWY3kFAMV9tbD4X5DmA","cachedResultName":"Tool - Pasar a Humano"},"workflowInputs":{"mappingMode":"defineBelow","value":{"instagram_id":"={{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}","user_id":"={{ $('get Instance').item.json.user_id }}","motivo":"={{ $json.input }}"},"matchingColumns":["instagram_id"],"schema":[{"id":"instagram_id","displayName":"instagram_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"motivo","displayName":"motivo","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-3472,128],"id":"33071284-9851-4f07-a3c6-85671392b731","name":"Call 'Tool - Pasar a Humano'"},{"parameters":{"content":"### Control de respuesta comentario , \nspam y palabra secreta","height":80,"width":336},"type":"n8n-nodes-base.stickyNote","position":[-4144,-336],"typeVersion":1,"id":"e3a187d5-8efe-4e4c-83e6-56b241e678c4","name":"Sticky Note"},{"parameters":{"content":"## Valida el if si es solo pla planes free no se debe renovar el saldo"},"type":"n8n-nodes-base.stickyNote","position":[-5984,-32],"typeVersion":1,"id":"fc182536-feca-4a9f-9be3-28e4aaffbf65","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"30f60d4f-64db-4d5e-81a8-f821b5fd63c6","leftValue":"={{ $('trae mensajes usados').item.json.plan_type }}","rightValue":"free","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-5952,-224],"id":"86578ed8-9c94-4b09-9fcf-3eb791f308d4","name":"valida plan"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5408,-32],"id":"d69b652a-4607-483d-80b3-0380d6403457","name":"No Operation, do nothing3"},{"parameters":{"method":"POST","url":"https://api.resend.com/emails","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"Alerta Bot <alerta@mitiendavirtual.cl>\",\n  \"to\": [\n    \"{{ $('trae mensajes usados').item.json.email }}\"\n  ],\n  \"subject\": \"🚨 URGENTE: Tu Bot se quedó sin saldo\",\n  \"html\": \"<p>Hola <strong>{{ $('trae mensajes usados').item.json.full_name }}</strong>,</p><p>Tu cliente (ID:  {{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }} intentó hablar con el bot, pero no pudimos responder porque <strong>tu saldo mensual se ha agotado</strong> o tu plan venció.Para tu seguridad, hemos actualizado tu plan a free, que te da algunas conversaciones mas, para que puedas operar. 🛑</p><p>Para no perder más ventas, recarga tu plan ahora mismo:</p><p>👉 <a href='https://mitiendavirtual.cl'><strong>Click aquí para Recargar Saldo</strong></a></p><p>Saludos,<br>El equipo de MiTiendaVirtual</p>\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-5664,-240],"id":"b7852457-873e-484c-b87e-1305ab8d4213","name":"Urgente aviso cambio de plan","credentials":{"httpHeaderAuth":{"id":"kuL2GPl1aX6BckWu","name":"Resend Api"}}},{"parameters":{"method":"POST","url":"https://api.resend.com/emails","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": \"Alerta Bot <alerta@mitiendavirtual.cl>\",\n  \"to\": [\n    \"{{ $('trae mensajes usados').item.json.email }}\"\n  ],\n  \"subject\": \"🚨 URGENTE: Tu Bot se quedó sin saldo\",\n  \"html\": \"<p>Hola <strong>{{ $('trae mensajes usados').item.json.full_name }}</strong>,</p><p>Tu cliente (ID:  {{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }} intentó hablar con el bot, pero no pudimos responder porque <strong>tu saldo mensual se ha agotado</strong> o tu plan venció.Para tu seguridad.🛑</p><p>Para no perder más ventas, recarga tu plan ahora mismo:</p><p>👉 <a href='https://mitiendavirtual.cl'><strong>Click aquí para Recargar Saldo</strong></a></p><p>Saludos,<br>El equipo de MiTiendaVirtual</p>\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-5648,-32],"id":"1d2b1139-ff0c-4584-86cc-7b366c36631d","name":"Urgente sin saldo","credentials":{"httpHeaderAuth":{"id":"kuL2GPl1aX6BckWu","name":"Resend Api"}}},{"parameters":{"content":"## Valida el if si es solo pla planes free no se debe renovar el saldo"},"type":"n8n-nodes-base.stickyNote","position":[-5200,-192],"typeVersion":1,"id":"4e0de514-f399-4375-86bb-b1d592c1bc43","name":"Sticky Note2"},{"parameters":{"operation":"get","tableId":"usage_logs","filters":{"conditions":[{"keyName":"sender_id","keyValue":"={{ $('Webhook').first().json.body?.entry?.[0]?.changes?.[0]?.value?.from?.id || $('Webhook').first().json.body?.entry?.[0]?.messaging?.[0]?.sender?.id || 0 }}"},{"keyName":"type","keyValue":"comment"},{"keyName":"media_id","keyValue":"={{ $('Webhook').first().json.body?.entry?.[0]?.changes?.[0]?.value?.media?.id }}"},{"keyName":"user_id","keyValue":"={{ $('get Instance').first().json.user_id }}"},{"keyName":"provider_id","keyValue":"={{ $('Webhook').first().json.body?.entry?.[0].id}}"},{"keyName":"message_id","keyValue":"={{  $('Webhook').item.json.body.entry[0].messaging ?  $('Webhook').item.json.body.entry[0].messaging[0].message.mid :  $('Webhook').item.json.body.entry[0].changes[0].value.id  }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4560,-432],"id":"083b57d9-8c1d-48c0-be27-6f7fd542f524","name":"Obtiene conversacion","alwaysOutputData":false,"executeOnce":true,"credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"usage_logs","filters":{"conditions":[{"keyName":"message_id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.entry[0].changes?.[0].value.id || $('Webhook').item.json.body.entry[0].messaging?.[0].message.mid }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('get Instance').item.json.user_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6672,-400],"id":"d2a302a6-3672-401d-a1a2-edbc32fbb49f","name":"Guardar user_id en Log","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"jsCode":"const records = items;\nconst now = new Date();\nconst VENTANA_HORAS = 2;\n\n// Si por alguna razón la consulta viene vacía, permitimos responder por seguridad\nif (!records || records.length <= 1) {\n  return [{\n    json: {\n      can_respond: true,\n      reason: \"No se encontraron registros previos. Responder disponible.\",\n      hours_remaining: 0\n    }\n  }];\n}\n\n/**\n * 1. ORDENAMIENTO\n * Ordenamos para asegurar que el índice [0] sea siempre el más reciente\n */\nconst sortedRecords = [...records].sort((a, b) => \n  new Date(b.json.created_at) - new Date(a.json.created_at)\n);\n\nconst lastRecord = sortedRecords[0].json;\nconst lastResponseDate = new Date(lastRecord.created_at);\n\n// Cálculo de tiempo transcurrido\nconst diffMs = now - lastResponseDate;\nconst hoursElapsed = diffMs / (1000 * 60 * 60);\nconst minutesElapsed = diffMs / (1000 * 60);\n\n// Cálculo de tiempo restante\nconst hoursRemaining = Math.max(0, VENTANA_HORAS - hoursElapsed);\nconst minutesRemaining = Math.max(0, (VENTANA_HORAS * 60) - minutesElapsed);\n\nlet canRespond = false;\nlet reason = \"\";\n\n/**\n * 2. VALIDACIÓN DE VENTANA\n */\nif (hoursElapsed >= VENTANA_HORAS) {\n    canRespond = true;\n    reason = `Permitido: Han pasado ${hoursElapsed.toFixed(2)}h.`;\n} else {\n    canRespond = false;\n    reason = `Bloqueado: Re-contacto muy pronto. Faltan ${minutesRemaining.toFixed(0)} minutos para cumplir las 2h.`;\n}\n\nreturn [{\n  json: {\n    can_respond: canRespond,\n    reason: reason,\n    last_contact: lastRecord.created_at,\n    hours_elapsed: hoursElapsed.toFixed(2),\n    minutes_remaining: minutesRemaining.toFixed(0),\n    total_messages_analizados: records.length\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3760,-640],"id":"d0c77e93-708d-46ce-9ab1-91d1aaf1e6ec","name":"sort y análisis padre e hijos"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-4176,128],"id":"84c9cb5e-7657-4968-8ca2-18fffb74ea3c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"x102Fc6eiHRwiPt1","name":"OpenAi account"}}},{"parameters":{"description":"Eres un asistente experto. Tu base de conocimientos específica para este negocio se encuentra en la herramienta 'Tool - Buscador Inteligente'.\n\nSi el usuario pregunta por productos, servicios, precios, horarios, ubicaciones o cualquier detalle operativo, DEBES usar la herramienta de búsqueda antes de responder.\n\nNo inventes información. Si tras buscar no encuentras el dato, usa la herramienta 'Tool - Pasar a Humano'.\n\nTus respuestas deben ser breves y concisas. NUNCA excedas los 1000 caracteres. Si la explicación es muy larga, resúmela.","workflowId":{"__rl":true,"value":"CCEahHzGReI4SAKVig2bc","mode":"list","cachedResultUrl":"/workflow/CCEahHzGReI4SAKVig2bc","cachedResultName":"Tool - Buscador Inteligente"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', `Extrae la query desde el texto, que viene en el mensaje  de webhook`, 'string') }}","plan":"={{ $('trae saldo').item.json.plan_type }}","user_id":"={{ $('get Instance').item.json.user_id }}"},"matchingColumns":[],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"plan","displayName":"plan","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-3824,128],"id":"1018ab00-15a0-41cc-a627-90b7279a0248","name":"Call 'Tool - Buscador Inteligente'"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-4000,128],"id":"e28a302b-dbdc-412f-9378-eee21f338415","name":"Memoria de agente"},{"parameters":{"description":"Usa esta herramienta ÚNICAMENTE cuando el cliente confirme su intención de compra o agendamiento. Esta herramienta guarda el prospecto en la base de datos para que un humano lo contacte. Debes haber intentado obtener el nombre y WhatsApp antes, pero si no los da, usa 'Anónimo' y 'Chat Directo'. Es vital para el proceso de ventas del negocio.\"","workflowId":{"__rl":true,"value":"0yuSoBP0x8NztpyP1VtGN","mode":"list","cachedResultUrl":"/workflow/0yuSoBP0x8NztpyP1VtGN","cachedResultName":"Cosechador de Oro"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $('get Instance').item.json.user_id }}","cliente_nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cliente_nombre', ``, 'string') }}","whatsapp_contacto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('whatsapp_contacto', ``, 'string') }}","intencion_compra":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('intencion_compra', ``, 'string') }}","resumen_chat":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('resumen_chat', ``, 'string') }}","valor_estimado":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('valor_estimado', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"cliente_nombre","displayName":"cliente_nombre","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"whatsapp_contacto","displayName":"whatsapp_contacto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"intencion_compra","displayName":"intencion_compra","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"resumen_chat","displayName":"resumen_chat","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"valor_estimado","displayName":"valor_estimado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-3648,128],"id":"99121177-c275-4ab0-a64f-d707bb50cd10","name":"Call 'Cosechador de Oro'"},{"parameters":{"operation":"getAll","tableId":"instances","limit":1,"filters":{"conditions":[{"keyName":"provider_id","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.entry[0].id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-7168,-400],"id":"7b99370d-b7c6-4605-abb9-a4369215fdd7","name":"get Instance","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"instance_personalities","limit":1,"filters":{"conditions":[{"keyName":"instance_id","condition":"eq","keyValue":"={{ $json.id}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-6912,-400],"id":"b948208e-e25a-437a-a024-f21beac48793","name":"get Instance IA","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"96e8284d-7268-4aa7-b76f-f93f3d612455","leftValue":"={{$('get Instance IA').item.json.activation_keyword}}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3104,-416],"id":"c81099d3-5c8a-4c00-a456-af0e215da34f","name":"esta configurado palabra secreta"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0a9b83e6-83b4-4fec-9ba5-c7ff4b8d315e","leftValue":"={{ $('Webhook').item.json.body.entry[0].changes[0].value.text }}","rightValue":"={{$('get Instance IA').item.json.activation_keyword}}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-2816,-528],"id":"33f1ce93-0817-4b69-9f71-d81df77c82cf","name":"Filtra Palabra Secreta"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5ff82824-68e0-4754-b230-ecac242b4b27","leftValue":"={{$('get Instance IA').item.json.antispam_enabled}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4288,-432],"id":"7336a6d6-1de7-42c5-b4b7-b75900e96ac2","name":"Antispam"},{"parameters":{"content":"### Valida 24 horas, desde que haya pasado el comentario","height":96,"width":448},"type":"n8n-nodes-base.stickyNote","position":[-3952,-768],"typeVersion":1,"id":"0cdd57a1-50de-40bf-8860-48dc606c4987","name":"Sticky Note3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0a9b83e6-83b4-4fec-9ba5-c7ff4b8d315e","leftValue":"={{ Object.keys($json).length }}","rightValue":1,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-4192,-112],"id":"cb8453c1-7207-4c0b-aec4-20aa5b7bc5b3","name":"valida state bot"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0a9b83e6-83b4-4fec-9ba5-c7ff4b8d315e","leftValue":"={{ $json.can_respond }}","rightValue":"={{$('get Instance IA').item.json.activation_keyword}}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-3424,-640],"id":"85dc65a2-77ce-4062-8896-51e3b9e7f233","name":"existe conversacion/comentario"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-2272,-128],"id":"dbcc6c2c-98a2-46c7-bae7-751ae687f962","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"x102Fc6eiHRwiPt1","name":"OpenAi account"}}},{"parameters":{"content":"## Trae conversacion por mensaje","height":80,"width":336},"type":"n8n-nodes-base.stickyNote","position":[-4656,-560],"typeVersion":1,"id":"2414630b-252e-4459-8bf8-b0eeb513144e","name":"Sticky Note4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"98501801-007c-43d5-9cc4-56244d8143c7","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-7408,-384],"id":"27b09f5c-8324-4bb1-a8bc-3092fc0a739f","name":"is error"},{"parameters":{"operation":"getAll","tableId":"usage_logs","limit":1,"matchType":"allFilters","filters":{"conditions":[{"keyName":"sender_id","condition":"eq","keyValue":"={{ $('Webhook').first().json.body?.entry?.[0]?.changes?.[0]?.value?.from?.id || $('Webhook').first().json.body?.entry?.[0]?.messaging?.[0]?.sender?.id || 0 }}"},{"keyName":"type","condition":"eq","keyValue":"comment"},{"keyName":"media_id","condition":"eq","keyValue":"={{ $('Webhook').first().json.body?.entry?.[0]?.changes?.[0]?.value?.media?.id }}"},{"keyName":"user_id","condition":"eq","keyValue":"={{ $('get Instance').first().json.user_id }}"},{"keyName":"provider_id","condition":"gte","keyValue":"={{ $('Webhook').first().json.body?.entry?.[0].id}}"},{"keyName":"response_comment","condition":"is","keyValue":"False"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4032,-640],"id":"39125b00-d0b0-42cc-8554-877b173000df","name":"Obtiene conversacion 2 hrs","alwaysOutputData":false,"executeOnce":false,"retryOnFail":false,"credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}}],"connections":{"Webhook":{"main":[[],[{"node":"Anti-Bucle","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Guardar Log Uso DMs","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Obtiene conversacion","type":"main","index":0}],[{"node":"Verificar Estado","type":"main","index":0}]]},"Anti-Bucle":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}],[{"node":"inicializa usage_logs","type":"main","index":0}]]},"AI Agent Comentarios":{"main":[[{"node":"Guardar Log Uso Comments","type":"main","index":0}]]},"Update  contador responde comenetarios":{"main":[[{"node":"reponde dm por comentarios","type":"main","index":0}]]},"Update  contador envia DM":{"main":[[{"node":"reponde dm servicio al cliente","type":"main","index":0}]]},"Guardar Log Uso Comments":{"main":[[{"node":"Update  contador responde comenetarios","type":"main","index":0}]]},"Guardar Log Uso DMs":{"main":[[{"node":"Update  contador envia DM","type":"main","index":0}]]},"actualiza plan free":{"main":[[{"node":"trae saldo","type":"main","index":0}]]},"valida cantidad mensajes quedan":{"main":[[{"node":"trae saldo","type":"main","index":0}],[{"node":"valida plan","type":"main","index":0}]]},"Responde Comentario IG":{"main":[[{"node":"AI Agent Comentarios","type":"main","index":0}]]},"inicializa usage_logs":{"main":[[{"node":"is error","type":"main","index":0}]]},"trae mensajes usados":{"main":[[{"node":"valida cantidad mensajes quedan","type":"main","index":0}]]},"trae saldo":{"main":[[{"node":"trae productos","type":"main","index":0}]]},"trae productos":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Verificar Estado":{"main":[[{"node":"valida state bot","type":"main","index":0}]]},"Call 'Tool - Pasar a Humano'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"valida plan":{"main":[[{"node":"Urgente aviso cambio de plan","type":"main","index":0}],[{"node":"Urgente sin saldo","type":"main","index":0}]]},"Urgente aviso cambio de plan":{"main":[[{"node":"Get Plan Free","type":"main","index":0}]]},"Get Plan Free":{"main":[[{"node":"actualiza plan free","type":"main","index":0}]]},"Urgente sin saldo":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"Obtiene conversacion":{"main":[[{"node":"Antispam","type":"main","index":0}]]},"Guardar user_id en Log":{"main":[[{"node":"trae mensajes usados","type":"main","index":0}]]},"sort y análisis padre e hijos":{"main":[[{"node":"existe conversacion/comentario","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Call 'Tool - Buscador Inteligente'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Memoria de agente":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Call 'Cosechador de Oro'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"get Instance":{"main":[[{"node":"get Instance IA","type":"main","index":0}]]},"get Instance IA":{"main":[[{"node":"Guardar user_id en Log","type":"main","index":0}]]},"esta configurado palabra secreta":{"main":[[{"node":"Filtra Palabra Secreta","type":"main","index":0}],[{"node":"Responde Comentario IG","type":"main","index":0}]]},"Filtra Palabra Secreta":{"main":[[{"node":"Responde Comentario IG","type":"main","index":0}]]},"Antispam":{"main":[[{"node":"Obtiene conversacion 2 hrs","type":"main","index":0}],[{"node":"esta configurado palabra secreta","type":"main","index":0}]]},"valida state bot":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"existe conversacion/comentario":{"main":[[{"node":"esta configurado palabra secreta","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent Comentarios","type":"ai_languageModel","index":0}]]},"is error":{"main":[[{"node":"get Instance","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Obtiene conversacion 2 hrs":{"main":[[{"node":"sort y análisis padre e hijos","type":"main","index":0}]]}},"authors":"Felipe Gomez","name":"Version 5224f0d6","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-19T00:52:54.774Z","id":761,"workflowId":"7OeEVHgT1Ns95TMO","versionId":"5224f0d6-6e26-469d-b7d7-e66309dd062e","event":"activated","userId":"835ef969-7ad7-411f-8c05-1019ce967293"}]},"scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:update"],"checksum":"5f0e8b8d33fdd736222d7305afd26aa809a280997c2144b8b2905abdc349eb04"}}