n8n_backup_20260423_230818/workflow_AeNSbryrX2-qEmz7psP-R.json
{"data":{"updatedAt":"2026-02-10T02:43:25.932Z","createdAt":"2026-02-10T00:26:51.539Z","id":"AeNSbryrX2-qEmz7psP-R","name":"Unsubscribe App","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"multipleMethods":true,"path":"instagram-unsuscribed","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-592,32],"id":"d4378187-dab7-4fc4-b2fd-191f0adc956d","name":"Webhook","webhookId":"1f73eea1-f7d1-4d71-bdd1-2d6c1e08088a"},{"parameters":{"method":"DELETE","url":"=https://graph.facebook.com/v21.0/me/subscribed_apps","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $json.body.accessToken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-208,48],"id":"476d48ae-6324-4605-905d-fe51fc3099dc","name":"Unsuscribed app"},{"parameters":{"respondWith":"json","responseBody":"{\"status\": \"success\", \"message\": \"App unsubscribed\"}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[256,48],"id":"e6a6af91-efac-4e41-82b6-4a546b768b39","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[],[{"node":"Unsuscribed app","type":"main","index":0}]]},"Unsuscribed app":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"89633759-339a-45d2-958d-a7d3610f91b6","activeVersionId":"89633759-339a-45d2-958d-a7d3610f91b6","versionCounter":28,"triggerCount":1,"shared":[{"updatedAt":"2026-02-10T00:26:51.545Z","createdAt":"2026-02-10T00:26:51.545Z","role":"workflow:owner","workflowId":"AeNSbryrX2-qEmz7psP-R","projectId":"Dv9n0fTb4o45RMgf","project":{"updatedAt":"2026-01-18T23:02:15.869Z","createdAt":"2026-01-18T22:31:52.086Z","id":"Dv9n0fTb4o45RMgf","name":"Felipe Gomez <fe.gomez.tre@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"835ef969-7ad7-411f-8c05-1019ce967293","projectRelations":[{"updatedAt":"2026-01-18T22:31:52.086Z","createdAt":"2026-01-18T22:31:52.086Z","userId":"835ef969-7ad7-411f-8c05-1019ce967293","projectId":"Dv9n0fTb4o45RMgf","user":{"updatedAt":"2026-04-24T02:54:22.000Z","createdAt":"2026-01-18T22:31:50.891Z","id":"835ef969-7ad7-411f-8c05-1019ce967293","email":"fe.gomez.tre@gmail.com","firstName":"Felipe","lastName":"Gomez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-18T23:02:44.341Z","personalization_survey_n8n_version":"2.3.6","automationGoalDevops":["other"],"companyType":"saas","role":"it"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"u7Yj8nQneu2cJvSDmp_ST","userActivatedAt":1769178337937,"npsSurvey":{"responded":true,"lastShownAt":1769442979769}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-23","isPending":false}}]}}],"tags":[],"parentFolder":null,"activeVersion":{"updatedAt":"2026-02-10T02:43:28.000Z","createdAt":"2026-02-10T02:43:25.933Z","versionId":"89633759-339a-45d2-958d-a7d3610f91b6","workflowId":"AeNSbryrX2-qEmz7psP-R","nodes":[{"parameters":{"multipleMethods":true,"path":"instagram-unsuscribed","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-592,32],"id":"d4378187-dab7-4fc4-b2fd-191f0adc956d","name":"Webhook","webhookId":"1f73eea1-f7d1-4d71-bdd1-2d6c1e08088a"},{"parameters":{"method":"DELETE","url":"=https://graph.facebook.com/v21.0/me/subscribed_apps","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"={{ $json.body.accessToken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-208,48],"id":"476d48ae-6324-4605-905d-fe51fc3099dc","name":"Unsuscribed app"},{"parameters":{"respondWith":"json","responseBody":"{\"status\": \"success\", \"message\": \"App unsubscribed\"}","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[256,48],"id":"e6a6af91-efac-4e41-82b6-4a546b768b39","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[],[{"node":"Unsuscribed app","type":"main","index":0}]]},"Unsuscribed app":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Felipe Gomez","name":"Version 89633759","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-10T02:43:28.753Z","id":441,"workflowId":"AeNSbryrX2-qEmz7psP-R","versionId":"89633759-339a-45d2-958d-a7d3610f91b6","event":"activated","userId":"835ef969-7ad7-411f-8c05-1019ce967293"}]},"scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:update"],"checksum":"22cf8a2d3c2457f8417a6a92d07534b6b8c01f1f34ed85b41d4bdef2e31b5040"}}