n8n_backup_20260423_230818/workflow_O2T6hXfZOELVgGAiERN21.json
{"data":{"updatedAt":"2026-04-12T18:43:37.008Z","createdAt":"2026-01-24T01:45:19.005Z","id":"O2T6hXfZOELVgGAiERN21","name":"Verdugo(Actualiza Plan Free)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[112,-336],"id":"99b27089-23f7-43b7-a171-6d924f76c7c4","name":"Schedule Trigger"},{"parameters":{"operation":"getAll","tableId":"profiles","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"plan_expires_at","condition":"lt","keyValue":"=$now"},{"keyName":"plan_type","condition":"neq","keyValue":"Free"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[320,-336],"id":"bb181501-c2de-49e6-85fd-5798fea9c2e2","name":"Get many rows","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"profiles","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"plan_type","fieldValue":"Free"},{"fieldId":"monthly_limit","fieldValue":"50"},{"fieldId":"plan_expires_at","fieldValue":"={{ null }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[528,-336],"id":"f667dfb4-5678-4f73-af68-9d4748f1a6b3","name":"Update a row","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"=https://iesmzunoepfwkxilvxdv.supabase.co/rest/v1/rpc/suspend_excess_products","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"p_user_id","value":"={{ $('Get many rows').item.json.id }}"},{"name":"p_limit","value":10}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[736,-336],"id":"3ec46705-682b-4d22-a0f7-a59584e9e5d0","name":"Suspender Productos Excedentes","credentials":{"httpHeaderAuth":{"id":"bRPHwOivYfq5D2ib","name":"supa base secret"}},"notes":"Suspende los productos que exceden el límite del plan Free (10). Llama a la función RPC suspend_excess_products en Supabase."}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"Update a row","type":"main","index":0}]]},"Update a row":{"main":[[{"node":"Suspender Productos Excedentes","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"038e134f-4896-4ecc-b1b6-35dcc27879dd","activeVersionId":"038e134f-4896-4ecc-b1b6-35dcc27879dd","versionCounter":22,"triggerCount":1,"shared":[{"updatedAt":"2026-01-24T01:45:19.012Z","createdAt":"2026-01-24T01:45:19.012Z","role":"workflow:owner","workflowId":"O2T6hXfZOELVgGAiERN21","projectId":"Dv9n0fTb4o45RMgf","project":{"updatedAt":"2026-01-18T23:02:15.869Z","createdAt":"2026-01-18T22:31:52.086Z","id":"Dv9n0fTb4o45RMgf","name":"Felipe Gomez <fe.gomez.tre@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"835ef969-7ad7-411f-8c05-1019ce967293","projectRelations":[{"updatedAt":"2026-01-18T22:31:52.086Z","createdAt":"2026-01-18T22:31:52.086Z","userId":"835ef969-7ad7-411f-8c05-1019ce967293","projectId":"Dv9n0fTb4o45RMgf","user":{"updatedAt":"2026-04-24T02:54:22.000Z","createdAt":"2026-01-18T22:31:50.891Z","id":"835ef969-7ad7-411f-8c05-1019ce967293","email":"fe.gomez.tre@gmail.com","firstName":"Felipe","lastName":"Gomez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-18T23:02:44.341Z","personalization_survey_n8n_version":"2.3.6","automationGoalDevops":["other"],"companyType":"saas","role":"it"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"u7Yj8nQneu2cJvSDmp_ST","userActivatedAt":1769178337937,"npsSurvey":{"responded":true,"lastShownAt":1769442979769}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-23","isPending":false}}]}}],"tags":[],"parentFolder":null,"activeVersion":{"updatedAt":"2026-04-12T18:43:42.000Z","createdAt":"2026-04-12T16:45:49.050Z","versionId":"038e134f-4896-4ecc-b1b6-35dcc27879dd","workflowId":"O2T6hXfZOELVgGAiERN21","nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[112,-336],"id":"99b27089-23f7-43b7-a171-6d924f76c7c4","name":"Schedule Trigger"},{"parameters":{"operation":"getAll","tableId":"profiles","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"plan_expires_at","condition":"lt","keyValue":"=$now"},{"keyName":"plan_type","condition":"neq","keyValue":"Free"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[320,-336],"id":"bb181501-c2de-49e6-85fd-5798fea9c2e2","name":"Get many rows","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"profiles","matchType":"allFilters","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"plan_type","fieldValue":"Free"},{"fieldId":"monthly_limit","fieldValue":"50"},{"fieldId":"plan_expires_at","fieldValue":"={{ null }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[528,-336],"id":"f667dfb4-5678-4f73-af68-9d4748f1a6b3","name":"Update a row","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"=https://iesmzunoepfwkxilvxdv.supabase.co/rest/v1/rpc/suspend_excess_products","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"p_user_id","value":"={{ $('Get many rows').item.json.id }}"},{"name":"p_limit","value":10}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[736,-336],"id":"3ec46705-682b-4d22-a0f7-a59584e9e5d0","name":"Suspender Productos Excedentes","credentials":{"httpHeaderAuth":{"id":"bRPHwOivYfq5D2ib","name":"supa base secret"}},"notes":"Suspende los productos que exceden el límite del plan Free (10). Llama a la función RPC suspend_excess_products en Supabase."}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"Update a row","type":"main","index":0}]]},"Update a row":{"main":[[{"node":"Suspender Productos Excedentes","type":"main","index":0}]]}},"authors":"Felipe Gomez","name":"Version 038e134f","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-12T16:45:52.772Z","id":693,"workflowId":"O2T6hXfZOELVgGAiERN21","versionId":"038e134f-4896-4ecc-b1b6-35dcc27879dd","event":"activated","userId":"835ef969-7ad7-411f-8c05-1019ce967293"},{"createdAt":"2026-04-12T18:43:42.859Z","id":697,"workflowId":"O2T6hXfZOELVgGAiERN21","versionId":"038e134f-4896-4ecc-b1b6-35dcc27879dd","event":"activated","userId":"835ef969-7ad7-411f-8c05-1019ce967293"},{"createdAt":"2026-04-12T18:43:40.470Z","id":696,"workflowId":"O2T6hXfZOELVgGAiERN21","versionId":"038e134f-4896-4ecc-b1b6-35dcc27879dd","event":"deactivated","userId":"835ef969-7ad7-411f-8c05-1019ce967293"}]},"scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:update"],"checksum":"e00cf81f84b350b4ee33cb1082dd2006fe04640aa5a52cd78227760016b11aef"}}