n8n_backup_20260423_230818/workflow_SxTXv37tLKBK7Pk-p6vfq.json
{"data":{"updatedAt":"2026-01-31T18:44:01.422Z","createdAt":"2026-01-28T23:44:13.839Z","id":"SxTXv37tLKBK7Pk-p6vfq","name":"El Rescatista (Human > Bot)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"getAll","tableId":"chat_states","returnAll":true,"filters":{"conditions":[{"keyName":"status","condition":"eq","keyValue":"human"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[144,0],"id":"59f7cd2d-2293-4b7c-9fcb-47e30a99883c","name":"Buscar Conversaciones \"Humanas","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"f7179372-aef5-4486-af76-e072e0cce5c6","leftValue":"={{ $json.updated_at ? $json.updated_at : $now }}","rightValue":"={{ $now.minus(2, 'hours') }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[416,0],"id":"754ac3af-3c6b-44b3-8cd2-0a76fc4591c9","name":"La Matemática del Tiempo (El Filtro)"},{"parameters":{"operation":"update","tableId":"chat_states","filters":{"conditions":[{"keyName":"instagram_id","condition":"eq","keyValue":"={{ $('Buscar Conversaciones \"Humanas').item.json.instagram_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"bot"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[688,-80],"id":"91b354df-437b-4450-8f19-43a0e8c2e0a4","name":"Update a row","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-192,-128],"id":"d35a2282-5bfa-41c5-ac63-12f20a9c2fd5","name":"Schedule Trigger"}],"connections":{"Buscar Conversaciones \"Humanas":{"main":[[{"node":"La Matemática del Tiempo (El Filtro)","type":"main","index":0}]]},"La Matemática del Tiempo (El Filtro)":{"main":[[{"node":"Update a row","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Buscar Conversaciones \"Humanas","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d0175049-7c7d-4121-b3aa-18779466a7cc","activeVersionId":"d0175049-7c7d-4121-b3aa-18779466a7cc","versionCounter":11,"triggerCount":1,"shared":[{"updatedAt":"2026-01-28T23:44:13.842Z","createdAt":"2026-01-28T23:44:13.842Z","role":"workflow:owner","workflowId":"SxTXv37tLKBK7Pk-p6vfq","projectId":"Dv9n0fTb4o45RMgf","project":{"updatedAt":"2026-01-18T23:02:15.869Z","createdAt":"2026-01-18T22:31:52.086Z","id":"Dv9n0fTb4o45RMgf","name":"Felipe Gomez <fe.gomez.tre@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"835ef969-7ad7-411f-8c05-1019ce967293","projectRelations":[{"updatedAt":"2026-01-18T22:31:52.086Z","createdAt":"2026-01-18T22:31:52.086Z","userId":"835ef969-7ad7-411f-8c05-1019ce967293","projectId":"Dv9n0fTb4o45RMgf","user":{"updatedAt":"2026-04-24T02:54:22.000Z","createdAt":"2026-01-18T22:31:50.891Z","id":"835ef969-7ad7-411f-8c05-1019ce967293","email":"fe.gomez.tre@gmail.com","firstName":"Felipe","lastName":"Gomez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-18T23:02:44.341Z","personalization_survey_n8n_version":"2.3.6","automationGoalDevops":["other"],"companyType":"saas","role":"it"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"u7Yj8nQneu2cJvSDmp_ST","userActivatedAt":1769178337937,"npsSurvey":{"responded":true,"lastShownAt":1769442979769}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-23","isPending":false}}]}}],"tags":[],"parentFolder":null,"activeVersion":{"updatedAt":"2026-01-31T18:44:10.000Z","createdAt":"2026-01-31T18:44:01.425Z","versionId":"d0175049-7c7d-4121-b3aa-18779466a7cc","workflowId":"SxTXv37tLKBK7Pk-p6vfq","nodes":[{"parameters":{"operation":"getAll","tableId":"chat_states","returnAll":true,"filters":{"conditions":[{"keyName":"status","condition":"eq","keyValue":"human"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[144,0],"id":"59f7cd2d-2293-4b7c-9fcb-47e30a99883c","name":"Buscar Conversaciones \"Humanas","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"f7179372-aef5-4486-af76-e072e0cce5c6","leftValue":"={{ $json.updated_at ? $json.updated_at : $now }}","rightValue":"={{ $now.minus(2, 'hours') }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[416,0],"id":"754ac3af-3c6b-44b3-8cd2-0a76fc4591c9","name":"La Matemática del Tiempo (El Filtro)"},{"parameters":{"operation":"update","tableId":"chat_states","filters":{"conditions":[{"keyName":"instagram_id","condition":"eq","keyValue":"={{ $('Buscar Conversaciones \"Humanas').item.json.instagram_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"bot"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[688,-80],"id":"91b354df-437b-4450-8f19-43a0e8c2e0a4","name":"Update a row","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-192,-128],"id":"d35a2282-5bfa-41c5-ac63-12f20a9c2fd5","name":"Schedule Trigger"}],"connections":{"Buscar Conversaciones \"Humanas":{"main":[[{"node":"La Matemática del Tiempo (El Filtro)","type":"main","index":0}]]},"La Matemática del Tiempo (El Filtro)":{"main":[[{"node":"Update a row","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Buscar Conversaciones \"Humanas","type":"main","index":0}]]}},"authors":"Felipe Gomez","name":"Version d0175049","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-01-31T18:44:10.490Z","id":218,"workflowId":"SxTXv37tLKBK7Pk-p6vfq","versionId":"d0175049-7c7d-4121-b3aa-18779466a7cc","event":"activated","userId":"835ef969-7ad7-411f-8c05-1019ce967293"}]},"scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:update"],"checksum":"29c5b5c778846df4792ce6c1862d793a6d1c3209b238ed9ec8044a2cd4d1737c"}}