n8n_backup_20260423_230818/workflow_DDgbw7AixXdYsP72.json
{"data":{"updatedAt":"2026-03-10T00:19:38.741Z","createdAt":"2026-01-30T02:20:16.055Z","id":"DDgbw7AixXdYsP72","name":"API Carga Faqs","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"carga-faqs","options":{"binaryPropertyName":"faqs","responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Access-Control-Allow-Methods","value":"GET, POST, OPTIONS"},{"name":"Access-Control-Allow-Headers","value":"Content-Type, Authorization"}]}}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1104,-32],"id":"8203723e-a68e-4399-94c9-5b5abe21c798","name":"Webhook","webhookId":"78bf2165-8975-43b2-a420-06e110412052"},{"parameters":{"tableId":"faqs","fieldsUi":{"fieldValues":[{"fieldId":"answer","fieldValue":"={{ $('Code in JavaScript').item.json.answer }}"},{"fieldId":"question","fieldValue":"={{ $('Code in JavaScript').item.json.question }}"},{"fieldId":"user_id","fieldValue":"={{ $('Code in JavaScript').item.json.user_id }}"},{"fieldId":"is_active","fieldValue":"={{true}}"},{"fieldId":"created_at","fieldValue":"={{$now}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[64,-32],"id":"0814a081-6b23-4dd5-b5d6-b150bd80498f","name":"El Almacén Faqs","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"text","binaryPropertyName":"faqs0","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-832,-32],"id":"c64533d5-a0fd-4ea4-a58f-5c6a2de30774","name":"Extract from File"},{"parameters":{"jsCode":"// 1. Buscamos los datos procesados en el nodo \"Extract from File\"\n// Usamos $(node_name) para saltar nodos intermedios\nconst extractedData = $('Extract from File').item.json.data || '';\n\n// 2. Rescatamos el user_id desde el Webhook\nconst userId = $('Webhook').item.json.query.user_id;\n\n// 3. Separamos por líneas\nconst lines = extractedData.split(/\\r?\\n/).filter(line => line.trim().includes('|'));\n\n// 4. Mapeamos cada línea a un objeto independiente\nreturn lines.map((line, index) => {\n  const [question, answer] = line.split('|');\n  \n  return {\n    json: {\n      question: question?.trim() || '',\n      answer: answer?.trim() || '',\n      user_id: userId,\n      original_id: `faq_${Date.now()}_${index}`,\n      // Este es el campo que usará el nodo de Texto IA para el RAG\n      full_text: `Pregunta: ${question?.trim()} | Respuesta: ${answer?.trim()}`\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-192,-32],"id":"853f51f4-e712-47d8-a424-f2fd3f47615c","name":"Code in JavaScript"},{"parameters":{"operation":"delete","tableId":"faqs","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $node[\"Webhook\"].json.query.user_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-528,-32],"id":"18526c45-5ad9-481c-aca9-5b6ea55e234d","name":"Elimina Faqs","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"iDkNhXu6EvzWzssp","mode":"list","cachedResultUrl":"/workflow/iDkNhXu6EvzWzssp","cachedResultName":"Cargar Memoria RAG Faqs"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $('Code in JavaScript').item.json.user_id }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[368,-32],"id":"1356f5fb-65fa-414e-a4b3-2ced035e0e0b","name":"Call 'Cargar Memoria RAG Faqs"}],"connections":{"Webhook":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"El Almacén Faqs":{"main":[[{"node":"Call 'Cargar Memoria RAG Faqs","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Elimina Faqs","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"El Almacén Faqs","type":"main","index":0}]]},"Elimina Faqs":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4a4d23a0-132e-4469-a804-bc9064ea8479","activeVersionId":"4a4d23a0-132e-4469-a804-bc9064ea8479","versionCounter":40,"triggerCount":1,"shared":[{"updatedAt":"2026-01-30T02:20:16.063Z","createdAt":"2026-01-30T02:20:16.063Z","role":"workflow:owner","workflowId":"DDgbw7AixXdYsP72","projectId":"Dv9n0fTb4o45RMgf","project":{"updatedAt":"2026-01-18T23:02:15.869Z","createdAt":"2026-01-18T22:31:52.086Z","id":"Dv9n0fTb4o45RMgf","name":"Felipe Gomez <fe.gomez.tre@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"835ef969-7ad7-411f-8c05-1019ce967293","projectRelations":[{"updatedAt":"2026-01-18T22:31:52.086Z","createdAt":"2026-01-18T22:31:52.086Z","userId":"835ef969-7ad7-411f-8c05-1019ce967293","projectId":"Dv9n0fTb4o45RMgf","user":{"updatedAt":"2026-04-24T02:54:22.000Z","createdAt":"2026-01-18T22:31:50.891Z","id":"835ef969-7ad7-411f-8c05-1019ce967293","email":"fe.gomez.tre@gmail.com","firstName":"Felipe","lastName":"Gomez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-18T23:02:44.341Z","personalization_survey_n8n_version":"2.3.6","automationGoalDevops":["other"],"companyType":"saas","role":"it"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"u7Yj8nQneu2cJvSDmp_ST","userActivatedAt":1769178337937,"npsSurvey":{"responded":true,"lastShownAt":1769442979769}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-04-23","isPending":false}}]}}],"tags":[],"parentFolder":null,"activeVersion":{"updatedAt":"2026-03-10T00:19:45.000Z","createdAt":"2026-03-10T00:19:38.744Z","versionId":"4a4d23a0-132e-4469-a804-bc9064ea8479","workflowId":"DDgbw7AixXdYsP72","nodes":[{"parameters":{"httpMethod":"POST","path":"carga-faqs","options":{"binaryPropertyName":"faqs","responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Access-Control-Allow-Methods","value":"GET, POST, OPTIONS"},{"name":"Access-Control-Allow-Headers","value":"Content-Type, Authorization"}]}}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1104,-32],"id":"8203723e-a68e-4399-94c9-5b5abe21c798","name":"Webhook","webhookId":"78bf2165-8975-43b2-a420-06e110412052"},{"parameters":{"tableId":"faqs","fieldsUi":{"fieldValues":[{"fieldId":"answer","fieldValue":"={{ $('Code in JavaScript').item.json.answer }}"},{"fieldId":"question","fieldValue":"={{ $('Code in JavaScript').item.json.question }}"},{"fieldId":"user_id","fieldValue":"={{ $('Code in JavaScript').item.json.user_id }}"},{"fieldId":"is_active","fieldValue":"={{true}}"},{"fieldId":"created_at","fieldValue":"={{$now}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[64,-32],"id":"0814a081-6b23-4dd5-b5d6-b150bd80498f","name":"El Almacén Faqs","credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"operation":"text","binaryPropertyName":"faqs0","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-832,-32],"id":"c64533d5-a0fd-4ea4-a58f-5c6a2de30774","name":"Extract from File"},{"parameters":{"jsCode":"// 1. Buscamos los datos procesados en el nodo \"Extract from File\"\n// Usamos $(node_name) para saltar nodos intermedios\nconst extractedData = $('Extract from File').item.json.data || '';\n\n// 2. Rescatamos el user_id desde el Webhook\nconst userId = $('Webhook').item.json.query.user_id;\n\n// 3. Separamos por líneas\nconst lines = extractedData.split(/\\r?\\n/).filter(line => line.trim().includes('|'));\n\n// 4. Mapeamos cada línea a un objeto independiente\nreturn lines.map((line, index) => {\n  const [question, answer] = line.split('|');\n  \n  return {\n    json: {\n      question: question?.trim() || '',\n      answer: answer?.trim() || '',\n      user_id: userId,\n      original_id: `faq_${Date.now()}_${index}`,\n      // Este es el campo que usará el nodo de Texto IA para el RAG\n      full_text: `Pregunta: ${question?.trim()} | Respuesta: ${answer?.trim()}`\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-192,-32],"id":"853f51f4-e712-47d8-a424-f2fd3f47615c","name":"Code in JavaScript"},{"parameters":{"operation":"delete","tableId":"faqs","filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $node[\"Webhook\"].json.query.user_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-528,-32],"id":"18526c45-5ad9-481c-aca9-5b6ea55e234d","name":"Elimina Faqs","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"4hWqjffSDMk2pC8i","name":"Supabase account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"iDkNhXu6EvzWzssp","mode":"list","cachedResultUrl":"/workflow/iDkNhXu6EvzWzssp","cachedResultName":"Cargar Memoria RAG Faqs"},"workflowInputs":{"mappingMode":"defineBelow","value":{"user_id":"={{ $('Code in JavaScript').item.json.user_id }}"},"matchingColumns":["user_id"],"schema":[{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[368,-32],"id":"1356f5fb-65fa-414e-a4b3-2ced035e0e0b","name":"Call 'Cargar Memoria RAG Faqs"}],"connections":{"Webhook":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"El Almacén Faqs":{"main":[[{"node":"Call 'Cargar Memoria RAG Faqs","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Elimina Faqs","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"El Almacén Faqs","type":"main","index":0}]]},"Elimina Faqs":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"authors":"Felipe Gomez","name":"Version 4a4d23a0","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-10T00:19:45.881Z","id":503,"workflowId":"DDgbw7AixXdYsP72","versionId":"4a4d23a0-132e-4469-a804-bc9064ea8479","event":"activated","userId":"835ef969-7ad7-411f-8c05-1019ce967293"}]},"scopes":["workflow:create","workflow:delete","workflow:execute","workflow:execute-chat","workflow:list","workflow:move","workflow:publish","workflow:read","workflow:share","workflow:update"],"checksum":"b47596cbe0fd8c50c59a4fac0d2dcf9c14d37cfd6262fae887c44539d9838a60"}}